{% extends "asettings/settings_menu.html" %}
{% load i18n %}
{% block TITLE %}Administrar Ordenes{% endblock %}


{% block bodysettings %}

	<h3>Administrar Ordenes</h3>
	<p>Espaccio para administrar las ordenes que han realizado los clientes de Actarium</p>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>{% trans 'Ordenes de servicio' %}</h3>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr >
						<th>{% trans 'Orden' %}</th>
						<th>{% trans 'Estado' %} </th>
						<th>{% trans 'Usuario' %} </th>
						<th>{% trans 'Organizacion' %} </th>
						<th>{% trans '# miembros' %}</th>
						<th>{% trans '# meses' %}</th>
						<th>{% trans 'Total' %}</th>
						<th>{% trans 'Acciones' %}</th>
					</tr>
				</thead>
				<tbody>
				   {% for order_item in order_items %}
					<tr>
						<td>{{ order_item.id }}</td>
						<td>{{ order_item.order.status.name }}</td>
						<td>{{ order_item.order.customer.actariumcustomers_customer.get_user.username }}</td> 
						<td>{{ order_item.customer_service.organizationservices_service.get_org.name }}</td>
						<td>{{ order_item.order_quantity }}</td>
						<td>{{ order_item.number_of_periods }}</td>
						<td>${{ order_item.get_total_price }}</td>
						<td>
							<button class="btn btn-lg" data-toggle="modal" data-target="#myModal" 
								{% if order_item.order.status.id == 2 %} disabled="disabled" {% endif %}> 
								{% trans 'Aprobar' %} 
							</button>
							<button class="btn btn-lg" data-toggle="modal" data-target="#myModal" > 
								{% trans 'Rechazar' %} 
							</button>
						</td>
					</tr>
				   {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{%block settings_style%}
{% endblock %}

{% block settings_js %}
<script type="text/javascript" ><!--
	$(document).on("ready", function() {
		$("#settings-admin-orders").addClass("active");
	});
</script>
{% endblock %}