{% load i18n %}
<script type="text/template" id="paymentSummaryTpl" >
	<table  class="table" >
		<tr>
			<td> 
				{% trans 'Precio por mes' %}: 
			</td>
			<td class="text-right" >  
				$ <strong id="pricePerMonth">
					{% verbatim %}
						{{ price_per_month}}
					{% endverbatim %}
				</strong>
			</td>
		</tr>
		<tr>
			<td> 
				{% trans 'Sub total' %} 
				{% verbatim %}
						<strong>{{ number_of_months }}</strong>
				{% endverbatim %} meses : 
			</td>
			<td class="text-right">  $ <strong id="subTotal">
					{% verbatim %}
						{{ price_total_months }}
					{% endverbatim %}
				</strong>
			</td>
		</tr>
		<tr>
			<td> {% trans 'Descuento por codigo' %}: 
			</td>
			<td class="text-right">  
				- $ <strong id="discountValue">
					{% verbatim %}
						{{ discount_by_code }}
					{% endverbatim %}
				</strong>
			</td>
		</tr>
		<tr>
			<td> {% trans 'Descuento por mas de 12 meses' %}: 
			</td>
			<td class="text-right">  
				- $ <strong id="discountValue">
					{% verbatim %}
						{{ discount_by_periods }}
					{% endverbatim %}
				</strong>
			</td>
		</tr>
		<tr>
			<td> {% trans 'Total a pagar (IVA incluido):' %}: 
			</td>
			<td class="text-right"> 
				$ <strong id="totalPrice">
					{% verbatim %}
						{{ total }}
					{% endverbatim %}
				</strong>
			</td>
		</tr>
	</table>
</script>