{% extends "base.html" %}
{% load i18n %}
{% block TITLE %}{% trans 'Búsqueda' %}{% endblock %}
{% load gravatartag i18n orgs_ttag humanize %}

{% block body %}
<article>
    {% if search_text %}
    <h3>{% trans 'Restultados para ' %} <strong>{{ search_text }}</strong></h3>
    {% else %}
    <h3>{% trans 'Debes ingresar un texto en el campo de búsqueda' %}</h3>
    {% endif %}
    <div class="white-box-container">
    	<table class="table">
        <tr>
            <th> {% trans 'Acta' %}</th>
            <th> {% trans 'Grupo' %}</th>
            <th> {% trans 'Fecha de creación' %} </th>
        </tr>
        
        {% for minutes in minutes_list %}
            <tr class='clickable-row ' href="{% url 'show_minute' minutes.id_group.slug minutes.code %}">
                    <td>
                       {{ minutes.code }}
                    </td>
                    <td>
                        {{ minutes.id_group.name}}
                    </td>
                    <td>
                        {{ minutes.date_created }}
                    </td>
                
            </tr>
        {% empty %}
            <tr >
                <td colspan="5" >            
                {% trans 'No se encontro ningun resultado' %}
                </td>
            </tr>
            
        {% endfor %}
        
        </table>
    </div>
</article>
{% endblock %}

{% block style %}

<style>


.clickable-row:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}

</style>

{% endblock %}
{% block js %}
<script >
$(document).ready( function() {
        $("#settings-approval-of-minutes").addClass("active");
        $('.breadcrumb').hide()
});
jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
            var win = window.open($(this).attr("href"),'_black');
            win.focus();
      });
});
</script>
{% endblock %}