{% extends "base.html" %}
{% load i18n %}
{% block TITLE %}{% trans 'Home' %}{% endblock %}

{%block body%}
<article>
    {% for o in orgs %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ o.name }}</h3>
          </div>
          <div class="panel-body">
            
          </div>
        </div>
    {% endfor %}
</article>
{%endblock%}

{% block style%}
    <style>
        
    </style>
{%endblock%}

{% block js %}
    {% if user.is_authenticated%}
    <script>
        $(document).ready(function(){

        });
    </script>
    {% endif %}
{% endblock %}