{% extends "website/layout.html" %}
{% block TITLE %}Cuenta activada{% endblock %}
{%block body %}		
	<article class="white-box-container">
		<h3>Cuenta activada!</h3>
		<p class="lead">Tu cuenta ha sido activada satisfactoriamente</p>
		<p class="lead">Ya puedes disfrutar de las funcionalidades de <strong>Actarium</strong> </p>
		<p class="lead">Puedes ver el funcionamiento general de <strong>Actarium</strong> ingresando a la secci&oacute;n <a href="/about">Acerca</a></p>
		<p class="lead">Tambien puedes ver las preguntas frecuentes con sus respectivas respuestas en <a href="/help/faq">Preguntas frecuentes</a></p>
		<p class="lead">Puedes estar al tanto de las actualizaciones de la plataforma en el blog oficial de <strong>Actarium</strong> <a href="/blog">Blog oficial</a>
		<p class="lead">Y si tienes dudas, sugerencias, preguntas o quieres reportar un error lo puedes hacer a traves del modulo de <a href="#" id="callFeed">Comentarios</a> que esta disponible a la derecha en todas las ventanas</p>
	</article>
{% endblock%}