{% extends "website/layout.html" %}
{%block body%}
<div class="centrar60">
	<article>
        <img src="{{ gravatar_url }}" width="30px" /> <strong>Hola <a href="{% if user.id == 1 %}/admin{%else%}#{%endif%}">{{ user.first_name|upper }}</a></strong>
		<p>Ultimo logueo: {{ user.last_login}}.</p>
		<p>Eres miembro desde el {{ user.date_joined }} </p>
    </article>
</div>
{% endblock%}



{% block style %}
<style>
</style>
{% endblock %}

{% block js %}
	<script>$("#menu-account").addClass("active")</script>
{% endblock %}