{% extends "website/layout.html" %}
{% block TITLE %}Registro{% endblock %}
{%block body%}
<article class="white-box-container">
        <h3>Registro de Usuario</h3>
        <p class="lead">llena el siguiente formulario para registrarte en <strong>Actarium</strong></p>
        <form class="form-horizontal" method="POST">
            {% csrf_token %}
            <table>{{ formNewUser }}</table>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox"> Acepto los <a href="#">T&eacute;rminos de uso</a>
                    </label>
                    <button type="submit" class="btn btn-success">Registrarse</button>
                    <a href="/account/login" class="btn btn-link">Iniciar Sesi&oacute;n</a><br />
                </div>
            </div>
        </form>
</article>
{%endblock%}