{% autoescape off %}
Tu has recibido este correo porque has solicitado un cambio de contrase&ntilde;a para tu cuenta en {{ site_name }}.

Porfavor ingresa al siguiente link para cambiar tu contrase&ntilde;a:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

Tu nobre de usuario en caso de haberlo olvidado, es: {{ user.username }}

Gracias por usar nuestro sitio!

{{ site_name }}.

{% endautoescape %}