{% extends "menu.html" %}
{% block TITLE %}Reuniones{% endblock %}
{% load i18n %}
{%block menu_content %}

<div class="white-box-container">
	<h3>{% trans "Personalizacion de grupos" %}</h3>
	<table class="table table-bordered table-hover">
		<th>Tipo</th>
		<th>Valor unitario</th>
		<th>Grupo</th>
		<th>Tiempo</th>
		<th>Acci&oacute;n</th>
	{% for item in price_customization %}
		<tr title="{{ item.description }}">
			<td> {{ item.name }} </td>
			<td> ${{ item.price_month }}/{% trans "mes" %} </td>
			<td ><select class="groups" ></select></td>
			<td ><select class="months" ></select></td>
			<td> <button class="btn btn-success" >{% trans "Agregar" %}</button></td>
		</tr>
	{% endfor %}
	</table>
	
	<h3>{% trans "Incrementar numero de miembros de un grupo" %}</h3>
	<table class="table table-bordered table-hover">
		<th>Max. Miembros</th>
		<th>Valor unitario</th>
		<th>Grupo</th>
		<th>Tiempo</th>
		<th>Acci&oacute;n</th>
	{% for item in price_team_size %}
		<tr title="{{ item.description }}">
			<td> {{ item.quantity }} </td>
			<td> ${{ item.price_month }}/{% trans "mes" %} </td>
			<td ><select class="groups" ></select></td>
			<td ><select class="months" ></select></td>
			<td> {% if item.is_available %} <button class="btn btn-success" >{% trans "Agregar" %}</button> {% endif %} </td>
		</tr>
	{% endfor %}
	</table>
	
	<h3>{% trans "Anunciarse en Actarium" %}</h3>
	<table class="table table-bordered table-hover">
		<th>Jornada</th>
		<th>Valor unitario</th>
		<th>Tiempo</th>
		<th>Acci&oacute;n</th>
	{% for item in price_advertising %}
		<tr title="{{ item.description }}">
			<td> {{ item.id_timetable.name }} </td>
			<td> ${{ item.price_week }}/{% trans "semana" %} </td>
			<td ><select class="weeks" ></select></td>
			<td> <button class="btn btn-success" >{% trans "Agregar" %}</button></td>
		</tr>
	{% endfor %}
	</table>
</div>

{% endblock %}
{% block menu_content_js%}
	<script>
		$(document).on("ready", function() {
			{% for group in my_groups %}
				$(".groups").append("<option value='{{group.id}}'>{{ group.name }}</option>")
			{% endfor %}
			{% for item in available_months %}
				$(".months").append("<option value='{{item}}'>{{ item }}</option>")
			{% endfor %}
			{% for item in available_weeks %}
				$(".weeks").append("<option value='{{item}}'>{{ item }}</option>")
			{% endfor %}
		});
	</script>
{% endblock %}