{% load i18n %}
<div class="container-fluid"  id="cred-footer">
    <div class="row">
        <div class="col-md-4">
            <ul class="footer-text-platform">
                <li><a href="{% url 'about' %}">{% trans 'Acerca de' %}</a></li>
                <li><a href="{% url 'how_it_works' %}">{% trans 'Cómo funciona' %}</a></li>
                <li><a href="{% url 'help' %}">{% trans "FAQ's" %}</a></li>
                <!-- <li><a href="{% url 'pricing' %}">{% trans 'Precios' %}</a></li> -->
                <li><a href="https://facebook.com/Actarium" target="_blank">{% trans 'Facebook' %}</a></li>
                <li><a href="https://twitter.com/Actarium" target="_blank">{% trans 'Twitter' %}</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="footer-text">
                        <p><script>var f = new Date();document.write(f.getFullYear());</script>&nbsp;{% trans "Todos los derechos reservados" %}</p>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="footer-text">
                        <p>{% blocktrans %}Un producto <a href="http://www.daiech.com" target="_blank"><img src="{{ STATIC_URL }}img/daiech.png" style="width: 80px;"></a>{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <form action="/i18n/setlang/" method="post" id="language-form">
        {% csrf_token %}
        <input name="next" type="hidden" value="/" />
        <select id="switch-language" name="language">
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
            {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
        </select>
    </form>
</div>