{% extends "base.html" %}
{% load i18n %}
{% block TITLE %}{% trans 'Home' %}{% endblock %}

{%block body%}
<article>
    <div class="organizations-list">
    {% for o in organizations %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="org-principal-image pull-left"><img src="{{ STATIC_URL }}img/groups/default.jpg" alt="{{ o.organization.name }}" /></span>
            <span class="pull-left"><h3 class="panel-title"><a href="{{ o.organization.get_absolute_url }}">{{ o.organization.name }}</a></h3></span>
            <span class="pull-right" title="{% blocktrans with num=o.organization.get_num_members name=o.organization.name %}{{ name }} tiene {{ num }} miembros{% endblocktrans%}">{{ o.organization.get_num_members }} {% trans 'miembros' %}</span>
          </div>
          <div class="panel-body">
            <div class="">
                {% for g in o.groups %}
                <a href="{{ g.get_absolute_url }}">
                    <div class="group-preview">
                        <span class="pull-right group-notifications glyphicon glyphicon-bell"></span>
                        <div class="group-circle">
                        <span class="group-members-num" title="{{ g.num_members }} {% trans 'miembros en el grupo' %}">{{ g.num_members }}</span>
                        </div>
                        <div class="group-permissions">
                            <span title="El usuario pude agregar usuarios y roles" class="glyphicon glyphicon-wrench"></span>
                            <span title="Tiene la responsabilidad de redactar actas" class="glyphicon glyphicon-pencil"></span>
                            <span title="Pertenece al grupo. Aparece en las actas" class="glyphicon glyphicon-user"></span>
                            <span title="Puede convocar reuniones" class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <div class="group-name" title="{{ g.name }}">{{ g.name|truncatechars:20 }}</div>
                    </div>
                </a>
                {% empty %}
                <p>No tienes ning&uacute;n grupo :(</p>
                <a href="{% url 'new_group' %}?org={{ o.organization.id }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans 'Crea un grupo' %}</a>
                {% endfor %}
            </div>
          </div>
        </div>
    {% empty %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans ':( No tienes ninguna organización.' %}</h3>
          </div>
          <div class="panel-body">
              <p>{% trans 'Las organizaciones te permiten tener un mejor control de los equipos de trabajo.' %}</p>
              <a href="{% url 'new_organization'  %}" role="button" class="btn btn-info btn-small"><i class="glyphicon glyphicon-plus"></i> {% trans 'Crear organización' %}</a>
          </div>
        </div>
    {% endfor %}
    </div>
</article>
{%endblock%}

{% block style%}
<style>
    /*.organizations-list > .panel{display: inline-block;}*/
    .organizations-list .panel-heading{height: 38px;}
    .organizations-list .panel-title{font-weight: bold;}
    .organizations-list .org-principal-image{width: 30px;height: 30px;margin-top: -6px;margin-right: 6px;}
    .organizations-list .org-principal-image img{width: 28px;margin-top: 5px;}
    .group-preview{color: #666;min-width: 150px;max-width: 150px;position: relative;text-align: center;display: inline-block;margin: 0 5px;margin-left: 0px;margin-right: 20px;padding:10px 10px 5px;border:solid thin;border-color: white;}
    .group-preview:hover{border:solid thin #dadada;color: #555;}
    .group-preview .group-notifications{color: #C7C6C6; /*border-radius: 8px;*/width: 13px;height: 13px;position: relative;}
    .group-preview .group-circle{border-radius: 50px;width: 100px;height: 100px;margin:0 auto;border: 4px solid #79B632;/*#5CB89E*/}
    .group-preview .group-members-num{margin-top: 37px;font-size: 36px;text-align: center !important;display: block;}
    .group-preview .group-name{font-weight: bold;font-size: 14px;}
    .group-preview .group-permissions{margin-top: 8px;margin-bottom: -3px}
    .group-preview .group-permissions > span{width: 15px;height: 15px;display: inline-block;/*border: solid thin #dadada;*/}
</style>
{%endblock%}

{% block js %}
    {% if user.is_authenticated%}
    <script>
        $(document).ready(function(){
            $(".group-permissions > span, .group-name, .group-members-num").tooltip();
        });
    </script>
    {% endif %}
{% endblock %}