{% extends "website/layout_landing.html" %}
{% load i18n %}
{% block TITLE %} {% trans "Actarium - El espacio más cómodo para registrar el resultado de tus reuniones" %}  {% endblock %}
{% block body %}
<div id="btn-accion">
    <div id="action-container" class="row-fluid">
        <div class="span8">
            <div><img src="/static/img/actarium_grande.png" alt="Actarium"></div>
            <div id="value-proposition">
                <strong>{% trans "El espacio más cómodo para registrar el resultado de tus reuniones" %}</strong>
                <p>{% trans "Invita a tu equipo de trabajo y todos podr&aacute;n programar reuniones y crear sus actas de forma r&aacute;pida y sencilla, as&iacute; ahorran tiempo, dinero y protegen el medio ambiente al reducir el consumo de papel." %}</p>
            </div>
        </div>
        <div class="span4">
            <div id="sign-up-form" style="display:none;">
                <div class="form-box">
                    <h4>{% trans "Reg&iacute;strate gratis" %}</h4>
                    <div>
                        <form name="" action="/account/new" method="POST" class="form-horizontal">
                            {% csrf_token %}
                            <div>
                            <input id="id_username-register" type="text" name="username" maxlength="30" placeholder="{% trans 'Nombre de usuario' %}" class="first-input" />
                            </div>
                            <div>
                            <input type="text" name="email" id="id_email"  placeholder="{% trans 'Correo Electr&oacute;nico' %}" />
                            </div>
                            <div>
                            <input type="password" name="password1" id="id_password1" placeholder='{% trans "Contrase&ntilde;a" %}' />
                            </div>
                            <div>
                            <input type="password" name="password2" id="id_password2" placeholder='{% trans "Contrase&ntilde;a (Confirmaci&oacute;n)" %}' />
                            </div>
                            <!-- <label class="checkbox">
                                <input type="checkbox" name="term_privacy" id="term_privacy" checked>
                                {% blocktrans%}Acepto los <a href="{{URL_TERMS}}" target="_blank">T&eacute;rminos de uso</a><br> y las <a href="{{URL_PRIVACY}}" target="_blank">Pol&iacute;ticas de privacidad</a>{% endblocktrans%}
                            </label> -->
                            <div class="box btn-sumbit">
                                <button type="submit" name="submit" id="btn-submit" class="btn btn-danger link-daiech">{% trans "Registrarme" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="login-buttons">
                    <div id="btn-login" class="btn-red">
                        <div>{% trans "¿Ya tienes cuenta?" %}</div>
                        {% trans "Iniciar sesi&oacute;n" %}
                    </div>
                </div>
            </div>
            <div id="sign-in-form">
                <div class="form-box">
                    <h4>{% trans "Iniciar sesi&oacute;n" %}</h4>
                    <div>
                        <form name="" action="/account/login" method="POST" class="form-horizontal ">
                            <div>{% csrf_token %}</div>
                            <div class="input-form"><input id="id_username-login" type="text" name="username" maxlength="30" placeholder="{% trans 'Nombre de usuario' %}" autofocus class="first-input" /></div>
                            <div class="input-form"><input type="password" name="password" id="id_password-login" placeholder="{% trans 'Contrase&ntilde;a' %}" /></div>
                            <div class="box btn-sumbit">
                                <button type="submit" name="submit" class="btn btn-danger link-daiech">
                                    {% trans "Iniciar Sesi&oacute;n" %}</button>
                                <label>
                                <a href="/account/password/reset/" class="">{% trans "&iquest;Olvidaste tu contrase&ntilde;a?" %}</a></label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="login-buttons">
                    <div id="btn-sign-up" class="btn-red">
                        <div>{% trans "¿Eres nuevo?" %}</div>
                        {% trans "Reg&iacute;strate gratis" %}
                    </div>
                </div>
            </div>
            {% comment %}
            <div class="btn-login-nets">
                {% trans "Inicia con" %} 
                <a href="{% url 'social:begin' 'facebook' %}">
                    <span class="login-face"></span>
                </a>
                <a href="{% url 'social:begin' "google-oauth2" %}">
                    <span class="login-google"></span>
                </a>
            </div>
            {% endcomment %}
        </div>
    </div>
</div>
<div id="line-separator">
    <div>
        <p><span>&nbsp;&nbsp;{% trans "tus actas en un solo lugar"%}&nbsp;&nbsp;</span></p>
    </div>
</div>
<div id="actarium-slide" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#actarium-slide" data-slide-to="0" class="active"></li>
        <li data-target="#actarium-slide" data-slide-to="1"></li>
        <li data-target="#actarium-slide" data-slide-to="2"></li>
        <li data-target="#actarium-slide" data-slide-to="3"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item background-slide1">
            <div>
            </div>
        </div>
        <div class="item background-slide2">
            <div>
            </div>
        </div>
        <div class="item background-slide3">
            <div>
            </div>
        </div>
        <div class="item background-slide4">
            <div>
            </div>
        </div>
    </div>
      <!-- Carousel nav -->
      <!-- <a class="carousel-control left" href="#actarium-slide" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#actarium-slide" data-slide="next">&rsaquo;</a> -->
</div>
<div class="" id="actarium-info">
    <div class="row-fluid">
        <div class="span12">
            <h2>{% trans "¿Beneficios? mucho m&aacute;s..." %}</h2>
        </div>
    </div>
    <div class="row-fluid ac-info" >
        <div class="span2 hidden-phone">
            <img src="{{STATIC_PREFIX}}img/silueta.png" alt="Actarium">
        </div>
        <div class="span5 ">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACZ0lEQVR4Xu2Y66uhURTGn0NRboko5FZOktyTj/56uXxAlEQHiUJyC7k7s3bRTNOZM+23M3Ni7Xpz3Wu/61nPXj/2y2w2u+KJxwsLwA7gLcA94Il7ILgJMgWYAkwBpgBT4IkVYAwyBhmDjEHG4BNDgP8MMQYZg4xBxiBjkDH4xAowBpVicLfbYTAYYDQawWAw4PX1FXq9/hdPdbtdvL29IZFIwGq1fuq3r4j50aKKHHA+n5HP56FSqeD1etHpdGA0GhGPx+/rzedzlMtlXK/XvxLgK2L+SXFFAkwmE9RqNYTDYTgcDmy3W7GWTqcTj4fDAcViEVqtFqvV6i7AzRGBQAAulwuFQkGImMlk8MORUjE/tdUHX1AkQL/fR6vVgtPpxGKxEFvA7/cLF9CoVCqgirrdbtTr9bsA5Ab6jOaYzWaQS9LpNEwmE2Rj/lcBLBaL2ALtdhtqtVok0+v1xJVMJrFer9FoNBCJRGCz2US19/u9qPzxeAQ5wefziRxuAsjElBFBkQPG47GobDAYFFWmHkBXNptFtVrFcrn87Z6i0SjsdrsQpVQq4XK5iNf0Pg0lMf+5AKfTCblcDhqNBh6PR1SPnqdSKWFvsj8NEoKEoUrTdiGXUPJUfXLEcDhEKBQS/UA2Jq0rMxQ5gBbcbDYi8el0ipttqRf8PG7N8obBZrMp0BmLxQQWqVES+mjr0FyZmDLJ0xzFAsgu/F3msQBKfwl+l0rK3gc7gB3AR2J8JMZHYrId9BHmMQWYAkwBpgBT4BG6uWwOTAGmAFOAKcAUkO2gjzCPKcAUYAowBZgCj9DNZXN4egq8A5COTp+2VG3zAAAAAElFTkSuQmCC">
                </a>
                <div class="media-body">
                    <a href="#"><h4 class="media-heading">Bolsa de Plantillas</h4></a>
                    Seleccione plantillas de actas para agilizar sus procesos y ahorrar tiempo, 
                    además cree sus propias plantillas!
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACZ0lEQVR4Xu2Y66uhURTGn0NRboko5FZOktyTj/56uXxAlEQHiUJyC7k7s3bRTNOZM+23M3Ni7Xpz3Wu/61nPXj/2y2w2u+KJxwsLwA7gLcA94Il7ILgJMgWYAkwBpgBT4IkVYAwyBhmDjEHG4BNDgP8MMQYZg4xBxiBjkDH4xAowBpVicLfbYTAYYDQawWAw4PX1FXq9/hdPdbtdvL29IZFIwGq1fuq3r4j50aKKHHA+n5HP56FSqeD1etHpdGA0GhGPx+/rzedzlMtlXK/XvxLgK2L+SXFFAkwmE9RqNYTDYTgcDmy3W7GWTqcTj4fDAcViEVqtFqvV6i7AzRGBQAAulwuFQkGImMlk8MORUjE/tdUHX1AkQL/fR6vVgtPpxGKxEFvA7/cLF9CoVCqgirrdbtTr9bsA5Ab6jOaYzWaQS9LpNEwmE2Rj/lcBLBaL2ALtdhtqtVok0+v1xJVMJrFer9FoNBCJRGCz2US19/u9qPzxeAQ5wefziRxuAsjElBFBkQPG47GobDAYFFWmHkBXNptFtVrFcrn87Z6i0SjsdrsQpVQq4XK5iNf0Pg0lMf+5AKfTCblcDhqNBh6PR1SPnqdSKWFvsj8NEoKEoUrTdiGXUPJUfXLEcDhEKBQS/UA2Jq0rMxQ5gBbcbDYi8el0ipttqRf8PG7N8obBZrMp0BmLxQQWqVES+mjr0FyZmDLJ0xzFAsgu/F3msQBKfwl+l0rK3gc7gB3AR2J8JMZHYrId9BHmMQWYAkwBpgBT4BG6uWwOTAGmAFOAKcAUkO2gjzCPKcAUYAowBZgCj9DNZXN4egq8A5COTp+2VG3zAAAAAElFTkSuQmCC">
              </a>
              <div class="media-body">
                    <a href="#"><h4 class="media-heading">Aprobación inmediata de actas</h4></a>
                    Después de redactar un acta, inmediatamente la puede compartir con su equipo 
                    de trabajo para ser aprobada o rechazada.
              </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACZ0lEQVR4Xu2Y66uhURTGn0NRboko5FZOktyTj/56uXxAlEQHiUJyC7k7s3bRTNOZM+23M3Ni7Xpz3Wu/61nPXj/2y2w2u+KJxwsLwA7gLcA94Il7ILgJMgWYAkwBpgBT4IkVYAwyBhmDjEHG4BNDgP8MMQYZg4xBxiBjkDH4xAowBpVicLfbYTAYYDQawWAw4PX1FXq9/hdPdbtdvL29IZFIwGq1fuq3r4j50aKKHHA+n5HP56FSqeD1etHpdGA0GhGPx+/rzedzlMtlXK/XvxLgK2L+SXFFAkwmE9RqNYTDYTgcDmy3W7GWTqcTj4fDAcViEVqtFqvV6i7AzRGBQAAulwuFQkGImMlk8MORUjE/tdUHX1AkQL/fR6vVgtPpxGKxEFvA7/cLF9CoVCqgirrdbtTr9bsA5Ab6jOaYzWaQS9LpNEwmE2Rj/lcBLBaL2ALtdhtqtVok0+v1xJVMJrFer9FoNBCJRGCz2US19/u9qPzxeAQ5wefziRxuAsjElBFBkQPG47GobDAYFFWmHkBXNptFtVrFcrn87Z6i0SjsdrsQpVQq4XK5iNf0Pg0lMf+5AKfTCblcDhqNBh6PR1SPnqdSKWFvsj8NEoKEoUrTdiGXUPJUfXLEcDhEKBQS/UA2Jq0rMxQ5gBbcbDYi8el0ipttqRf8PG7N8obBZrMp0BmLxQQWqVES+mjr0FyZmDLJ0xzFAsgu/F3msQBKfwl+l0rK3gc7gB3AR2J8JMZHYrId9BHmMQWYAkwBpgBT4BG6uWwOTAGmAFOAKcAUkO2gjzCPKcAUYAowBZgCj9DNZXN4egq8A5COTp+2VG3zAAAAAElFTkSuQmCC">
              </a>
              <div class="media-body">
                    <a href="#"><h4 class="media-heading">Acceda desde cualquier dispositivo!</h4></a>
                    En cualquier momento que necesite registrar sus decisiones de reuniones 
                    informales, reuniones imprevistas que se presentan en cualquier sitio puede 
                    crear actas desde móviles, tabletas, computadores...
              </div>
            </div>
        </div>
        <div class="span5">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACZ0lEQVR4Xu2Y66uhURTGn0NRboko5FZOktyTj/56uXxAlEQHiUJyC7k7s3bRTNOZM+23M3Ni7Xpz3Wu/61nPXj/2y2w2u+KJxwsLwA7gLcA94Il7ILgJMgWYAkwBpgBT4IkVYAwyBhmDjEHG4BNDgP8MMQYZg4xBxiBjkDH4xAowBpVicLfbYTAYYDQawWAw4PX1FXq9/hdPdbtdvL29IZFIwGq1fuq3r4j50aKKHHA+n5HP56FSqeD1etHpdGA0GhGPx+/rzedzlMtlXK/XvxLgK2L+SXFFAkwmE9RqNYTDYTgcDmy3W7GWTqcTj4fDAcViEVqtFqvV6i7AzRGBQAAulwuFQkGImMlk8MORUjE/tdUHX1AkQL/fR6vVgtPpxGKxEFvA7/cLF9CoVCqgirrdbtTr9bsA5Ab6jOaYzWaQS9LpNEwmE2Rj/lcBLBaL2ALtdhtqtVok0+v1xJVMJrFer9FoNBCJRGCz2US19/u9qPzxeAQ5wefziRxuAsjElBFBkQPG47GobDAYFFWmHkBXNptFtVrFcrn87Z6i0SjsdrsQpVQq4XK5iNf0Pg0lMf+5AKfTCblcDhqNBh6PR1SPnqdSKWFvsj8NEoKEoUrTdiGXUPJUfXLEcDhEKBQS/UA2Jq0rMxQ5gBbcbDYi8el0ipttqRf8PG7N8obBZrMp0BmLxQQWqVES+mjr0FyZmDLJ0xzFAsgu/F3msQBKfwl+l0rK3gc7gB3AR2J8JMZHYrId9BHmMQWYAkwBpgBT4BG6uWwOTAGmAFOAKcAUkO2gjzCPKcAUYAowBZgCj9DNZXN4egq8A5COTp+2VG3zAAAAAElFTkSuQmCC">
              </a>
              <div class="media-body">
                    <a href="#"><h4 class="media-heading">Grabaci&oacute;n de actas</h4></a>
                    Grabe audio de sus reuniones para tener un mejor soporte de los acuerdos tomados, 
                    además adjunte las grabaciones si lo desea en las actas.
              </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACZ0lEQVR4Xu2Y66uhURTGn0NRboko5FZOktyTj/56uXxAlEQHiUJyC7k7s3bRTNOZM+23M3Ni7Xpz3Wu/61nPXj/2y2w2u+KJxwsLwA7gLcA94Il7ILgJMgWYAkwBpgBT4IkVYAwyBhmDjEHG4BNDgP8MMQYZg4xBxiBjkDH4xAowBpVicLfbYTAYYDQawWAw4PX1FXq9/hdPdbtdvL29IZFIwGq1fuq3r4j50aKKHHA+n5HP56FSqeD1etHpdGA0GhGPx+/rzedzlMtlXK/XvxLgK2L+SXFFAkwmE9RqNYTDYTgcDmy3W7GWTqcTj4fDAcViEVqtFqvV6i7AzRGBQAAulwuFQkGImMlk8MORUjE/tdUHX1AkQL/fR6vVgtPpxGKxEFvA7/cLF9CoVCqgirrdbtTr9bsA5Ab6jOaYzWaQS9LpNEwmE2Rj/lcBLBaL2ALtdhtqtVok0+v1xJVMJrFer9FoNBCJRGCz2US19/u9qPzxeAQ5wefziRxuAsjElBFBkQPG47GobDAYFFWmHkBXNptFtVrFcrn87Z6i0SjsdrsQpVQq4XK5iNf0Pg0lMf+5AKfTCblcDhqNBh6PR1SPnqdSKWFvsj8NEoKEoUrTdiGXUPJUfXLEcDhEKBQS/UA2Jq0rMxQ5gBbcbDYi8el0ipttqRf8PG7N8obBZrMp0BmLxQQWqVES+mjr0FyZmDLJ0xzFAsgu/F3msQBKfwl+l0rK3gc7gB3AR2J8JMZHYrId9BHmMQWYAkwBpgBT4BG6uWwOTAGmAFOAKcAUkO2gjzCPKcAUYAowBZgCj9DNZXN4egq8A5COTp+2VG3zAAAAAElFTkSuQmCC">
              </a>
              <div class="media-body">
                    <a href="#"><h4 class="media-heading">Integraci&oacute;n con Google</h4></a>
                    Conéctate con los servicios de gestión empresarial. (Calendar, drive, e inicia 
                    sesión con la cuenta tus cuentas de google)
              </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACZ0lEQVR4Xu2Y66uhURTGn0NRboko5FZOktyTj/56uXxAlEQHiUJyC7k7s3bRTNOZM+23M3Ni7Xpz3Wu/61nPXj/2y2w2u+KJxwsLwA7gLcA94Il7ILgJMgWYAkwBpgBT4IkVYAwyBhmDjEHG4BNDgP8MMQYZg4xBxiBjkDH4xAowBpVicLfbYTAYYDQawWAw4PX1FXq9/hdPdbtdvL29IZFIwGq1fuq3r4j50aKKHHA+n5HP56FSqeD1etHpdGA0GhGPx+/rzedzlMtlXK/XvxLgK2L+SXFFAkwmE9RqNYTDYTgcDmy3W7GWTqcTj4fDAcViEVqtFqvV6i7AzRGBQAAulwuFQkGImMlk8MORUjE/tdUHX1AkQL/fR6vVgtPpxGKxEFvA7/cLF9CoVCqgirrdbtTr9bsA5Ab6jOaYzWaQS9LpNEwmE2Rj/lcBLBaL2ALtdhtqtVok0+v1xJVMJrFer9FoNBCJRGCz2US19/u9qPzxeAQ5wefziRxuAsjElBFBkQPG47GobDAYFFWmHkBXNptFtVrFcrn87Z6i0SjsdrsQpVQq4XK5iNf0Pg0lMf+5AKfTCblcDhqNBh6PR1SPnqdSKWFvsj8NEoKEoUrTdiGXUPJUfXLEcDhEKBQS/UA2Jq0rMxQ5gBbcbDYi8el0ipttqRf8PG7N8obBZrMp0BmLxQQWqVES+mjr0FyZmDLJ0xzFAsgu/F3msQBKfwl+l0rK3gc7gB3AR2J8JMZHYrId9BHmMQWYAkwBpgBT4BG6uWwOTAGmAFOAKcAUkO2gjzCPKcAUYAowBZgCj9DNZXN4egq8A5COTp+2VG3zAAAAAElFTkSuQmCC">
              </a>
              <div class="media-body">
                    <a href="#"><h4 class="media-heading">Local storage</h4></a>
                    Almacena datos en el navegador sin necesidad de internet...
              </div>
            </div>
        </div>
    </div>
</div>
<div id="ac-alliances">
    <div class="white-bar">
        <!-- <p>{% trans "Aliados" %}:</p> -->
        <div>
            <div class="footer-pic pull-left">
                <a href="http://www.daiech.com" target="_blank">
                    <div id="daiech-foot" class="img-foot">
                        
                    </div>
                </a> 
            </div>
            <div class="footer-pic pull-right">
                <a href="http://www.parquesoftpereira.com" target="_blank">
                    <div id="parque-foot" class="img-foot">
                        
                    </div>
                </a>
            </div>
        </div>  
    </div>
</div>

{% endblock %}

{% block style %}
<style>
    /*new design*/
    #btn-accion{min-height: 360px;}
    #action-container{margin: 0 auto;margin:30px auto;width: 70%;}
    #action-container .pull-left{width: 560px;}
    #value-proposition strong{text-transform: uppercase;border-bottom: solid thin #aaa;padding-bottom: 10px;font-size: 15px;}
    #value-proposition p{color: #888;margin-top: 10px;padding: 10px;}
    #line-separator{background-color: #394264; height: 100px;}
    #line-separator div{padding-top:40px;}
    #line-separator p{color: #ddd6d6;font-size: 28px;margin: 0;padding: 0;text-transform:uppercase; text-align: center;}
    #line-separator p span{border-bottom: solid thin #ccc;border-top: solid thin #ccc;padding: 5px;}
    .form-box{color: #c8c8c8;background-color: #394264;padding:15px;overflow: hidden;position: relative;}
    .form-box h4{text-align: center;margin-top: 5px;margin-bottom: 20px;}
    .form-box a{color: #fff}
    .form-box a:hover{color: #00aeaa;text-decoration: underline;}
    .form-box input{background-color: #50597B; color: #fff;border: solid thin #222;border-radius: 1px;width: 90%}
    .form-box input:hover{border: solid thin #4d90aa;}
    .form-box .form-horizontal > div{margin: 2px auto;}
    .form-box > div{margin: 2px auto;/*width: 100%*/}
    .btn-sumbit{text-align: center;padding-top: 15px}
    .login-buttons{text-align: center;padding: 0;}
    .login-buttons .btn-red{cursor: pointer;background-color: #E64C65;color:white;font-weight: bold; padding: 3px 0;}
    .login-buttons .btn-red div{font-weight: normal;font-size: 12px;}
    .btn-login-nets{background-color: #3468AF;color:white;font-size: 13px; padding: 10px 0;text-align: center;}
    .btn-login-nets span{background-image: url({{STATIC_PREFIX}}img/btns-form.png);background-repeat:no-repeat;width: 20px; height: 20px;display: inline-block;vertical-align: text-top;margin-top: -3px;}
    .login-face{background-position: 0 0;margin-left: 5px}
    .login-google{background-position: -31px 0;margin-left: 5px}

    #actarium-info{margin: 0 auto; width: 80%;}
    #actarium-info .span12 h2{margin: 40px auto; text-align: center;}
    #actarium-info a h4{color: #555}
    #actarium-info a h4:hover{text-decoration: underline;}
    .ac-info{margin-bottom: 35px;font-size: 14px;}
    #ac-alliances{padding: 40px 0 15px 0;background-color: white;}
    .input-form{width: 80%;margin-left: 10px;}
    @media (min-width: 768px) and (max-width: 979px) {
        #action-container{width: 90%}
    }
    @media (max-width: 767px) {
        .form-box input{width: 100%;}
    }


    /*/new design*/
    
    /* **************************************************************************** 
    Index Website
    **************************************************************************** */
    .carousel-inner > div{height: 238px;width: 100%;}
    .carousel-inner .item > div{height: 237px;margin: 0 auto;width: 100%;background-repeat:no-repeat;background-position:center top;}
    .container{width: 100%}
    .background-slide1{background-image: url({{STATIC_PREFIX}}img/landing-slide/background1.png);}
    .background-slide2{background-image: url({{STATIC_PREFIX}}img/landing-slide/background2.png);}
    .background-slide3{background-image: url({{STATIC_PREFIX}}img/landing-slide/background3.png);}
    .background-slide4{background-image: url({{STATIC_PREFIX}}img/landing-slide/background4.png);}
    .background-slide1 div{background-image: url({{STATIC_PREFIX}}img/landing-slide/slide1.png);}
    .background-slide2 div{background-image: url({{STATIC_PREFIX}}img/landing-slide/slide2.png);}
    .background-slide3 div{background-image: url({{STATIC_PREFIX}}img/landing-slide/slide3.png);}
    .background-slide4 div{background-image: url({{STATIC_PREFIX}}img/landing-slide/slide4.png);}

    .carousel-indicators{top:220px;left: 0;right: 0;margin-right: auto;margin-left: auto;width: 62px;}
    .carousel-indicators .active{background-color: #000}
    .carousel-indicators li{background-color: rgba(100, 100, 100, 0.5);}
    .carousel-indicators li:hover{cursor: pointer;}

    #text-center{text-align: center;}
    #middle-bar{height: 51px;position: absolute;width: 100%;}
    #middle-down{width:50px;margin: 0 auto;}
    #left-panel{display: block;float: left;width:45%;}
    #right-panel{
        display: block;
        float: right;
        width: 45%;
    }
    #actarium-slide{
        background-color: rgba(255,255,255,0.7);
        height: 237px;
        min-height: 237px;
        margin-bottom: 0;
        width: 100%;
        /*padding-bottom: 35px;*/
    }
    #new-container > img{
        display: block;
        margin: auto;       
        padding-top: 30px;
        width:350px;
    }
    form{margin: 0}
    form label{margin-top: 10px;margin-bottom: 0}
    .info-containter{margin-bottom: 30px;}
    input[type='text'], input[type='password']{padding: 10px;}
    .white-box-container{padding: 10px 30px;}
    #login-form{
        width: 224px;
        float: right;
    }
    #login-form > form{
        /*padding: 25px;*/
        width: auto;
        border: none;
    }
    #register-form{
        float: left;
        height: auto;
        width: auto;
    }
    #register-form > form{
        /*padding: 25px;*/
        width: auto;
        border: none;
    }
    /*#btn-submit{width: auto;}*/
    .controls{margin-top: 15px;}
    #content-container .white-box-container{min-height: 220px;}
    #group-list{margin: 10px 0;}
    /* **************************************************************************** 
    Termina Index Website
    **************************************************************************** */

</style>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        $(".carousel").carousel("cycle");
        $("i").tooltip();
        $("#btn-login, #btn-sign-up").on("click", changeForm);

        {% if no_supported %}
        var t = "{% trans 'Idioma no soportado' %}"
        var m = "{% trans 'Actarium no está traducido a este idioma :(<br>Suscribete a nuestro canal para recibir actualizaciones de nuestra plataforma' %}"
        setAlertError(t, m);
        {%endif%}
    });
    function changeForm(e){
        var signup = $("#sign-up-form");
        var signin = $("#sign-in-form");
        signup.slideToggle("fast", function (e) {
            signup.find("form input.first-input").focus();
        });
        signin.slideToggle("fast", function (e) {
            signin.find("form input.first-input").focus();
        });
    }
</script>
{% endblock %}
