{% extends "website/landing/landing_base.html" %}
{% load i18n %}
{% block TITLE %} {% trans "Actarium - El espacio más cómodo para registrar el resultado de tus reuniones" %}  {% endblock %}

{% block content %}
    <div class="landing-block first-block">
        <div class="meeting-picture">
            <div class="landing-container">
                
            </div>
        </div>
    </div>
    <div class="landing-block meeting-block">
        <div class="benefits landing-container">
            <div class="meeting-picture2">
                <div class="benefits-text">
                    <ul>
                        <li>{% trans 'Tienes acceso desde cualquier dispositivo' %}</li>
                        <li>{% trans 'Tu información está siempre segura' %}</li>
                        <li>{% trans 'Aprueba tus actas en equipo' %}</li>
                        <li>{% trans 'Sistema de tareas' %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-block slides-block">
        <div class="slides landing-container">
            <div class="slides-pic">
                <div class="slides-text">
                    {% trans 'Con Actarium ahorra tiempo, dinero y protege el medio ambiente reduciendo el consumo de papel' %}
                </div>
            </div>
        </div>
    </div>
    <div class="landing-block ">
        
    </div>
    <div class="landing-block ">
        
    </div>
{% endblock %}

{% block style %}
    <style>
        header.navbar{border-bottom:none;}
        .landing-block{min-height: 500px;}
        .landing-container{margin: auto;width: 980px;}
        .first-block .meeting-picture{background-image: url("{{ STATIC_PREFIX }}img/landing/pic.png");height: 580px;}

        .meeting-block{background-color: #f5f5f5;}
        .meeting-block .benefits-text{position: relative;top: 100px;left: -60px;}
        .meeting-block .benefits-text ul{list-style:none;}
        .meeting-block .benefits-text ul li{background: url("{{ STATIC_PREFIX }}img/landing/icons.png") no-repeat left bottom;padding: 10px 45px;font-size: 28px;color: #bababa;margin-bottom: 6px;}
        .meeting-block .meeting-picture2{background-image: url("{{ STATIC_PREFIX }}img/landing/meeting.png");background-repeat: no-repeat;background-position: right bottom -2px;height: 500px;}
        .slides-block{background-color: #accb4f;min-height: 620px}
        .slides-block .slides{}
        .slides-block .slides-text{position: relative;right: 0px;top: 50%;text-align: right;width: 50%;float: right;font-size: 26px;line-height: 1;color:whitesmoke;}
        .slides-block .slides-pic{background-image: url("{{ STATIC_PREFIX }}img/landing/tablet.png");background-repeat: no-repeat;background-position: center left; height: 580px;}
    </style>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        $(".carousel").carousel("cycle");
        $("i").tooltip();
    });
</script>
{% endblock %}
