{% load i18n %}
<div class="container-fluid landing-container"  id="cred-footer">
    <div class="row-fluid">
        <div class="col-md-4 col-sm-4">
            <ul class="footer-text-platform">
                <li><a href="{% url 'about' %}">{% trans 'Acerca de' %}</a></li>
                <li><a href="{% url 'how_it_works' %}">{% trans 'Cómo funciona' %}</a></li>
                <li><a href="{% url 'help' %}">{% trans "FAQ's" %}</a></li>
                <!-- <li><a href="{% url 'pricing' %}">{% trans 'Precios' %}</a></li> -->
                <li><a href="https://facebook.com/Actarium" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/Actarium" target="_blank">Twitter</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            {% if user.is_authenticated or user.is_staff %}
            {% endif %}
            <div class="footer-text">
                <form action="/i18n/setlang/" method="post" id="language-form">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                    <input name="language" type="hidden" id="language-selected" />
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <span class="language">
                        <label>
                            <button class="flag-icon {% if language.code == LANGUAGE_CODE %}language-selected{% endif %}" type="button" title="{{ language.name_local }} ({{ language.code }})" style="background: url('{{ STATIC_URL }}img/flags/{{ language.code }}.png')" data-language="{{ language.code }}"></button>
                            {{ language.name_local }}
                        </label>
                    </span>
                    {% endfor %}
                </form>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="footer-text">
                <p><script>var f = new Date();document.write(f.getFullYear());</script>.&nbsp;{% trans "Todos los derechos reservados" %}</p>
                <p>{% blocktrans %}Un producto <a href="http://www.daiech.com" target="_blank"><img src="{{ STATIC_PREFIX }}img/daiech.png" style="width: 80px;"></a>{% endblocktrans %}</p>
                <p></p>
            </div>
        </div>
    </div>
</div>