{% extends "base.html" %}
{% load i18n has_role %}
{% block TITLE %}{% trans 'Home' %}{% endblock %}

{%block body%}
<article>
    <div class="organizations-list">
    {% for org in organizations %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="org-principal-image pull-left"><img src="{{ STATIC_URL }}img/groups/default.jpg" alt="{{ org.name }}" /></span>
            <span class="pull-left">
                <h3 class="panel-title">
                    <a href="{{ org.get_absolute_url }}">{{ org.name }}</a>
                    {% has_role "user" "org" "is_admin" as user_is_admin %}
                    {% if user_is_admin %}
                    <span><a href="{% url 'update_org' org.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url 'delete_org' org.slug %}"><span class="glyphicon glyphicon-remove"></span></a></span>
                    {% endif %}
                </h3>
            </span>
            <span class="pull-right" title="{% blocktrans with num=org.get_num_members name=org.name %}{{ name }} tiene {{ num }} miembros{% endblocktrans%}">{{ org.get_num_members }} {% trans 'miembros' %}</span>
          </div>
          <div class="panel-body">
            <div class="">
                {% for g in org.get_groups %}
                <a href="{{ g.get_absolute_url }}">
                    <div class="group-preview">
                        <!-- <span class="pull-right group-notifications glyphicon glyphicon-bell"></span> -->
                        <div class="group-circle">
                        <span class="group-members-num" title="{{ g.get_num_members }} {% trans 'miembros' %}">{{ g.get_num_members }}</span>
                        </div>
                        <div class="group-permissions">
                            <span title="{% trans 'El usuario pude agregar usuarios y roles' %}" class="glyphicon glyphicon-wrench"></span>
                            <span title="{% trans 'Tiene la responsabilidad de redactar actas' %}" class="glyphicon glyphicon-pencil"></span>
                            <span title="{% trans 'Pertenece al grupo. Aparece en las actas' %}" class="glyphicon glyphicon-user"></span>
                            <span title="{% trans 'Puede convocar reuniones' %}" class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <div class="group-name" title="{{ g.name }}">{{ g.name|truncatechars:18 }}</div>
                    </div>
                </a>
                {% empty %}
                <p>{% trans 'No tienes ning&uacute;n grupo :(' %}</p>
                {% endfor %}
                <a href="{% url 'new_group' %}?org={{ org.id }}">
                    <div class="group-preview btn-new-group">
                        <div class="group-circle group-circle-plus">
                            <span class="group-members-num btn-create-group" ><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <div class="group-permissions">
                            <span class="glyphicon"></span>
                        </div>
                        <div class="group-name" title="{{ g.name }}">{% trans 'Crear grupo' %}</div>
                    </div>
                </a>
            </div>
          </div>
        </div>
    {% empty %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'No tienes ninguna organización :(' %}</h3>
          </div>
          <div class="panel-body">
              <p>{% trans 'Las organizaciones te permiten tener un mejor control de los equipos de trabajo.' %}</p>
          </div>
        </div>
    {% endfor %}
        <a href="{% url 'create_org' %}">
            <div class="group-preview">
                <div class="group-circle group-circle-plus">
                    <span class="group-members-num btn-create-group" ><i class="glyphicon glyphicon-plus"></i></span>
                </div>
                <div class="group-permissions">
                    <span class="glyphicon"></span>
                </div>
                <div class="group-name" title="{{ g.name }}">{% trans 'Crear organización' %}</div>
            </div>
        </a>
    </div>
</article>
{%endblock%}

{% block style%}
<style>
    /*.organizations-list > .panel{display: inline-block;}*/
    .organizations-list .panel-heading{height: 38px;}
    .organizations-list .panel-title{font-weight: bold;}
    .organizations-list .org-principal-image{width: 30px;height: 30px;margin-top: -6px;margin-right: 6px;}
    .organizations-list .org-principal-image img{width: 28px;margin-top: 5px;}
    .group-preview{color: #666;min-width: 150px;max-width: 150px;position: relative;text-align: center;display: inline-block;margin: 0 5px;margin-left: 0px;margin-right: 20px;padding:10px 10px 5px;border:solid thin;border-color: white;}
    .group-preview:hover{border:solid thin #dadada;color: #555;}
    .group-preview .group-notifications{color: #C7C6C6; /*border-radius: 8px;*/width: 13px;height: 13px;position: relative;}
    .group-preview .group-circle{border-radius: 50px;width: 100px;height: 100px;margin:0 auto;border: 4px solid #79B632;}
    .group-preview .group-members-num{margin-top: 37px;font-size: 36px;text-align: center !important;display: block;}
    .group-preview .group-name{font-weight: bold;font-size: 14px;}
    .group-preview .group-permissions{margin-top: 8px;margin-bottom: -3px;color: #ccc;}
    .group-preview .group-permissions > span{width: 15px;height: 15px;display: inline-block;/*border: solid thin #dadada;*/}
    .group-preview .group-permissions > span.active{color: #666;}
    
    .btn-new-group{border-left: solid thin #dadada;color: #888}
    .group-preview .group-circle-plus{border-color: #d0d0d0;color:#d0d0d0;}
    .group-preview .btn-create-group{margin-left: 4px;margin-top: 28px !important;}
/*    .panel-default{border: white}
    .panel-default>.panel-heading{background-color: white}*/
</style>
{%endblock%}

{% block js %}
    {% if user.is_authenticated%}
    <script>
        $(document).ready(function(){
            $(".group-permissions > span, .group-name, .group-members-num").tooltip();
        });
    </script>
    {% endif %}
{% endblock %}