{% extends "groups/menu.html" %}
{% load i18n %}

{% block toolbar_content %}
<ul class="list-unstyled">
    <li>
        <a href="{%if not rel_user.is_secretary%}#{%else%}/groups/{{group.slug}}/roles-for-this-minutes{%endif%}" class="title-on-disabled {%if not rel_user.is_secretary%}disabled{%endif%}" {%if not rel_user.is_secretary%}title="{% trans 'Necesitas ser redactor para habilitar esta opción' %}"{%endif%}>
                <span class="glyphicon glyphicon-plus"></span> {% trans "Crear acta" %}
        </a>
    </li>
    <li>
        <a href="{%if rel_user.is_convener%}/groups/newReunion/{{ group.slug}}{%else%}#{%endif%}" class="title-on-disabled {%if not rel_user.is_convener%}disabled{%endif%}" {%if not rel_user.is_convener%}title="No tienes permiso para convocar reuniones"{%endif%}>
            <span class="glyphicon glyphicon-plus"></span> {% trans " Convocar Reuni&oacute;n" %}
        </a>
    </li>
	<li class="dropdown">
	    <a class="dropdown-toggle" href="{% url 'show_team' group.slug %}">
	        <span class="glyphicon glyphicon-plus"></span> {% trans "Agregar miembro" %}
	    </a>
	</li>
</ul>
{% endblock %}

{% block menu_content %}
<div class="white-box-container">
	<h4>Actividad reciente</h4>
	<hr>
	<p>{% trans "No hay actividad reciente para mostrar" %}</p>
</div>
{% endblock %}

{% block menu_content_js %}
<script type="text/javascript">
	$("#group-menu-home").addClass("active");
</script>
{% endblock %}

{% block menu_content_style %}
<style type="text/css">
</style>
{% endblock %}

{%block menu_style_libs %}

{% endblock %}