{% extends "groups/menu.html" %}
{% load gravatartag %}
{% load i18n orgs_ttag %}
{% block toolbar_content %}
	<ul class="list-unstyled">
	{% if user_is_org_admin %}
		<li class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown"  id="add-member">
		        <span class="glyphicon glyphicon-plus"></span> {% trans "Agregar miembro" %}
		        <span class="caret"></span>
		    </a>
		    <ul id="add-member-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		        <li class="taling">
		        	<div class="header-title">
		            	<span>{% trans "Miembros" %}</span>
		            	<div id="close-add-member" class="close pull-right glyphicon glyphicon-remove"></div>
		        	</div>
		        </li>
		        <li>
		            <input type="hidden" id="group_name" value="{{group.name}}">
		            <input type="hidden" id="group_id" value="{{group.id}}">
		        	<div class="prelative">
		                <button id="button-search" class="btn btn-info"><i class="glyphicon glyphicon-search icon-white"></i> </button>
		                <input type="text" placeholder="Nombre de usuario o correo" id="newmember">
		                <span id="load-member"></span>
		            </div>	
		        </li>
		        <li>
		            <p id="message-search"></p>
		        </li>
		        <li>
		            <ul id="search-result">
		            	
		            </ul>
		        </li>
		    </ul>
		</li>
	{% endif %}
	</ul>
{% endblock %}

{% block menu_content %}
	<div class="white-box-container">
		<div class="row">
			<div class="col-md-6">
				<h4>{% trans "Equipo de trabajo" %}</h4>
				<p>{% trans "Éste es tu equipo de trabajo con sus roles en el grupo." %}</p>
			</div>
			{% if rel_user.is_admin or user_is_org_admin %}
			<div class="col-md-6">
				<a href="#" class="actarium-dropdown btn " ><span class="glyphicon glyphicon-user"></span> {% trans 'Agregar miembro de la organización' %} <span class="caret"></span></a>
	            <div class="dropdown-container" id="dropdown-org-users">
	        		<div class="header-title">
	                	<span>{% blocktrans with org=group.organization %}Miembros de {{ org }} {% endblocktrans %}</span>
	                	<div class="close close-popover glyphicon glyphicon-remove"></div>
	            	</div>
	            	<div class="dropdown-body">
	            		<div class="first-menu user-list">
	            			<ul class="list-unstyled" id="org-user-list"></ul>
	            		</div>
						<div class="second-menu">
							<div class="">
	                        	<a href="#" class="btn btn-link back"><i class="glyphicon glyphicon-chevron-left"></i> {% trans "Regresar" %}</a>
							</div>
						</div>
	            	</div>
	            </div>
			</div>
			{% endif %}
		</div>
		<div class="">
			{% if rel_user.is_admin or user_is_org_admin %}
			<form class="form-horizontal" enctype="multipart/form-data" method="POST">
				{% csrf_token %}
			{% endif %}
				<section class="">
					<table id="table-roles" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th class="td-first">
									<div class="info-title" title="{% trans 'Lista de todos los miembros del grupo' %} '{{group.name}}'">{% trans "Miembros del grupo" %}</div>
								</th>
								<th>
									<div class="info-title" title="{% trans 'Personas que aparecen en la lista de las actas' %}">
										<i class="glyphicon glyphicon-user"></i>
										<span class="th-name">{% trans "Aparece en actas" %}</span>
									</div>
								</th>
								<th>
									<div class="info-title" title="{% trans 'Tiene permisos de crear actas' %}">
										<i class="glyphicon glyphicon-file"></i>
										<span class="th-name">{% trans "Puede redactar" %}</span>
									</div>
								</th>
								<th>
									<div class="info-title" title="{% trans 'Puede administrar el grupo' %}">
										<i class="glyphicon glyphicon-wrench"></i> 
										<span class="th-name">{% trans "Administrador" %}</span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody id="teamList"></tbody>
					</table>
					<div class="icons-info">
		                <span>{% trans "Info" %}:</span>
		                <span title="{% trans 'Miembros que aparecen en las actas' %}"><i class="glyphicon glyphicon-user"></i> {% trans "Aparece en actas" %}</span>
		                <span title="Tiene la responsabilidad de redactar actas"><i class="glyphicon glyphicon-pencil"></i> {% trans "Redactor" %}</span>
		                <!-- <span title="Puede convocar reuniones"><span class="glyphicon glyphicon-calendar"></span> {% trans "Convocador de reuniones" %}</span> -->
		                <span title="{% trans 'El usuario pude agregar miembros, crear actas y administrar la información del grupo' %}"><i class="glyphicon glyphicon-wrench"></i> {% trans "Administrador" %}</span>
		                <!-- <span class="user-pend-l"> {% trans "Usuarios pendientes" %}</span> -->
		            </div>
				</section>
			{% if rel_user.is_admin or user_is_org_admin %}
			</form>
			{% endif %}
		</div>
	</div>
<script type="text/template" id="teamListTpl">
	{% include "groups/templates/user_roles.html" %}
</script>
{% if rel_user.is_admin or user_is_org_admin %}
<script type="text/template" id="new-user-template">
	<li>
		<div class="">
			<label for="new-user-firstname">{% trans "Nombres y Apellidos" %}</label>
			{% verbatim %}
			<input id="new-user-firstname" type="text" placeholder="Nombres" value="{{username}}">
			<input id="new-user-lastname" type="text" placeholder="Apellidos">
			<input id="new-user-email" type="hidden" value="{{mail}}">
			<input id="new-user-uname" type="hidden" value="{{username}}">
			{% endverbatim %}
		</div>
	</li>
	<li>
		<button id="add-new-user" class="btn btn-info btn-large">{% trans "Enviar invitaci&oacute;n" %}</button>
	</li>
</script>
<script type="text/template" id="org-user-template">
	{% verbatim %}
	{% for u in users %}
		<li id="org-user-{{ u.id }}">
			<a href="#" class="{% if not u.is_member %}user-inv{% endif %} link-to-invite nud"  data-email="{{ u.email }}" data-username="{{ u.username }}">
				<span class="org-user-img"><img class="img-circle" src="{{ u.image }}" width="32px" /></span>
				<span>{{ u.full_name }}</span>
				<span class="glyphicon glyphicon-ok {% if not u.is_member %}hidden{% endif %}"></span>
			</a>
		</li>
	{% endfor %}
	{% endverbatim %}
</script>{% endif %}
{% endblock %}


{% block menu_content_style %}
<style type="text/css">
	.btn-new-minutes{padding-left: 40px;padding-right: 40px;}
	td label{cursor: pointer;margin: 0;padding: 9px;}
	.th-delelte{width: 9%;}
	div.info-title{text-align: center;font-size: 14px;
		height: 18px;margin: 0;overflow: hidden;padding: 0px;}
	.username-info{padding: 8px;font-size: 13px;}
	.username-info .names{margin-left: 3px;}
	.remove-invitation-container{margin-top: 7px;}
	td input[type='checkbox']{margin-top: 0;}
	#table-roles td{padding: 0;}
	#table-roles td.t-a-c{text-align: center;}
	.table{margin-bottom: 0;}
	.form-horizontal label{font-weight: bold;/*margin-top: 10px;*/}
	.list-member-item{border: solid thin #eee;border-bottom: solid thin #dadada;border-radius: 3px;
        padding: 8px;margin: 2px 0;position: relative; }
    .list-member-item:hover{border: solid thin #dadada;}
    .list-member-item > div{/*border: solid thin #dadada;*/width: 80%; }
    .list-member-item > span{cursor: pointer;top: 0;right: 5px;position: absolute;}
	.td-first{position: relative;}
	.td-first > div{text-align: left;}
	.td-info-user{position: relative;}
    .span6{border-right: solid thin #dadada;padding: 0 20px;}
    .remove-invitation > .icon-remove{margin: 5px;}
    ul#search-result{margin-left: 0;}
    ul#search-result li span{font-size: 13px;margin-left: 13px;color: gray;}
    .taling{text-align: center;}
    .list-members span{color: gray;}
    li a span{/*color:black;*/}
    .dropdown-menu li p{color:gray;font-size: 14px;line-height:1.5;margin: 0}
    article{min-height: 500px;overflow: visible;padding-top: 1px;}
    #add-member{position: static;cursor: pointer;}
    #add-member-menu{padding: 10px;width: 315px;}
    /*.header-title{border-bottom: 1px solid #dcdcdc;height: 26px;text-align: center;color: #939393;font-weight: bold;font-size: 14px;}*/
    ul#add-member-menu li{margin-bottom: 7px;}
    ul#add-member-menu li a:hover, ul#add-member-menu li a:active{color: white}
    .dropdownmenu  * li{list-style:none;text-decoration: none;}
    #newmember{margin: 3px;/*padding: 10px;*/width: 68%;}
    #button-search{margin: 3px;padding: 10px;padding-left: 20px;padding-right: 20px;position: absolute;right: 0;}
    .btnSup{margin-top: 8px;}
    div > section ul{margin-left:0; }
    div > section ul li{list-style: none;}
    .cancel-inv{font-style: italic;color: gray;}
    #new-user-firstname{margin-bottom: 2px;}
    .user-config{background-color: white; position: absolute;right: 6px;top: 10px;width:18px;height: 18px;text-align: center; transition: all 0.5s ease;border-radius: 4px;border: solid 1px white;}
    .user-config:hover{border: solid 1px #dadada;background-color: #dadada; /*transform:rotate(-30deg);*/}
    .td-info-user .dropdown-container{right: 0}
    #dropdown-org-users{width: 283px;}
    .org-user-img{width: 32px;height: 32px;display: inline-block;margin-right: 4px;}
    #dropdown-org-users .dropdown-body .user-list{min-height: 200px;max-height: 240px;}
    #dropdown-org-users .dropdown-body ul li {position: relative;}
    #dropdown-org-users .dropdown-body ul li a{padding: 4px;padding-right: 35px;}
    #dropdown-org-users .dropdown-body ul li a span.glyphicon-ok{position: absolute;right: 0;padding: 10px;font-size: 14px;color: #dadada;}
    .btn .caret{margin: 0 !important;}
	@media (min-width: 480px) {
		#newmember{width: 74%;}
		/*#add-member-menu{width: 315px;}*/
	}
	@media (min-width: : 380px) {
		#newmember{width: 60%;}
		#add-member-menu{width: 280px;left: -75px;}
	}
</style>
{% endblock %}

{% block menu_content_js %}
<script type="text/javascript">
	$("#group-menu-team").addClass("active");
	$("ul").addClass("list-unstyled");
</script>
<script src="{{STATIC_PREFIX}}js/vendor/swig.min.js"></script>
<script src="{{STATIC_PREFIX}}js/vendor/jquery.nicescroll.min.js"></script>
<script type="text/javascript" ><!--
	$(document).ready(function() {
		var message = "{% trans 'Escribe el nombre de usuario o correo electr&oacute;nico del nuevo miembro del grupo.' %}";
		$("#message-search").html(message);
		$("#admin-roles").addClass("active");
		$(".icons-info span, .username-info, .info-title, .resend").tooltip();
		{% if user_selected%}
		$("#user-{{user_selected}} td").css({"background-color":"#F9F395"})
		{%endif%}
		team = {
			user: {
				id: {{ user.id }},
				is_org_admin: {{ user_is_org_admin|lower }},
				is_group_admin: {{ rel_user.is_admin|lower }}
			},
			members: [
				{% for m in members %}
				{
					id: {{ m.id_user.id }},
					username: "{{ m.id_user.username }}",
					first_name: "{{ m.id_user.first_name }}",
					last_name: "{{ m.id_user.last_name }}",
					get_full_name: "{{ m.id_user.get_full_name }}",
					email: "{{ m.id_user.email }}",
					gravatar: "{{ m.id_user.email|showgravatar:20 }}",
					is_active: {{ m.id_user.is_active|lower }},
					roles: {
						is_member: {{ m.is_member|lower }},
						is_secretary: {{ m.is_secretary|lower }},
						is_admin: {{ m.is_admin|lower }},
					}
				},
				{% endfor %}
			],
			texts: {
				msj_invitation: "{% trans 'aún no ha aceptado la invitación' %}",
				msj_configuration_of: "{% trans 'Configuración de' %}",
				msj_configuration: "{% trans 'Configuración' %}",
				msj_resend: '{% trans "Reenviar invitación" %}',
				msj_change_names: '{% trans "Cambiar datos" %}',
				msj_delete: '{% trans "Eliminar de grupo" %}',
				msj_first_name: '{% trans "Nombres" %}',
				msj_last_name: '{% trans "Apellidos" %}',
				msj_email: '{% trans "Correo" %}',
				msj_back: '{% trans "Regresar" %}',
				msj_save: "{% trans 'Guardar' %}",
				msj_me: "{% trans 'yo' %}"
			}
		}
		$("#teamList").html(swig.render($("#teamListTpl").html(),{locals: team}));
		$(".popover-element").popover({trigger: 'hover'});
		{% if rel_user.is_admin or user_is_org_admin %}
			$(".user-list").niceScroll();
			function load_org_member_list () {
				users = {};
				{% for u in group.organization.get_members %}{% is_member_of_group "u" "group" as is_member %}
				users[{{ forloop.counter0 }}] = {"id": "{{ u.id }}","email": "{{ u.email }}","username": "{{ u.username }}","image": "{{ u.email|showgravatar:32 }}","full_name": "{{ u.get_full_name|truncatewords:20 }}", "is_member": {{ is_member|lower }}};{% endfor %}
				$("#org-user-list").html(swig.render($("#org-user-template").html(), {locals: users}));
			}
			function append_org_member(u){
				users = {};
				users[0] = {"id": u.iid,"email": u.email, "username": u.username, "image": u['gravatar'],"full_name": u['full_name'], "is_member": true};
				$("#org-user-list").append(swig.render($("#org-user-template").html(), {locals: users}));
			}
			change_actions_org_member = function (id){
				var e = $("#org-user-"+id);
				e.find("span.glyphicon-ok").toggleClass("hidden");
				e.find("a.link-to-invite").toggleClass("user-inv");
			}
		    showIconCloseOnHover()
		    var MAX_LENGTH = 60
		    function getRoleName (op) {
		    	switch(op){
		    		case 1 : return "{% trans 'Miembro. Los miembros aparecen en las actas' %}"; break;
		    		case 2 : return "{% trans 'Redactor de Actas' %}"; break;
		    		case 3 : return "{% trans 'Creador de reuniones para &eacute;ste grupo.' %}"; break;
		    		case 4 : return "{% trans 'Administrador de &eacute;ste grupo' %}"; break;
		    	}
		    }
		    function callbackSetRole(data) {
		    	if (data["saved"]){
			    	setAlertMessage("{% trans 'Permiso agregado' %}", data['u'] + " ahora es " + getRoleName(data['role']))
			    }
			    else{
			    	setAlertError("{% trans 'Ocurri&oacute; un error' %}", data['error'])
			    }
		    }
		    function callbackRemoveRole(data) {
		    	if (data["saved"]){
			    	setAlertMessage("{% trans 'Rol removido' %}", data['u'] + " ya no es " + getRoleName(data['role']))
			    }
			    else{
			    	setAlertError("{% trans 'Ocurri&oacute; un error' %}", data['error'])
			    }
		    }
		    function setRole(e) {
		    	var checkbox = $(this);
		    	var role = checkbox.attr("data-role")
		    	var role_name = checkbox.attr("data-role-name")
		    	var uid = checkbox.attr("data-uid")
		    	if(checkbox.is(":checked")){
		    		sendNewAjax("{% url 'set_role_in_group' group.slug %}",
		    			{"role":role, "uid": uid, "remove": 0},
		    			callbackSetRole,
		    			{"method":"post"})
		    	}
		    	else{
		    		if(confirm("{% trans 'Seguro que desea eliminarle este rol?' %}")){
		    			sendNewAjax("{% url 'set_role_in_group' group.slug %}",
		    				{"role":role, "uid": uid, "remove": 1},
		    				callbackRemoveRole,
		    				{"load_elem": "#ac-load", "method":"post"})
		    		}
		    		else{
		    			checkbox.prop("checked",true);
		    		}
		    	}
		    }
		    function showIconAddMemberOnHover(){
		        // mostrar flecha sobre usuario
		        $(".user-li").hover(
		            function(){
		                $(this).find("i").toggleClass("hidden");
		        })
		    }
		    function appendMemberToList(data){//Muestra la lista de posibles miembros a agregar
		    	if(data.mail_is_valid){
			        if(data.is_user){//es usuario de la base de datos
			            user_to_invite = data['mail']+" ("+data['username']+")";
			            if(user_to_invite.length > MAX_LENGTH)
			                p="..."
			            $("#message-search").html("<strong>" + data.username + "</strong> hace parte de Actarium, haz click en el nombre para invitar.");
			            $("#search-result").html(
			                "<li class='user-li'>"+
			                "<a href='#invite-user' data-email='"+data['mail']+"' data-username='"+data['username']+"' >"+
			                "<img class='img30' src='"+data['gravatar']+"' alt='"+data['username']+"' />"+
			                user_to_invite.substring(0,MAX_LENGTH)+p+
			                '<i class="icon-accept pull-right icon-ok icon-white hidden"></i>'+
			                "</a>"+
			                "</li>"
			                );
			        }
			        else{//No es usuario de la base de datos
			            if(data['mail'].length > MAX_LENGTH)
			                p="..."
			            var view = {
			            	"mail": data['mail'],
			            	"gravatar": data['gravatar'],
			            	"username": data['username'],
			            	"p": p
			            }
			            $("#search-result").html(swig.render($("#new-user-template").html(), {locals:view}));
			            $("#message-search").html("<strong>" + view.mail + "</strong> a&uacute;n no disfruta de Actarium. Agrega sus datos y le enviaremos una invitaci&oacute;n al correo electr&oacute;nico.")
			            $("#add-new-user").on("click", sendInvitationToNewUser);
			        }
			        showIconAddMemberOnHover()//muestra icono "onHover" de la lista de miembros buscados
			    }
		    }
		    invitationResult = function (data, append_to_org_list){//Resultados de la invitacion (agrega si TRUE, error si False)
		        if(data['invited']){    //USUARIO INVITADO
		        	var is_admin = "{{is_admin}}";
		        	var user = {
						id: data['iid'], is_active: data['is_active'],
						username: data['username'], first_name: data['first_name'], last_name: data['last_name'],
						get_full_name: data['full_name'], email: data['email'], gravatar: data['gravatar'],
						roles: {is_member: true,is_secretary: false,is_admin: false}
					}
		        	var team_members = team.members;
		        	team.members = [user]; 
					$("#teamList").append(swig.render($("#teamListTpl").html(),{locals: team}));
					team.members = team_members;
					team.members.push(user);
					setAlertMessage("{% trans 'Invitado' %}", data['message'])
		            showIconCloseOnHover()
					$("td input[type='checkbox']").on("click", setRole);
		            $("#newmember").val("");
		            if (!append_to_org_list){append_org_member(data);}
		        }else{//EL USUARIO YA ESTA INVITADO
		            if(data["message"]){
		                setAlertError("{% trans 'Informaci&oacute;n' %}","("+data['email']+") "+data['message'])
		            }
		            else{
		                //si no hay mensaje, error desconocido
		                if(data["error"]){
		                	setAlertError("{% trans 'Ups! Algo sali&oacute; mal :(' %}",data['error'])
		                }
		                else{
		                	setAlertError("{% trans 'Ups! Algo sali&oacute; mal :(' %}","{% trans 'Por favor recarga la p&aacute;gina e intenta de nuevo' %}")
		                }
		            }
		        }
		    }
		    function sendInvitationToNewUser(e){
		    	e.preventDefault();
		    	var ctx = {
		    		"new": 1,
		    		"pk": $("#group_id").val(),
		    		"mail": $("#new-user-email").val(),
		    		"uname": $("#new-user-uname").val(),
		    		"firstname": $("#new-user-firstname").val(),
		    		"lastname": $("#new-user-lastname").val(),
		    		}
				sendAjax("{% url 'set_invitation' %}",ctx,"",invitationResult);
				$("#search-result").fadeOut(300,function (argument) {
					$(this).empty().show().removeClass("user-li");;
				});
	            $("#newmember").focus();
	            $("#message-search").html(message);
		    }
		    sendInvitation = function (elem, callback) {
		    	var mail = elem.attr("data-email");
	            var uname = elem.attr("data-username");
	            var group_id = $("#group_id").val();
	            sendNewAjax("{% url 'set_invitation' %}", {"pk":group_id, "mail": mail}, callback);
		    }
		    function sendInvitationOnClick(){//escucha el evento click para agregar al usuario al grupo
		        $(".user-li > a").on("click",function(e){
		            e.preventDefault();
		            sendInvitation($(this), invitationResult);
		            $(this).parent().fadeOut(300, function (e){
		            	$(this).empty().show().removeClass("user-li");
		            });
		            $("#newmember").focus();
		            $("#message-search").html(message);
		        });
		    }
		    function listMembers(data){//lista los usuarios disponibles a invitar
		        if(data){
		        	if (data.forbbiden){
		        		setAlertError("{% trans 'Error' %}", data.forbbiden);
		        	}else{
			            p="";
			            if(data["mail_is_valid"]){//el email valido, o el usuario es existente
			                appendMemberToList(data);//Muestra la lista de posibles miembros a agregar
			                sendInvitationOnClick();//escucha el evento click para agregar al usuario al grupo
			            }
			            else{//el correo es invalido o no hay resultados de usuarios existentes
			            	$("#message-search").html("{% trans 'Asegurate de escribir correctamente el correo electr&oacute;nico.' %}");
			                $("#search-result").html("<li style='list-style:none'>"+
			                                            "<a href='#'>"+("No hay resultados").substring(0,MAX_LENGTH)+
			                                            "</a>"+
			                                        "</li>")
			            }
		        	}
		        }else{//error en el server
		            setAlertError("Error en el servidor","Lo sentimos, algo sali&oacute; mal en el servidor, no es tu culpa<br><br>Gracias por darte cuenta, trataremos de repararlo.")
		        }
		    }
		    function getSearch () {
		    	var user = $("#newmember").val();
		        sendNewAjax("{% url 'get_users_list' group.organization.slug  %}", {search: user}, listMembers);
		    }
		    function searchMember(e){//INVITACIONES MAIN
		    	e.preventDefault();
		        if(e.keyCode==13){
				    getSearch();
		        }
		    }
		    function showIconCloseOnHover(){
		        $(".list-member-item").hover(function(){  
		            $(this).find("i.icon-remove").show(10)  
		        },function(){                      
		            $(this).find("i.icon-remove").hide(30)
		        })
		    }
		    function changeDataBtn(elem){
		    	var second_menu = elem.closest(".dropdown-body").find(".second-menu");
		    	var first_menu = elem.closest(".first-menu");

		    	second_menu.slideDown(150);
		    	first_menu.slideUp(200, function(){$(".first-element").focus();});

		    	second_menu.find(".back").on("click", function (e) {
		    		e.preventDefault();
		    		e.stopPropagation();
		    		first_menu.slideDown(150);
		    		second_menu.slideUp(200);
		    	});
		    }
		    function setNewNames(uid, fname, lname){

		    }
		    $("td input[type='checkbox']").on("click", setRole);//INVITACIONES MAIN 
		    $("#button-search").on("click", function (e) {
		    	e.preventDefault();
		    	getSearch();
		    	$("#newmember").focus();
		    });
		    $("#newmember").on("keyup", searchMember);//INVITACIONES MAIN 
		    $("#add-member").on('click focus', function(){//dar FOCO al input para buscar miembros
		        $("#add-member-menu").addClass("disblock");
		        $("#newmember").focus();//give the focus to the input to search members
		    });
		    $("#close-add-member").on("click",function(e){//boton cerrar dropdown
		        $("#add-member-menu").removeClass("disblock");//Close the dropdown menu to add members
		    });
		    load_org_member_list();
		{% endif %}
	});
	{% if rel_user.is_admin or user_is_org_admin %}
	function reSendInvitation (elem) {
    	var uid = $(elem).attr("data-uid");
    	sendNewAjax("{% url 'resend_invitation' group.slug %}",{"uid":uid}, function (data){
    		if(data.sent){
	    		setAlertMessage("{% trans 'Invitación reenviada' %}", "{% trans 'Se ha enviado nuevamente una invitacón por correo electrónico a ' %}" + data.email);
			}
			else{
				setAlertError("{% trans 'Error' %}", "{% trans 'Algo salió mal. No se envió el correo recordatorio. Por favor recargue la página e intente de nuevo.' %}");
			}
    	},
    	{"method": "post"}
    	);
    }
    function deleteInvitationDropdown(elem){
        if(confirm("{% trans 'Realmente desea eliminar la invitación a este Usuario?' %}"))
        {
            sendNewAjax(
                "{% url 'remove_from_group' group.slug %}",
                {"id_inv": elem.attr("data-invitation")},
                function(data){
                    if(data['deleted']){
                        elem.closest("tr").animate({"height": 0},"slow",function(e){
                            $(this).fadeOut();
                            setAlertMessage("{% trans 'Usuario eliminado del grupo' %}", data['message']);
                            change_actions_org_member(elem.attr("data-invitation"));
                        });
                    }
                    else{
                    	msj = "{% trans 'No se pudo elimnar el Usuario. Recarga la p&aacute;gina e intenta de nuevo' %}";
                    	if (data['message']){
                    		msj = data['message'];
                    	}
                        setAlertError("{% trans 'Error' %}", msj);
                    }
                },
                {"method": "post"}
            );
        }
    }
	function sendInvitationFromAdmin(e){
    	e.preventDefault();
		sendInvitation($(this), function(data){
			invitationResult(data, true);
			change_actions_org_member(data.iid);
		});
    }
    function changeData(e){
		e.preventDefault();
		e.stopPropagation();
		var fname = $(this).closest(".second-menu").find(".first-name-input").val();
		var lname = $(this).closest(".second-menu").find(".last-name-input").val();
		var email = $(this).closest(".second-menu").find(".email-input").val();
		var uid = $(this).attr("data-uid");
		var ctx = {"uid": uid, "first_name": fname, "last_name": lname, "email": email}
		var elem = $(this);
		sendNewAjax("{% url 'change_names' group.slug %}", ctx, function(data){
			if(data.changed){
				elem.closest(".td-info-user").find(".names").text(data['fname'] + " " + data['lname']);
				// debugger;
				elem.closest(".td-info-user").find(".resend-inv-li").attr("data-content", data['email']);

				restartMenus();
				setAlertMessage("{% trans 'Datos Cambiados' %}", "{% trans 'Los datos se han actualizado con éxito.' %}");
			}else{
				setAlertError("Error", "{% trans 'No se pudo guardar los nuevos Datos. Por favor recarga la página e intenta de nuevo.' %}");
			}
		},
		{"method": "post"}
		);
	}
	$(document).on("click", ".save-names", changeData);
    $(document).on("click", ".configuration-list a", function (e){
    	e.preventDefault();
    	e.stopPropagation();
    	if($(this).attr("href") === "#resend-invitation"){
    		reSendInvitation(this);
    	}
    	if($(this).attr("href") === "#change-names"){
    		changeDataBtn($(this));
    	}
    	if($(this).attr("href") === "#delete-from-group"){
    		deleteInvitationDropdown($(this));
    		$(this).closest(".dropdown-container").hide();
    	}
    });
    $(document).on("click", "a.user-inv", sendInvitationFromAdmin);
    {% endif %}
</script>
{% endblock %}

{%block menu_style_libs %}

{% endblock %}
