{% extends "groups/menu.html" %}
{% load gravatartag %}
{% load i18n orgs_ttag %}
{% block toolbar_content %}
	<ul class="list-unstyled">
	{% if user_is_org_admin %}
		<li class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown"  id="add-member">
		        <span class="glyphicon glyphicon-plus"></span> {% trans "Agregar miembro" %}
		        <span class="caret"></span>
		    </a>
		    <ul id="add-member-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		        <li class="taling">
		        	<div class="header-title">
		            	<span>{% trans "Miembros" %}</span>
		            	<div id="close-add-member" class="close pull-right glyphicon glyphicon-remove"></div>
		        	</div>
		        </li>
		        <li>
		            
		        </li>
		        <li>
		            <ul >
		            	
		            </ul>
		        </li>
		    </ul>
		</li>
	{% endif %}
	</ul>
{% endblock %}

{% block menu_content %}
	<div class="white-box-container">
		<div class="row">
			<div class="col-md-6">
				<h4>{% trans "Equipo de trabajo" %}</h4>
				<p>{% trans "Éste es tu equipo de trabajo con sus roles en el grupo." %}</p>
			</div>
			{% if rel_user.is_admin or user_is_org_admin %}
			<div class="col-md-6">
				{% include "groups/templates/add_member_dropdown.html" %}
			</div>
			{% endif %}
		</div>
		<div class="">
			{% if rel_user.is_admin or user_is_org_admin %}
			<form class="form-horizontal" enctype="multipart/form-data" method="POST">
				{% csrf_token %}
			{% endif %}
				<section class="">
					<table id="table-roles" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th class="td-first">
									<div class="info-title" title="{% trans 'Lista de todos los miembros del grupo' %} '{{group.name}}'">{% trans "Miembros del grupo" %}</div>
								</th>
								<th>
									<div class="info-title" title="{% trans 'Personas que aparecen en la lista de las actas' %}">
										<i class="glyphicon glyphicon-user"></i>
										<span class="th-name">{% trans "Aparece en actas" %}</span>
									</div>
								</th>
								<th>
									<div class="info-title" title="{% trans 'Tiene permisos de crear actas' %}">
										<i class="glyphicon glyphicon-file"></i>
										<span class="th-name">{% trans "Puede redactar" %}</span>
									</div>
								</th>
								<th>
									<div class="info-title" title="{% trans 'Puede administrar el grupo' %}">
										<i class="glyphicon glyphicon-wrench"></i> 
										<span class="th-name">{% trans "Administrador" %}</span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody id="teamList"></tbody>
					</table>
					<div class="icons-info">
		                <span>{% trans "Info" %}:</span>
		                <span title="{% trans 'Miembros que aparecen en las actas' %}"><i class="glyphicon glyphicon-user"></i> {% trans "Aparece en actas" %}</span>
		                <span title="Tiene la responsabilidad de redactar actas"><i class="glyphicon glyphicon-pencil"></i> {% trans "Redactor" %}</span>
		                <!-- <span title="Puede convocar reuniones"><span class="glyphicon glyphicon-calendar"></span> {% trans "Convocador de reuniones" %}</span> -->
		                <span title="{% trans 'El usuario pude agregar miembros, crear actas y administrar la información del grupo' %}"><i class="glyphicon glyphicon-wrench"></i> {% trans "Administrador" %}</span>
		                <!-- <span class="user-pend-l"> {% trans "Usuarios pendientes" %}</span> -->
		            </div>
				</section>
			{% if rel_user.is_admin or user_is_org_admin %}
			</form>
			{% endif %}
		</div>
	</div>
<script type="text/template" id="teamListTpl">
	{% include "groups/templates/user_roles.html" %}
</script>
{% endblock %}


{% block menu_content_style %}
<style type="text/css">
	.btn-new-minutes{padding-left: 40px;padding-right: 40px;}
	td label{cursor: pointer;margin: 0;padding: 9px;}
	.th-delelte{width: 9%;}
	div.info-title{text-align: center;font-size: 14px;
		height: 18px;margin: 0;overflow: hidden;padding: 0px;}
	.username-info{padding: 8px;font-size: 13px;}
	.username-info .names{margin-left: 3px;}
	.remove-invitation-container{margin-top: 7px;}
	td input[type='checkbox']{margin-top: 0;}
	#table-roles td{padding: 0;}
	#table-roles td.t-a-c{text-align: center;}
	.table{margin-bottom: 0;}
	.form-horizontal label{font-weight: bold;/*margin-top: 10px;*/}
	.list-member-item{border: solid thin #eee;border-bottom: solid thin #dadada;border-radius: 3px;
        padding: 8px;margin: 2px 0;position: relative; }
    .list-member-item:hover{border: solid thin #dadada;}
    .list-member-item > div{/*border: solid thin #dadada;*/width: 80%; }
    .list-member-item > span{cursor: pointer;top: 0;right: 5px;position: absolute;}
	.td-first{position: relative;}
	.td-first > div{text-align: left;}
	.td-info-user{position: relative;}
    .span6{border-right: solid thin #dadada;padding: 0 20px;}
    .remove-invitation > .icon-remove{margin: 5px;}
    ul#search-result{margin-left: 0;}
    ul#search-result li span{font-size: 13px;margin-left: 13px;color: gray;}
    .taling{text-align: center;}
    .list-members span{color: gray;}
    li a span{/*color:black;*/}
    .dropdown-menu li p{color:gray;font-size: 14px;line-height:1.5;margin: 0}
    article{min-height: 500px;overflow: visible;padding-top: 1px;}
    #add-member{position: static;cursor: pointer;}
    #add-member-menu{padding: 10px;width: 315px;}
    /*.header-title{border-bottom: 1px solid #dcdcdc;height: 26px;text-align: center;color: #939393;font-weight: bold;font-size: 14px;}*/
    ul#add-member-menu li{margin-bottom: 7px;}
    ul#add-member-menu li a:hover, ul#add-member-menu li a:active{color: white}
    .dropdownmenu  * li{list-style:none;text-decoration: none;}
    /*#newmember{margin: 3px;padding: 10px;width: 68%;}*/
    /*#button-search{margin: 3px;padding: 10px;padding-left: 20px;padding-right: 20px;position: absolute;right: 0;}*/
    .btnSup{margin-top: 8px;}
    div > section ul{margin-left:0; }
    div > section ul li{list-style: none;}
    .cancel-inv{font-style: italic;color: gray;}
    #new-user-firstname{margin-bottom: 2px;}
    .user-config{background-color: white; position: absolute;right: 6px;top: 10px;width:18px;height: 18px;text-align: center; transition: all 0.5s ease;border-radius: 4px;border: solid 1px white;}
    .user-config:hover{border: solid 1px #dadada;background-color: #dadada; /*transform:rotate(-30deg);*/}
    .td-info-user .dropdown-container{right: 0}
    #dropdown-org-users{width: 283px;}
    .org-user-img{width: 28px;height: 28px;display: inline-block;margin-right: 8px;}
    #dropdown-org-users .dropdown-body .user-list{min-height: 200px;max-height: 388px;}
    #dropdown-org-users .dropdown-body ul li {position: relative;}
    #dropdown-org-users .dropdown-body ul li a{padding: 4px;padding-right: 35px;color: #333;border-radius: 3px;}
    #dropdown-org-users .dropdown-body ul li a:hover{color: white;}
    #dropdown-org-users .dropdown-body ul li a span.glyphicon{position: absolute;right: 0;padding: 8px;font-size: 14px;color: #ddd;}
    ul li a{color: #333;}
    ul li a:hover{color: white;}

    .btn .caret{margin: 0 !important;}
	@media (min-width: 480px) {
		/*#newmember{width: 74%;}*/
		/*#add-member-menu{width: 315px;}*/
	}
	@media (min-width: : 380px) {
		/*#newmember{width: 60%;}*/
		#add-member-menu{width: 280px;left: -75px;}
	}
</style>
{% endblock %}

{% block menu_content_js %}
<script type="text/javascript">
	$("#group-menu-team").addClass("active");
	$("ul").addClass("list-unstyled");
</script>
<script src="{{STATIC_PREFIX}}js/vendor/swig.min.js"></script>
<script src="{{STATIC_PREFIX}}js/vendor/jquery.nicescroll.min.js"></script>
<script type="text/javascript" ><!--
	$(document).ready(function() {
		$("#admin-roles").addClass("active");
		$(".icons-info span, .username-info, .info-title, .resend").tooltip();
		
		{% if user_selected%}
		$("#user-{{user_selected}} td").css({"background-color":"#F9F395"})
		{%endif%}
		team = {
			user: {
				id: {{ user.id }},
				is_org_admin: {{ user_is_org_admin|lower }},
				is_group_admin: {{ rel_user.is_admin|lower }}
			},
			members: [
				{% for m in members %}
				{
					id: {{ m.id_user.id }},
					username: "{{ m.id_user.username }}",
					first_name: "{{ m.id_user.first_name }}",
					last_name: "{{ m.id_user.last_name }}",
					get_full_name: "{{ m.id_user.get_full_name }}",
					email: "{{ m.id_user.email }}",
					gravatar: "{{ m.id_user.email|showgravatar:28 }}",
					is_active: {{ m.id_user.is_active|lower }},
					roles: {
						is_member: {{ m.is_member|lower }},
						is_secretary: {{ m.is_secretary|lower }},
						is_admin: {{ m.is_admin|lower }},
					}
				},
				{% endfor %}
			],
			texts: {
				msj_invitation: "{% trans 'aún no ha aceptado la invitación' %}",
				msj_configuration_of: "{% trans 'Configuración de' %}",
				msj_configuration: "{% trans 'Configuración' %}",
				msj_resend: '{% trans "Reenviar invitación" %}',
				msj_change_names: '{% trans "Cambiar datos" %}',
				msj_delete: '{% trans "Eliminar de grupo" %}',
				msj_first_name: '{% trans "Nombres" %}',
				msj_last_name: '{% trans "Apellidos" %}',
				msj_email: '{% trans "Correo" %}',
				msj_back: '{% trans "Regresar" %}',
				msj_save: "{% trans 'Guardar' %}",
				msj_me: "{% trans 'yo' %}"
			}
		}
		$("#teamList").html(swig.render($("#teamListTpl").html(),{locals: team}));
		$(".popover-element").popover({trigger: 'hover'});
	});
	{% if rel_user.is_admin or user_is_org_admin %}
		{% include "groups/add_member_dropdown/scripts.js" %}
		change_actions_org_member = function (id){
			var e = $("#org-user-"+id);
			e.find("span.glyphicon-ok").toggleClass("hidden");
			e.find("a.link-to-invite").toggleClass("user-inv");
		}
	    function getRoleName (op) {
	    	switch(op){
	    		case 1 : return "{% trans 'Miembro. Los miembros aparecen en las actas' %}"; break;
	    		case 2 : return "{% trans 'Redactor de Actas' %}"; break;
	    		case 3 : return "{% trans 'Creador de reuniones para &eacute;ste grupo.' %}"; break;
	    		case 4 : return "{% trans 'Administrador de &eacute;ste grupo' %}"; break;
	    	}
	    }
	    function callbackSetRole(data) {
	    	if (data["saved"]){
		    	setAlertMessage("{% trans 'Permiso agregado' %}", data['u'] + " ahora es " + getRoleName(data['role']))
		    }
		    else{
		    	setAlertError("{% trans 'Ocurri&oacute; un error' %}", data['error'])
		    }
	    }
	    function callbackRemoveRole(data) {
	    	if (data["saved"]){
		    	setAlertMessage("{% trans 'Rol removido' %}", data['u'] + " ya no es " + getRoleName(data['role']))
		    }
		    else{
		    	setAlertError("{% trans 'Ocurri&oacute; un error' %}", data['error'])
		    }
	    }
	    function setRole(e) {
	    	var checkbox = $(this);
	    	var role = checkbox.attr("data-role")
	    	var role_name = checkbox.attr("data-role-name")
	    	var uid = checkbox.attr("data-uid")
	    	if(checkbox.is(":checked")){
	    		sendNewAjax("{% url 'set_role_in_group' group.slug %}",
	    			{"role":role, "uid": uid, "remove": 0},
	    			callbackSetRole,
	    			{"method":"post"})
	    	}
	    	else{
	    		if(confirm("{% trans 'Seguro que desea eliminarle este rol?' %}")){
	    			sendNewAjax("{% url 'set_role_in_group' group.slug %}",
	    				{"role":role, "uid": uid, "remove": 1},
	    				callbackRemoveRole,
	    				{"load_elem": "#ac-load", "method":"post"})
	    		}
	    		else{
	    			checkbox.prop("checked",true);
	    		}
	    	}
	    }
	    function searchMember(e){//INVITACIONES MAIN
	    	e.preventDefault();
	        if(e.keyCode==13){
			    getSearch();
	        }
	    }
	    function changeDataBtn(elem){
	    	var second_menu = elem.closest(".dropdown-body").find(".second-menu");
	    	var first_menu = elem.closest(".first-menu");

	    	second_menu.slideDown(150);
	    	first_menu.slideUp(200, function(){$(".first-element").focus();});

	    	second_menu.find(".back").on("click", function (e) {
	    		e.preventDefault();
	    		e.stopPropagation();
	    		first_menu.slideDown(150);
	    		second_menu.slideUp(200);
	    	});
	    }
	    function setNewNames(uid, fname, lname){
	    }
	    $("td input[type='checkbox']").on("click", setRole);//INVITACIONES MAIN 
	{% endif %}
	{% if rel_user.is_admin or user_is_org_admin %}
	function reSendInvitation (elem) {
    	var uid = $(elem).attr("data-uid");
    	sendNewAjax("{% url 'resend_invitation' group.slug %}",{"uid":uid}, function (data){
    		if(data.sent){
	    		setAlertMessage("{% trans 'Invitación reenviada' %}", "{% trans 'Se ha enviado nuevamente una invitacón por correo electrónico a ' %}" + data.email);
			}
			else{
				setAlertError("{% trans 'Error' %}", "{% trans 'Algo salió mal. No se envió el correo recordatorio. Por favor recargue la página e intente de nuevo.' %}");
			}
    	},
    	{"method": "post"}
    	);
    }
    function deleteInvitationDropdown(elem){
        if(confirm("{% trans 'Realmente desea eliminar la invitación a este Usuario?' %}"))
        {
            sendNewAjax(
                "{% url 'remove_from_group' group.slug %}",
                {"id_inv": elem.attr("data-invitation")},
                function(data){
                    if(data['deleted']){
                        elem.closest("tr").animate({"height": 0},"slow",function(e){
                            $(this).fadeOut();
                            setAlertMessage("{% trans 'Usuario eliminado del grupo' %}", data['message']);
                            change_actions_org_member(elem.attr("data-invitation"));
                        });
                    }
                    else{
                    	msj = "{% trans 'No se pudo elimnar el Usuario. Recarga la p&aacute;gina e intenta de nuevo' %}";
                    	if (data['message']){
                    		msj = data['message'];
                    	}
                        setAlertError("{% trans 'Error' %}", msj);
                    }
                },
                {"method": "post"}
            );
        }
    }
	function sendInvitationFromAdmin(e){
    	e.preventDefault();
		sendInvitation($(this), function(data){
			invitationResult(data, true);
			change_actions_org_member(data.iid);
		});
    }
    function changeData(e){
		e.preventDefault();
		e.stopPropagation();
		var fname = $(this).closest(".second-menu").find(".first-name-input").val();
		var lname = $(this).closest(".second-menu").find(".last-name-input").val();
		var email = $(this).closest(".second-menu").find(".email-input").val();
		var uid = $(this).attr("data-uid");
		var ctx = {"uid": uid, "first_name": fname, "last_name": lname, "email": email}
		var elem = $(this);
		sendNewAjax("{% url 'change_names' group.slug %}", ctx, function(data){
			if(data.changed){
				elem.closest(".td-info-user").find(".names").text(data['fname'] + " " + data['lname']);
				// debugger;
				elem.closest(".td-info-user").find(".resend-inv-li").attr("data-content", data['email']);

				restartMenus();
				setAlertMessage("{% trans 'Datos Cambiados' %}", "{% trans 'Los datos se han actualizado con éxito.' %}");
			}else{
				setAlertError("Error", "{% trans 'No se pudo guardar los nuevos Datos. Por favor recarga la página e intenta de nuevo.' %}");
			}
		},
		{"method": "post"}
		);
	}
	$(document).on("click", ".save-names", changeData);
    $(document).on("click", ".configuration-list a", function (e){
    	e.preventDefault();
    	e.stopPropagation();
    	if($(this).attr("href") === "#resend-invitation"){
    		reSendInvitation(this);
    	}
    	if($(this).attr("href") === "#change-names"){
    		changeDataBtn($(this));
    	}
    	if($(this).attr("href") === "#delete-from-group"){
    		deleteInvitationDropdown($(this));
    		$(this).closest(".dropdown-container").hide();
    	}
    });
    $(document).on("click", "a.user-inv", sendInvitationFromAdmin);
    {% endif %}
</script>
{% endblock %}

{%block menu_style_libs %}

{% endblock %}
