.selected-annontation{background-color: rgb(240, 240, 240);;}
.content-annotation{margin-left: 40px}
.comment-annotation p{font-size: 14px;}
.name-user-annotation{margin-left: 40px}
.name-user-annotation time{font-size: 14px;color: gray}
.annotation{padding: 10px;}
ul#annotations > li > div{margin-top: 25px;}
#button-save{margin-top: 5px;}
article header img{margin-top: 0px;}
#annotations-approve{margin: 30px 5px 5px;}
.commission-approving-list{padding-left: 25px;}
.commission-approving-list > li > div{display: inline;}
.icon-approver-status i{margin-top: 5px}
.div-sign .btn{margin: 3px;}