.selected-annontation{background-color: rgb(240, 240, 240);;}
.content-annotation{margin-left: 40px}
.comment-annotation p{font-size: 14px;}
.name-user-annotation{margin-left: 40px}
.name-user-annotation time{font-size: 14px;color: gray}
.annotation{padding: 10px;}
ul#annotations > li > div{margin-top: 25px;}
#button-save{margin-top: 5px;}
article header img{margin-top: 0px;}
/*#annotations-approve{margin: 30px 5px 5px;}*/
.commission-approving-list{padding-left: 25px;}
.commission-approving-list .user-image{width: 36px;}
.commission-approving-list > li > div{display: inline;}
.icon-approver-status i{margin-top: 5px}
.div-sign .btn{margin: 3px;}
.approvingCommissionContent .panel{border:none !important;box-shadow:none;margin: 0;margin-bottom: 5px;}
.approvingCommissionContent .panel .panel-body {padding: 8px;border:none !important;box-shadow:none;margin: 0}
.approvingCommissionContent .pbt{border-top:1px solid #ddd !important;}
/*.members-list-box{margin-top: 10px;}*/
.members-list-box > span{padding: 6px;}
.president-secretary{margin: 5px 10px;}
.president-secretary .text{margin-left: 24px;}
.president-secretary select{width: 80%;display: inline-block;}
.president-ok, .secretary-ok{margin-left: 5px;}
.text-italic{font-style: italic;}
.gray{color: #dadada;}
.btn-send-notification{position: fixed;bottom: 0px;right: 0px;padding: 10px 5px;background-color: white;padding-bottom: 10px;border-top:solid thin #ddd;width: 259px;}
.btn-send-notification button{/*width: 162px;*/margin: auto;margin-left: 5px}