{% extends "base.html" %}
{% load i18n %}
{% block TITLE %}{% trans 'Cuenta activada' %}{% endblock %}
{% url 'about' as about %}
{% url 'help' as help %}
{% url 'blog' as blog %}
{% url 'change_password' as change_pass %}
{%block body %}		
	<article class="message-box white-box-container">
		<h3>{% trans 'Cuenta activada' %}!</h3>
		<p>{% trans 'Tu cuenta ha sido activada satisfactoriamente, ya puedes disfrutar de las funcionalidades de <strong>Actarium</strong>.' %}</p>
		{% if invited %}
		<div class="change-pass">
			<div class="alert">
			  <strong>{% trans 'Atención' %}!</strong> {% trans 'Hemos generado una contraseña temporal para el inicio de tu sesión, para mayor seguridad debes cambiarla inmediatamente en tu <a href="{{ change_pass }}">configuración de cuenta' %}</a>.
			</div>
		</div>
		{% endif %}
		<div class="menu-icons glyphicon glyphicon-about"></div><p>{% trans 'Conoce el funcionamiento general de <strong>Actarium</strong> en la sección <a href="{{ about }}">Acerca</a>' %}</p>
		<div class="menu-icons icon-faqs"></div><p>{% trans 'Necesitas ayuda? Accede a las <a href="{{ help }}">Preguntas frecuentes</a>' %}  </p>
		<div class="menu-icons glyphicon glyphicon-blog"></div><p>{% trans 'Entérate de las actualizaciones de la plataforma en el <a href="{{ blog }}">Blog oficial de <strong>Actarium</strong></a><br><br><p>Si tienes dudas, sugerencias, preguntas o quieres reportar un error, puedes hacerlo a través del módulo <a href="#" id="callFeed">FeedBack</a> que esta disponible a la derecha en todas las ventanas' %}</p>

		<div class="get-started">
		<a href="{% url 'tour' %}" class="btn btn-large btn-success">{% trans 'Empezar' %}</a>
		</div>
	</article>
{% endblock%}
{%block style%}
<style>
	.message-box{margin-top: 40px !important;}
	.message-box a{color: #00aeaa}
	article .menu-icons{float: left;margin-right: 5px;}
	article p{margin-bottom: 20px;text-align:justify;}
	.change-pass{margin-bottom: 20px;}
	.get-started{font-size: 25px;text-align: center;}
	.get-started a{padding: 15px 45px;color: white;}
</style>
{%endblock%}