{% extends "website/layout_landing.html" %}
{% load i18n %}
{% block TITLE %}{% trans 'Confirmación de cuenta' %}{% endblock %}
{%block body %}		
	<section class="message-box white-box-container">
		<h3>{% trans 'Bienvendo a Actarium!' %}</h3>
		<p>
			{%for inv in invitations%}
			{{inv.id_user_invited.first_name}},
			{%endfor%}
			te {% if invitations|length > 1%}invitaron{%else%}invitó{%endif%} a disfrutar de <strong>Actarium</strong>.
		</p>
		<p>{% blocktrans %}Estás a punto de activar tu cuenta, pero antes, por favor confirma los siguientes datos y lee nuestros <a href="/{{ URL_TERMS }}" target="_blank">Términos de uso</a> y <a href="/{{ URL_PRIVACY }}" target="_blank">Políticas de privacidad</a>:{% endblocktrans %}</p>
		<div class="white-box-container message-box">
			<form method="POST">
				{% csrf_token %}
				{{form}}
				<label class="checkbox">
                    <input type="checkbox" name="term_privacy" id="term_privacy">
                    {% blocktrans %}
                    	Acepto los <a href="/{{ URL_TERMS }}" target="_blank">Términos de uso</a>
                    {% endblocktrans %}
                </label>
	            <button type="submit" class="btn btn-info" disabled="disabled" id="btn-submit">
	                Actualizar Datos
	            </button>
			</form>
		</div>
		<div class="menu-icons icon-about"></div><p>{% blocktrans %}Conoce el funcionamiento general de <strong>Actarium</strong> en la sección <a href="/about">Acerca</a>{% endblocktrans %}</p>
		<div class="menu-icons icon-faqs"></div><p>{% blocktrans %}Necesitas ayuda? Accede a las <a href="/help/faq">Preguntas frecuentes</a>{% endblocktrans %}  </p>
		<div class="menu-icons icon-blog"></div><p>{% blocktrans %}Entérate de las actualizaciones de la plataforma en el <a href="/blog">Blog oficial de <strong>Actarium</strong>{% endblocktrans %}</a>
		<br><br>
		<p>{% blocktrans %}Si tienes dudas, sugerencias, preguntas o quieres reportar un error, puedes hacerlo a través del módulo <a href="#" id="callFeed">FeedBack</a> que esta disponible a la derecha en todas las ventanas{% endblocktrans %}</p>
	</section>
{% endblock%}

{%block js%}
<script type="text/javascript">
	$(document).ready(function(){
	});
</script>
{% endblock%}

{%block style%}
<style>
	#body-container > section {padding-top: 20px;margin-top: 20px;}
	section .menu-icons{float: left;margin-right: 5px;}
	section p{margin-bottom: 20px;}
	.change-pass{margin-bottom: 20px;}
	form label{font-weight: bold;}
	form input{width: 90%; padding: 20px}
</style>
{%endblock%}