{% extends "public_base.html" %}
{% load i18n %}
{% block TITLE %}{% trans 'Link no valido' %}{% endblock %}
{%block content %}		
	<article class="message-box white-box-container">
		{% url 'password_reset2' as password_reset2 %}
 		{% url 'log_in' as login %}
		{% blocktrans %}
		<h3>Link no válido!</h3>
		<p>El link al que ingresaste ya no es válido.</p>
		<p>Si deseas iniciar sesión ingresa a <a href="{{ login }}">Iniciar sesión</a></p>
		<p>Si olvidaste tu contraseña utiliza la <a href="{{ password_reset2 }}">opción de recuperación de contraseña</a></p>
		{% endblocktrans %}
	</article>
{% endblock%}
{%block style%}
<style>
	article.white-box-container{min-height: 160px;}
</style>
{%endblock%}