{% extends "public_base.html" %}
{% load i18n %}
{% block TITLE %}{% trans 'Iniciar Sesión' %}{% endblock %}

{% block content %}
<article class="form-center-box row-fluid box b">
        {% include "account/login_form.html" %}
</article>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $("header .login-form").fadeOut("fast");
        setTimeout(function(){$("#id_username").focus();},400);
    })
</script>
{% endblock %}
{% block style %}
<style type="text/css">
    .form-content .input-container{min-height: 45px;}
    .form-content{padding-top: 5px;}
</style>
{% endblock %}
