{% extends "public_base.html" %}
{% load i18n %}
{% block TITLE %}{% trans 'Recuperar Contraseña' %}{% endblock %}
{% block content %}
<article class="message-box white-box-container">
        <h3>{% trans 'Recuperar Contraseña' %}</h3>
        <p>{% trans 'Olvidaste tu contraseña? Escribe tu email y te enviarmemos instrucciones para restablecerla.' %}</p>
        <p>{% trans 'Ingresa el correo asociado a tu cuenta' %}</p>
        <form method="POST"  >
        {% csrf_token %}
        <table class="mt20">
            {{form}}
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-info btn-large">
                        {% trans 'Recuperar' %}
                    </button>
                </td>
            </tr>

        </table>
        <p class="mt20 text-info">
            {% url 'new_user' as new_user %}
            {% blocktrans %}No estás registrado? <a href="{{ new_user }}">Registrate</a>, es gratis.{% endblocktrans %}
        </p>
        <p class="mt20 text-info">
            {% url 'log_in' as login %}
            {% blocktrans %}Si ya tienes una cuenta, <a href="{{ login }}">Inicia sesión</a>{% endblocktrans %}
        </p>
    </form>
</article>
{% endblock %}



{% block style %}
<style>
    h2{
        margin-left: 10px;
    }
    .uTop{
        padding:10px;
    }
    article p{
        font-size: 16px;
        line-height: 1;
        margin: 5px;
    }
    hr{
        margin:10px;
    }
    li hr{
        margin:20px;
    }
    article form table tr th{
        width: 40%;
    }article form table tr td{
        text-align: left;
    }
    table tr th label{
        font-size: 16px;
        margin-top: 5px;
    }
    table tr td input[type=password],table tr td input[type=text]{
        /*height: 30px;*/
        padding: 10px;
        font-size: 16px;
    }
    article form table{
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .title{
        text-align: center;
    }
    article.white-box-container{min-height: 260px;}
</style>
{% endblock %}

{% block js %}
<script>
    $("#menu-account").addClass("active");
    $("#id_email").focus()
    {% if dataUpdate %}
    setAlertMessage("{% trans 'Datos Actualizados' %}", "{% trans 'Tus datos fueron actualizados correctamente' %}")
    {% endif %}
    {% if passwordUpdate %}
    setAlertMessage("{% trans 'Constraseña Actualizada' %}","{% trans 'Tu constraseña fue actualizada correctamente' %}")
    {% endif %}

</script>
{% endblock %}



