{% load i18n %}

{% autoescape off %}
{% trans 'Has recibido este correo porque has solicitado un cambio de contraseña para tu cuenta en www.actarium.com.' %}

{% trans 'Por favor ingresa al siguiente link para cambiar tu contraseña:' %}
{% block reset_link %}
https://actarium.com{% url 'apps.account.views.password_reset_confirm2' uidb36=uid token=token %}
{% endblock %}

{% trans 'Tu nombre de usuario es:' %} {{ user.username }}




{% blocktrans %}
Atentamente,

El equipo Daiech
{% endblocktrans %}

{% endautoescape %}

