{% extends "asettings/settings_menu.html" %}
{% load i18n gravatartag %}
{% block TITLE %}{% trans 'Cuenta de Usuario' %}{% endblock %}
{% block bodysettings %}
<div>
    <div id="password-site">
        <form method="POST" action="{% url 'change_password' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <th colspan="2" class="title">{% trans 'Cambiar Contraseña' %}</th>
                </tr>
                {{ passForm }}
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-info btn-large">
                            {% trans 'Actualizar Contraseña' %}
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock%}



{% block settings_style %}
<style>
    article p{
        font-size: 12px;
        line-height: 1;
        margin: 5px;
    }

    li hr{
        margin:20px;
    }
    article form table tr th{
        width: 40%;
    }article form table tr td{
        text-align: left;
    }
    table tr th label{
        font-size: 16px;
        margin-top: 5px;
    }
    table tr td input[type=password],table tr td input[type=text]{
        /*height: 30px;*/
        padding: 10px;
        font-size: 16px;
    }
    article form table{
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .title{
        text-align: center;
    }

</style>
{% endblock %}

{% block settings_js %}
<script>
	$(document).on("ready", function() {
		$("#settings-password").addClass("active");
	});
	{% if error_email %}
    setAlertError("{% trans 'Error al actualizar correo' %}","{% trans 'Tu correo electrónico no pudo ser actualizado' %}")
    {% endif %}
    {% if dataUpdate %}
    setAlertMessage("{% trans 'Datos Actualizados' %}","{% trans 'Tus datos fueron actualizados correctamente' %}")
    {% endif %}
    {% if passwordUpdate %}
    setAlertMessage("{% trans 'Contraseña Actualizada' %}","{% trans 'Tu contraseña fue actualizada correctamente' %}")
    {% endif %}

</script>
{% endblock %}
