{% extends "asettings/settings_menu.html" %}
{% block TITLE %}Cuenta de Usuario{% endblock %}
{% load gravatartag i18n %}
{% block bodysettings %}
<div>
    <form method="POST"  action="{% url 'personal_data' %}">
        {% csrf_token %}
        <table class="">
            <tr><th colspan="2" class="title">{% trans 'Tus datos' %}</th></tr>
            {{ formUser }}
            <tr>
            	<td class="t-a-r">{% trans 'Cambiar imágen' %}:</td>
            	<td><img src="{{ user.email|showgravatar:'40'}}" width="40px" class="img-circle" />
                {% trans 'Agrega una foto a tu correro en <a href="http://gravatar.com/">Gravatar.com</a> y Actarium autom&aacute;ticamente har&aacute; uso de ella.' %}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-success btn-large mt10">
                        {% trans 'Actualizar Datos' %}
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <p class="containterMargin">{% trans 'Los datos con * son de caracter obligatorio.' %}</p>
    <hr>
    <div class="white-box-container box-container">
    <p class="pull-right"><a href="{% url 'help' %}?faq=associated-accounts">{% trans 'Qué son las cuentas asociadas?' %}</a></p>
        <form method="post" action="" id="disconnect-form">{% csrf_token %}</form>
        <p>{% trans 'Cuentas asociadas' %}:</p>
        <ul>
          {% for assoc in backends.associated %}
            <li>
                {% ifequal assoc.provider 'google-oauth2' %}
                Google
                {% else %}{{ assoc.provider|title }}{% endifequal %}
              (<a href="{% url 'social:disconnect_individual' assoc.provider assoc.id %}" class="disconnect">{% trans 'Desconectar' %}</a>)
            </li>
          {% empty %}
            <li><p>{% trans 'No tienes cuentas asociadas' %}</p></li>
          {% endfor %}
        </ul>
        {% if backends.not_associated %}
        <p>{% trans 'Conectate con' %}: </p>
        <ul>
          {% for name in backends.not_associated %}
            <li>
              <a href="{% url 'social:begin' name %}">
                {% ifequal name 'google-oauth2' %}
                Google
                {% else %}{{ name|title }}{% endifequal %}
              </a>
            </li>
          {% empty %}
            <li><p>{% trans 'No hay cuentas para asociar' %}</p></li>
          {% endfor %}
        </ul>
        {% endif %}
    </div>
    <hr>
    <p>{% trans 'Eres miembro desde el' %} {{ user.date_joined }} </p>
    <p>{% trans 'Ultimo logueo' %}: {{ user.last_login}}.</p>
    <hr>
    <a href="{% url 'delete_account' %}">{% trans 'Eliminar cuenta' %}</a>
</div>
{% endblock%}

{% block settings_style %}
<style>
    td{padding-left:7px;}
    article p{font-size: 12px;line-height: 1;margin: 5px;}
    li hr{margin:20px;}
    article form table tr th{width: 40%;}
    article form table tr td{text-align: left;}
    table tr th label{font-size: 16px;margin-top: 5px;}
    table tr td input[type=password],table tr td input[type=text]{padding: 10px;font-size: 16px;}
    article form table{margin: 0 auto;text-align: center;width: 100%;}
    .title{text-align: center;}
    .mt10{margin-top: 10px}
</style>
{% endblock %}

{% block settings_js %}
<script>
$(document).on("ready", function() {
	$("#settings-personal-data").addClass("active");
    $("a.disconnect").on('click', function (e) {
          e.preventDefault();
          $('form#disconnect-form')
              .attr('action', $(this).attr('href'))
              .submit();
      });
    {% if error_email %}
    setAlertError("{% trans 'Error al actualizar correo' %}", "{% trans 'Tu correo electrónico no pudo ser actualizado' %}")
    {% endif %}{% if dataUpdate %}
    setAlertMessage("{% trans 'Datos Actualizados' %}", "{% trans 'Tus datos fueron actualizados correctamente' %}")
    {% endif %}{% if passwordUpdate %}
    setAlertMessage("{% trans 'Contraseña Actualizada' %}", "{% trans 'Tu contraseña fue actualizada correctamente' %}")
    {% endif %}
    vars = getUrlVars();
    if (vars.msg === "account-in-use"){
        setAlertError("{% trans 'Cuenta en uso' %}", "{% trans 'Ya existe una cuenta en Actarium asociada a esta cuenta, por favor verifica que no tengas dos cuentas en Actarium.' %}");
    }
    if (vars.msg === "new-association"){
        setAlertError("{% trans 'Cuenta asociada' %}", "{% trans 'Ahora puedes iniciar sesión con tu nombre de usuario y contraseña o bien usando tu cuenta asociada.' %}");
    }
    if (vars.msg === "association-deleted"){
        setAlertError("{% trans 'Cuenta liberada' %}", "{% trans 'Se ha quitado la asociación a tu cuenta.' %}");
    }
    if (vars.msg === "AuthCanceled"){
        setAlertError("{% trans 'Procedimiento cancelado' %}", "{% trans 'No se ha completado la asociación.' %}");
    }
    if (vars.msg === "NotAllowedToDisconnect"){
        setAlertError("{% trans 'Imposible Desconectar' %}", "{% trans 'No puedes desconectar esta cuenta ya que es la única forma acceder a tu cuenta de Actarium. Por favor configure una contraseña e intente de nuevo.' %}");
    }
});
</script>
{% endblock %}
