{% load gravatartag i18n humanize %}
	<script type="text/template" id="taskManagerTpl">
		<div id="taskManager" >
			<div class="mt20">
				<div>Agregar tarea + </div>
				<div id="tasksList">
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="taskListTpl">
		{% verbatim %}
			{%for task in tasks %}
				<div class="oneTask" id="{{task.id}}">
					<div>
						{{task.name}}
					</div>
					<div>
						{{task.description}}
					</div>
					<div>
						<img style="width:20px" src="{{task.img}}">
					</div>
					<div>
						{{task.responsible}}
					</div>
				</div>
			{%endfor%}
		{% endverbatim %}
	</script>

	