{% extends "website/layout.html" %}
{% block TITLE %}Actarium - Acerca{% endblock %}

{%block body%}
<article>
    <div class="row-fluid">
        <h2>About us</h2>
        <hr>
        <header class="row-fluid ">
            <h1 class="span12">Actarium</h1>
        </header>
        <div class="row-fluid">
            <section class="span6">
                <p><b>Actarium</b> es un producto <b>Daiech</b>, de distribuci&oacute;n gratuita
                y software libre, para el registro actas y seguimiento de reuniones
                empresariales.</p>
            </section>
            <section class="span6 ">
                <p>Env&iacute;enos sus comentarios y sugerencias a 
                contacto@daiech.com</p>
            </section>
        </div>
    </div>
</article>
{%endblock%}


{% block js %}
<script>
    $(document).on("ready",function(e){
        $("#about").addClass("menu-active")
        $("#about .navbar-item").addClass("navbar-item-hover");
        $("#about .navbar-button-propierties").css({"height":"15px"}, 100);
    });
</script>
{% endblock %}