{% extends "website/layout.html" %}
{% block TITLE %}Acerca de{% endblock %}

{%block body%}
<article>
    <div class="row-fluid">
        <header class="row-fluid ">
            <h2 class="span12 hidden">Actarium</h2>
        </header>
        <div id="infografia">
            <div id="infografia1"></div>
            <div id="infografia2"></div>
            <div id="infografia3"></div>
        </div>
        <div>
            <p>Env&iacute;enos sus comentarios o sugerencias en nuestro sistema de <a href="#" id="callFeed">feedback</a> o escribenos a <a href="mailto:contacto@daiech.com">contacto@daiech.com</a></p>
        </div>
    </div>
</article>
{%endblock%}

{%block style %}
<style type="text/css">
#infografia{margin-top: 20px}
#infografia div{width: 900px;height: 600px;margin:0 auto;}
#infografia1{background-image: url("{{STATIC_PREFIX}}img/infografia/1.png");}
#infografia2{background-image: url("{{STATIC_PREFIX}}img/infografia/2.png");}
#infografia3{background-image: url("{{STATIC_PREFIX}}img/infografia/3.png");}
</style>
{%endblock%}


{% block js %}
<script>
    $(document).on("ready",function(e){
        $("#about").addClass("menu-active");
        $("#callFeed").on("click", function(e){e.preventDefault();$("#feed-modal").animate({
            'right':'0px'
        });})
        $("#about .navbar-item").addClass("navbar-item-hover");
        $("#about .navbar-button-propierties").css({"height":"15px"}, 100);
    });
</script>
{% endblock %}