{% extends "website/layout.html" %}
{% block TITLE %}Actarium - home{% endblock %}

{%block body%}


{% if user.is_authenticated %}
<article id="b-page">
    
    <div class="row-fluid">
        <section class="span6">
            <header>
                <h4 id="tittle-page">Actividad Reciente  
                {% if user.is_staff %}
                	<a href="/actions" role="button" class="btn" style="float:right">Acciones</a>
                {% endif %} 
                </h4>
            </header>
            <div class="accordion " id="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Invitations">
                            Tienes <span id="inv-count" class="badge badge-info">{{invitations|length}}</span> invitaciones a grupos
                        </a>
                    </div>
                    <div  id="Invitations" class="accordion-body collapse in">
                        <ul class="accordion-inner">
                            {% for invitation in invitations %}
                            <li>
                                <span class="notification-text alpha60">
                                    <strong>{{invitation.id_user_from.first_name|lower|capfirst}}</strong> te invit&oacute; al grupo <a href="/groups/{{invitation.id_group.slug}}">{{invitation.id_group.name|lower|capfirst}}</a>
                                    <br />
                                    <time datetime="{{reunion.date_convened|date:'c'}}">El {{invitation.date_invited}}</time>
                                </span>
                                <div class="buttons">
                                    <button type="button" data-invitation="s{{invitation.id}}" class="accept-inv btn btn-small btn-info">
                                        Aceptar 
                                        <span class="load"></span>
                                    </button>
                                    <button type="button" data-invitation="n{{invitation.id}}" class="accept-inv btn btn-small">
                                        Cancelar
                                        <span class="load"></span>
                                    </button>
                                    <div class="pull-right load"></div>
                                </div>
                                <hr>

                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Reunions">
                            Tienes <span id="length-reunion" class="badge badge-info">{{reunions|length}}</span> reuniones pendientes
                        </a>
                    </div>
                    <div  id="Reunions" class="accordion-body collapse in">
                        <ul class="accordion-inner">

                            {% for reunion in reunions %}

                            <li data-group_name="{{reunion.group_name}}" data-date="{{reunion.date}}">
                                <span class="notification-text">
                                    <strong>Grupo </strong><a href="/groups/">{{reunion.group_name}}</a><br />
                                    <time datetime="{{reunion.date}}">El {{reunion.date}}</time>
                                </span>
                                <div class="buttons">
                                    <a href="#" class="btn btn-small btn-info confirmed2-true" data-id_reunion="{{reunion.id_reunion}}">Asistir&eacute;</a>
                                    <a href="#" class="btn btn-small confirmed2-false" data-id_reunion="{{reunion.id_reunion}}">No Asistir&eacute;</a>
                                    <a class="btn btn-link" href="#">Ver m&aacute;s</a>
                                </div>
                                <hr>

                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div><!--cierra notifications-->
        </section>
        <section class="span5 margint30">
            <header class="row-fluid fix_btn">
                <h4 class="span7">Tus grupos</h4>

                <div class="span4">
                    <a href="/groups/new" class="btn btn-small">
                        <i class="icon-book"></i> Crear Grupo
                    </a>
                </div>
            </header>
            <hr>
            <ul id="group-list" class="nav onOver">
                {% for group in groups %}
                <li class="img-rounded">
                    <a href="/groups/{{group.slug}}">
                        <img src="{{ STATIC_PREFIX }}{{group.img_group}}" alt="{{group.name}}"/>
                        {{group.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>

        </section>
    </div>
</article>
{% else %}
<div id="new-container">
    <img id="logo-act-big" src="/static/img/logo_grande.png" alt="Logo Actarium"/>
</div>
<div id="info-act" style="display:none">
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    Aqu&iacute; consignaremos informaci&oacute;n de inter&eacute;s sobre Actarium.
    <a href="/"><img id="arriba" src="/static/img/arrow-up.png" alt="arriba"/></a>
</div>
<div id="middle-down">
<div class="pic-down">
            <a href="#" title="info">
                <div id="arrow-down">
                    
                </div>
            </a>
    </div>
</div>
<div class="info-containter">
    <div class="info-pics">
        <div id="left-panel">
        <div id="register-form" class="containterMargin hidden">
            <form name="" action="/account/login" method="POST" class="form-horizontal pull-right b">
                {% csrf_token %}
                    <label for="id_username">Nombre de usuario</label>
                    <input id="id_username" type="text" name="username" maxlength="30" placeholder="Nombre de usuario" autofocus />
                    <label for="id_password">Contrase&ntilde;a</label>
                    <input type="password" name="password" id="id_password" />
                
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <!--                            <input type="checkbox">Recordarme</a>-->
                        </label>
                        <button type="submit" name="submit" id="id_submit" class="btn btn-success">Log In</button>
                        <a href="/account/password/reset/" class="btn btn-link">&iquest;Olvidaste tu contrase&ntilde;a?</a>
                    </div>
                </div>
            </form>
            
        </div>
        <div id="pic-log-left" class="pic-log">
            <a href="/account/login" >
                <div id="left-bubble">
                    <div class="bubble-text">
                        Ingresar
                    </div>

                </div>
            </a>
            <div id="login-pic">
                <div id="img-log">

                </div>
            </div>
        </div>
        </div>

        <!-- <div class="pic-down">
            <a href="#" title="info">
                <div id="arrow-down">
                    
                </div>
            </a>
        </div> -->
        <div id="right-panel">
        <div id="pic-log-right" class="pic-log">
            <a href="/account/new">
                <div id="right-bubble">
                    <div class="bubble-text">
                        Registrarse
                    </div>
                </div>
            </a>
            <div id="singup-pic">
                <div id="img-reg">

                </div>
            </div>
        </div>
        </div>


    </div>
</div>


{% endif %}

{%endblock%}
{% block style%}
<style>

    /* **************************************************************************** 
    Index Website
    **************************************************************************** */
    .container{
        width:100%;
    }
    
    #middle-down{
        width:50px;
        margin: 0 auto 0 auto;
    }
    #left-panel{
        display: block;
        float: left;
        width:49%;
    }
    #right-panel{
        display: block;
        float: right;
        width: 49%;
    }

    #new-container{
        background-color: #E9E9E9;
        height: 200px;
        min-height: 200px;
        width: 100%;
        padding-bottom: 35px;
    }
    #new-container > img{
        display: block;
        margin: auto;       
        padding-top: 30px;
        width:350px;
    }
    
    /* **************************************************************************** 
    Termina Index Website
    **************************************************************************** */


    .accordion-heading{
        /*background-image: -webkit-linear-gradient(top, #62C462, #51A351);*/

        background-image: -webkit-linear-gradient(top, white, #E6E6E6);
        border-radius:5px;
    }

    .accordion-inner{
        /*background-color: gainsboro;*/
        /* Fallback for web browsers that doesn't support RGBa */
        background: rgb(255, 255, 255) transparent;
        /* RGBa with 0.6 opacity */
        background: rgba(255, 255, 255, 0.6);
        /* For IE 8*/
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11111111,endColorstr=#11111111)";
    }
    #b-page{
        background-image: url("/static/img/fondo_peq.jpg");
        padding-top: 100px;
    }
    #tittle-page{
        margin-left: 48px;
    }
    .accordion-group{
        border: solid gray;
        margin-left: 48px;
        margin-top: 10px;
        width: 70%;
    }
    .span6 h4{
        margin-bottom:20px;
    }
    span.notification-text{
        display: block;
    }
    h4{
        margin:0;
        padding:0;
    }
    header h1{
        margin: 0;
    }
    .span2{
        margin-right: 20px;
    }
    .span6{
        border-right: solid thin #dadada;
        padding: 0 20px;
    }
    section div ul li{
        list-style-type: none;
        font-size: 12px;
        margin-bottom: 5px;
    }
    li hr{
        margin:20;
    }
    ul{
        margin:0;
    }
    .containterMargin{
        margin:20px;
    }
    .buttons{
        margin-top:10px;
    }
</style>
{%endblock%}
{% block js %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>

    $("#left-bubble").on("click", function(e){
        e.preventDefault()
        $("#pic-log-left").slideToggle("fast")
        $("#register-form").removeClass("hidden")
        })
    $("#right-bubble").on("click", function(e){
        e.preventDefault()
        $("#pic-log-right").slideToggle("fast")
        })
    $(".pic-down, #arriba, #logo-act-big").on("click",function(e){
        e.preventDefault()
        $("#info-act").slideToggle("fast")
    })
    
    $(".collapse").collapse({
        //toggle: false
    })
    function acceptInvitation(element, accept){
        sendAjax(
        "/groups/acceptInvitation",
        {"i_id":accept},
        $(element).find(".load"),
        function(data){
            if (data["accepted"]){
                var actual = parseInt($("#inv-count").text());
                actual--;
                $("#inv-count").text(""+actual);
                $("#group-list").append(
                "<li class='img-rounded'>"+
                    "<a href='"+data["group"]["slug"]+"'>"+
                    "<img src='{{STATIC_PREFIX}}"+data["group"]["img_group"]+"' alt=''/>"+
                    data["group"]["name"]+
                    "</a>"+
                    "</li>")
                $(element).parent().parent().slideUp(900,function(){
                    $(this).empty().html(
                    "Ahora perteneces al grupo "+
                        "<a href='"+data["group"]["slug"]+"'>"+data["group"]["name"]+"</a>"+
                        "<hr>"
                ).fadeIn()
                }
            )
                setAlertMessage("Invitaci&oacute;n a un nuevo grupo",
                "Ahora puedes acceder al grupo"+data["group"]["name"]+".")
            }
            else{
                $(element).parent().parent().slideUp(900,function(){
                    $(this).empty().html(
                    "Cancelaste la invitaci&oacute;n para unirte al grupo "+data["group"]["name"]+"."+
                        "<br>"+
                        "Si lo hiciste por error comunicate con el administrador del grupo para "+
                        "obtener una nueva invitaci&oacute;n."+
                        "<hr>"
                ).fadeIn()
                })
                var actual2 = parseInt($("#inv-count").text())
                actual2--
                $("#inv-count").text(""+actual2)
                setAlertMessage("Invitaci&oacute;n a un nuevo grupo",
                "Haz rechazado la invitaci&oacute;n")
            }
        })

        function confirm(id_reunion, is_confirmed, group_name, date){
            //console.log(id_reunion+" "+is_confirmed);
            sendAjax("/groups/setAssistance",
            {id_reunion:id_reunion, is_confirmed: is_confirmed},
            "#load_reunions",
            function(data){
                    
            }
        )
        }
        function setList(e,btn, op){
            var t = 500;
            e.preventDefault();
            li= btn.parent().parent();
            li.animate({'height': 0},t,function(){
                confirm(btn.attr("data-id_reunion"),op, $(this).attr("data-group_name"), $(this).attr("data-date"));
                $(this).remove();
                l = $("#length-reunion").html();
                $("#length-reunion").html(l-1);
            });
            //console.log(btn.attr("data-id_reunion"));
        }
        function setButtons(){
            $('.confirmed2-true').click(function(e){
                setList(e,$(this), true);
                //console.log($(this).attr("data-id_reunion"))
            });
            $('.confirmed2-false').click(function(e){
                setList(e,$(this),false);
                //console.log($(this).attr("data-id_reunion"))
            });	
        }
        setButtons();
    

    }
    $(".accept-inv").on("click",function(e){
        e.preventDefault();
        $(this).attr("disabled", "disabled");
        var accept = $(this).attr("data-invitation")
        if(accept.substring(0,1)=="n"){
            if(confirm("¿Seguro que no quieres ser parte de este grupo?")){
                acceptInvitation($(this), accept)
            }
            else{
                $(this).attr("disabled", false);
            }
        }else{
            acceptInvitation($(this), accept)
        }
    })
    function confirmar(id_reunion, is_confirmed, group_name, date){
		sendAjax("/groups/setAssistance",
    			{id_reunion:id_reunion, is_confirmed: is_confirmed},
    			"#load_reunions",
    			function(data){
                    console.log(data)
                    setAlertMessage("Reuniones", "Puedes ver la actividad de tus reuniones en el men&uacute; <a href='/groups/calendar'>Reuniones</a>")
    			}
    	)
	}
    function setList(e,btn, op){
		var t = 500;
		e.preventDefault();
		li= btn.parent().parent();
		li.animate({'height': 0},t,function(){
			confirmar(btn.attr("data-id_reunion"),op, $(this).attr("data-group_name"), $(this).attr("data-date"));
			$(this).remove();
			l = $("#length-reunion").html();
			$("#length-reunion").html(l-1);
		});
	}
    function setButtons(){
		$('.confirmed2-true').click(function(e){
            $(this).attr("disabled", "disabled");
			setList(e,$(this), true);
		});
		$('.confirmed2-false').click(function(e){
            $(this).attr("disabled", "disabled");
			setList(e,$(this),false);
		});	
	}
	setButtons();
</script>
{% endblock %}