{% extends "website/layout.html" %}
{% block TITLE %}Actarium - home{% endblock %}

{%block body%}
<article>
    <h1>Bienvenido</h1>
    <p>La soluci&oacute;n empresarial para el registro y seguimiento de sus reuniones.</p>
    {% if user.is_authenticated %}
    <div class="columnaI">
        <a href="#" class="btn btn-large"><i class="icon-book"></i>Crear Grupo</a>
    </div>
    <div class="columnaD">
        <ul class="nav onOver">
            <li><a href="/groups/minutes"><img src="{{ STATIC_PREFIX }}img/org.png"/>Grupo</a></li> 
            <li><a href="/groups/minutes"><img src="{{ STATIC_PREFIX }}img/org.png"/>Otro grupo</a></li> 
            <li><a href="/groups/minutes"><img src="{{ STATIC_PREFIX }}img/org.png"/>Un grupo m&aacute;s</a></li> 
        </ul>    </div>

    {% else %}
    <div class="sing">
        <a href="/account/new" class="btn btn-info btn-large">Registrarse</a>
        <a href="/account/login" class="btn btn-info btn-large">Ingresar</a>

    </div>
    {% endif %}
</article>
{%endblock%}


{% block js %}
<style>
    

</style>
<script>
    //$("#menu-account").addClass("active")
</script>
{% endblock %}