{% extends "website/layout.html" %}
{% block TITLE %}Actarium - home{% endblock %}

{%block body%}
<article>
    <header>
        <h1>Actarium</h1>
        <a href="#" class="pull-right btn">Feed-back <i class="icon-bullhorn"></i></a>
    </header>
    {% if user.is_authenticated %}
    <hr>
    <section class="columnaI ">
        <header>
            <h4>Actividad Reciente</h4>
        </header>
        <div class="notifications b">
            <div>Tienes {{invitations|length}} invitaciones a grupos</div>
            <ul class="">
                {% for invitation in invitations %}
                    <li>
                        {{invitation.id_user_from.first_name}} te invit&oacute; el {{invitation.date_invited|date:"d F"}}
                        al grupo <a href="/groups/{{invitation.id_group.slug}}">{{invitation.id_group.name}}</a>
                        <a href="#" class="btn btn-small">Aceptar</a> <a href="#" class="btn btn-danger btn-small">Cancelar</a>
                    </li>
                {% endfor %}
            </ul>
        </div><!--cierra notifications-->
    </section>
    <section class="columnaD">
        <header>
            <h4>Tus grupos</h4>
        </header>
        <a href="/groups/new" class="btn btn-small"><i class="icon-book"></i>Crear Grupo</a>
        <ul class="nav onOver">
        	{% for group in groups %}
	            <li class="img-rounded">
		            <a href="/groups/{{group.slug}}">
		            	<img src="{{ STATIC_PREFIX }}{{group.img_group}}" alt="{{group.name}}"/>
		            	{{group.name}}
		            </a>
	            </li>
            {% endfor %}
        </ul>
    </section>

    {% else %}
    <p>La soluci&oacute;n empresarial para el registro y seguimiento de sus reuniones.</p>
    <div class="sing">
        <a href="/account/new" class="btn btn-info btn-large">Registrarse</a>
        <a href="/account/login" class="btn btn-info btn-large">Ingresar</a>

    </div>
    {% endif %}
</article>
{%endblock%}
{% block style%}
<style>
    article{
        min-height: 200px;
        overflow: hidden;
    }
    article header{
        margin-top: 15px;
    }
    article header h1{
        display: inline;
    }
</style>
{%endblock%}
{% block js %}
<script>
    //$("#menu-account").addClass("active")
</script>
{% endblock %}