{% load gravatartag %}
{% load i18n %}
<div id="topbar">
    <a href="/" id="topbar-btn-logo">
        <div class="topbar-logo-center"><div id="logo-actarium-p" class="sprites"></div></div>
    </a>
    <div id="topbar-group-name" class="pull-left"></div>
    {% if not user.is_authenticated %}
    <div id="social-buttons" class="pull-right">
        <a href="https://www.facebook.com/actarium" target="_blank">
            <div class="sprites social-button" id="fb-but"></div>
        </a>
        <a href="https://www.twitter.com/actarium" target="_blank">
            <div class="sprites social-button" id="gp-but"></div>
        </a>
        <a href="https://plus.google.com/u/2/103573222326693941191/posts" target="_blank">
            <div class="sprites social-button" id="tt-but"></div>
        </a>   
    </div>
    {% else %}
    <div id="account-menu" class="btn-group pull-right">
        <div id="log-sup" class="topbar-btn dropdown-toggle" data-toggle="dropdown" title="Configuraci&oacute;n de cuenta">
            <img class="size22 avatar" src="{{ user.email|showgravatar:'32'}}" alt="{{user.first_name}}" />
            <div class="dinline">
                {% if user.is_authenticated %}{{user.username}}{% else %}{% trans "Iniciar Sesi&oacute;n" %}{% endif %}
            </div>
            <span class="caret topbar-caret"></span>
        </div>
        <ul class="dropdown-menu">
            <li class="current-user">
                <a href="/account">
                    <div class="content-box">
                        <img class="size32 avatar" src="{{ user.email|showgravatar:'32'}}" alt="{{user.first_name}}" />
                        <span class="fullname">{{user.first_name}} {{user.last_name}}</span>
                        <small class="metadata">{% trans "Editar configuraci&oacute;n" %}</small>
                    </div>
                </a>
            </li>
            <li><a href="/{{URL_PRIVACY}}">{% trans "Privacidad" %}</a></li>
            <li><a id="menu-feed" href="/#feedback">{% trans "Comentarios" %}</a></li>
            <li class="divider"></li>
            <li><a href="/account/logout/">{% trans "Cerrar sesi&oacute;n" %}</a></li>
        </ul>
    </div>
    <div id="groups-menu" class="btn-group pull-right">
        <div id="" class="topbar-btn dropdown-toggle" data-toggle="dropdown" title="">
            <img src="/static/img/groups/default.jpg" alt='{% trans "Grupos" %}'  /> 
            <div class="dinline">
                {% trans "Grupos" %}
            </div>
            <span class="caret topbar-caret"></span>
        </div>
        <ul class="dropdown-menu">
            {% for g in THE_GROUPS %}
                <li title="{% if g.is_admin%}Soy administrador{%endif%} {% if g.is_secretary%}Soy secretario{%endif%}">
                    <a class="group-link" href="/groups/{{g.id_group.slug}}">
                        {{g.id_group.name|title}}
                    {% if g.id_group.is_pro%}<span class="label label-info">Pro</span>{% endif %}
                    </a>
                </li>
                {% endfor %}
            <li class="divider"></li>
            <li><a href="/groups">{% trans "Ver todos" %}</a></li>
            <li><a href="/groups/new">{% trans "Crear grupo" %}</a></li>
        </ul>
    </div>
    {%endif%}
    <div id="ac-load" class="pull-right mt10"></div>
</div>