{% load gravatartag %}
<div class="navbar-d">
    <a href="/" class="" id="logo-sup">
        <div id="logo-daiech-p">
            
        </div>
    </a>   
    <div id="social-buttons">
        <a href="http://www.facebook.com/actarium" class="brand" ><div class="social-but" id="fb-but"></div></a>   
        <a href="#" class="brand" ><div class="social-but" id="gp-but"></div></a>   
        <a href="http://www.twitter.com/actarium" class="brand"><div class="social-but" id="tt-but"></div></a>   
    </div>
    <div id="top-button">
        <button id="drop-d-menu">Menu</button>
    </div>
    <div class="navbar-button" id="navbar-button-container">
        <ul class="">
            <li class="">
                <a href="#">
                    <div class="navbar-element">
                        <div class="navbar-item">
                            <div class="ico-top"> 
                                <img src="/static/img/ico-acerca.png" alt="acerca"/>
                            </div>
                                
                           
                                <span class="top-text">Acerca</span>
                        </div>
                        <div class="navbar-button-propierties navbar-select0"></div>
                    </div>
                </a>
            </li>
           
        </ul>
    </div>
</div>