{% load gravatartag %}
<div class="navbar-d">
    <a href="/" class="" id="logo-sup"><img src="/static/img/logo_pequeño.png" alt="Logo Daiech" /></a>   
    <div id="social-buttons">
        <a href="http://www.facebook.com/actarium" class="brand" ><img src="/static/img/social-f.png" alt="Logo Facebook" /></a>   
        <a href="#" class="brand" ><img src="/static/img/social-g.png" alt="Logo twitter" /></a>   
        <a href="http://www.twitter.com/actarium" class="brand"><img src="/static/img/social-t.png" alt="Logo Google+" /></a>   
    </div>
    <div id="top-button">
        <button id="drop-d-menu">Menu</button>
    </div>
    <div class="navbar-button" id="navbar-button-container">
        <ul class="">
            <li class="">
                <a href="#">
                    <div class="navbar-element">
                        <div class="navbar-item">
                            <span>Acerca</span>
                        </div>
                        <div class="navbar-button-propierties navbar-select0"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="navbar-element">
                        <div class="navbar-item">
                            <span>Mis Grupos</span>
                        </div>
                        <div class="navbar-button-propierties navbar-select1"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>