{% load gravatartag %}
<div class="navbar-d">
 

    <a href="/" class="" id="logo-sup">
        <div id="logo-daiech-p">
            
        </div>
    </a>
    
    <div id="social-buttons">
        <a href="http://www.facebook.com/actarium" class="brand" ><div class="social-but" id="fb-but"></div></a>   
        <a href="http://www.twitter.com/actarium"class="brand" ><div class="social-but" id="gp-but"></div></a>   
        <a href="#" class="brand"><div class="social-but" id="tt-but"></div></a>   
    </div>
    <div id="top-button">
        <button id="drop-d-menu">Menu</button>
    </div>
    <div class="navbar-button" id="navbar-button-container">
        <ul id="top-menu-style" class="">
            <li class="">
                <a href="/groups">
                    <div class="navbar-element">
                        <div class="navbar-item">
                            <div class="ico-top"> 
                                <img src="/static/img/ico-grupos.png" alt="acerca"/>
                            </div>
                                
                           
                                <span class="top-text">Mis Grupos</span>
                        </div>
                        <div class="navbar-button-propierties navbar-select0"></div>
                    </div>
                </a>
            </li>

            <li class="">
                <a href="/groups/calendar">
                    <div class="navbar-element">
                        <div class="navbar-item">
                            <div class="ico-top"> 
                                <img src="/static/img/ico-reuniones.png" alt="acerca"/>
                            </div>
                                
                           
                                <span class="top-text">Reuniones</span>
                        </div>
                        <div class="navbar-button-propierties navbar-select1"></div>
                    </div>
                </a>
            </li>
            
            <li class="">
                <a href="/about">
                    <div class="navbar-element">
                        <div class="navbar-item">
                            <div class="ico-top"> 
                                <img src="/static/img/ico-acerca.png" alt="acerca"/>
                            </div>
                                
                           
                                <span class="top-text">Acerca</span>
                        </div>
                        <div class="navbar-button-propierties navbar-select0"></div>
                    </div>
                </a>
            </li>
           
        </ul>
        {% if user.is_authenticated %}
        <div id="menu-login" class="btn-group pull-right">
            <a id="log-sup" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i>
                {% if user.is_authenticated %}{{user.username}}{% else %}Inicia sesi&oacute;n{% endif %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                <li class="current-user">
                    <a href="/account">
                        <div class="content-box">
                            <img class="size32 avatar" src="{{ user.email|showgravatar:'32'}}" alt="{{user.first_name}}" />
                            <span class="fullname">Mi Cuenta</span>
                            <small class="metadata">Editar configuraci&oacute;n</small>
                        </div>
                    </a>
                </li>
                <li><a href="#">Privacidad</a></li>
                <li class="divider"></li>
                <li><a href="/account/logout/">Cerrar sesi&oacute;n</a></li>
                {% else %}
                <form method ="post" action="/account/login">
                    <li>{% csrf_token %}</li>
                    <li><p>Inicia sesi&oacute;n</p></li>
                    <li><input id="username"  name="username" class="input-small next-li" type="text" placeholder="Usuario" autofocus></li>
                    <li><input id="password"  name="password" class="input-small next-li" type="password" placeholder="Contrase&ntilde;a" ></li>
                    <a id="close-login-menu" class="pull-left" href="#">cerrar</a><input id="btn-login" class="input-small btn btn-primary next-li pull-right" type="submit" value="Entrar" >
                </form>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>