/**
 * DEPRECATED Julio 16 de 2014
 * Este paso se omitió. ahora se selecciona los roles para cada acta al mismo tiempo que se crea
 */

{% extends "base.html" %}
{% block TITLE %}Administraci&oacute;n de {{group.name}}{% endblock %}
{% block body %}
{% load gravatartag %}

<article class="message-box white-box-container">
	<h3><a href="/groups/{{group.slug}}">{{group.name}}</a> - Crear nueva Acta</h3>
	<p><strong>Roles de usuario:</strong> Debes llenar la asistencia y definir roles antes de crear el acta</p>
	<form class="form-horizontal" enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		<section class="">
			<div class="row-fluid mt40 mb50">
				<div class="col-md-6">
					<span>Presidente:</span>
					<select id="sel-president">
						<option value="0">Seleccione presidente</option>
					{%for m in members%}
						<option value="{{m.member.id_user.id}}">{{m.member.id_user.first_name}} {{m.member.id_user.last_name}} ({{m.member.id_user.username}})</option>
                	{%endfor%}
					</select>
					<span class="president-ok hidden"><i class="glyphicon glyphicon-ok"></i></span>
				</div>
				<div class="col-md-6">
					<span>Secretario:</span>
					<select id="sel-secretary">
						<option value="0">Seleccione secretario</option>
					{%for m in members%}
						<option value="{{m.member.id_user.id}}">{{m.member.id_user.first_name}} {{m.member.id_user.last_name}} ({{m.member.id_user.username}})</option>
                	{%endfor%}
					</select>
					<span class="secretary-ok hidden"><i class="glyphicon glyphicon-ok"></i></span>
				</div>
			</div>
			<table id="table-roles" class="table table-bordered table-hover">
				<tr>
					<th class="td-first">
						<div class="info-title" title="Lista de todos los miembros del grupo '{{group.name}}'">
							Usuarios del grupo
						</div>
					</th>
					<th>
						<div class="info-title" title="Personas que asistieron a la reuni&oacute;n">
							<i class="glyphicon glyphicon-pencil"></i>
							<span class="th-name">Asistentes</span>
						</div>
					</th>
					<th>
						<div class="info-title" title="Personas encargadas de aprobar actas">
							<i class="icon-thumbs-up"></i> 
							<span class="th-name">Aprobador</span>
						</div>
					</th>
					<th>
						<div class="info-title" title="Personas encargadas de firmar las actas">
							<i class="icon-wrench"></i> 
							<span class="th-name">Firmador</span>
						</div>
					</th>
				</tr>
				{%for m in members%}
				<tr {%if m.member.id_user.id == user_selected%}id="user-{{user_selected}}"{%endif%}>
					<td class="td-first">
						<div class="username-info {%if not m.member.is_active%}user-pend-r{%endif%}"
						{%if not m.member.is_active%}title="{{m.member.id_user.username}} a&uacute;n no ha aceptado la invitaci&oacute;n"{%endif%}>
	                        <img style="width:20px" src="{{m.member.id_user.email|showgravatar:'20'}}" alt="{{m.member.id_user}}">
	                        {{m.member.id_user.first_name}} {{m.member.id_user.last_name}}
	                        {%if m.member.id_user == user%}
	                        (yo)
	                        {%else%}
	                        ({{m.member.id_user}})
	                        {%endif%}
	                    </div>
					</td>
					<td class="t-a-c">
						<label for="assistant{{m.member.id_user.id}}">
							<input class ="set-role" id="assistant{{m.member.id_user.id}}" type="checkbox" data-role="3" data-role-name="Asistente" data-uid="{{m.member.id_user.id}}" {%if m.rol.is_assistant%}checked{%endif%}>
						</label>
					</td>
					<td class="t-a-c">
						<label for="approver{{m.member.id_user.id}}">
							<input class ="set-role" id="approver{{m.member.id_user.id}}" type="checkbox" data-role="2" data-role-name="Aprobador" data-uid="{{m.member.id_user.id}}" {%if m.rol.is_approver%}checked{%endif%}>
						</label>
					</td>
					<td class="t-a-c">
						<label for="signer{{m.member.id_user.id}}">
							<input class ="set-role" id="signer{{m.member.id_user.id}}" type="checkbox" data-role="1" data-role-name="Firmador" data-uid="{{m.member.id_user.id}}" {%if m.rol.is_signer%}checked{%endif%}>
						</label>
					</td>
				</tr>
                {%endfor%}
			</table>
			<br />
			<label for="show-dni">
				<table><tr>
				<td><input id="show-dni" type="checkbox" {%if show_dni %}checked{%endif%} > &nbsp;&nbsp;</td>
				<td><span id="show-dni-message" >Mostrar el DNI de los encargados de firmar</span></td>
				</tr>
				</table>
			</label>
			
			<br>
			<div id="add-new-member" class="mt20 pull-left">
				<div class="icons-info">
	                <span>Info:</span>
	                <span title="Tiene la responsabilidad de redactar actas"><i class="glyphicon glyphicon-pencil"></i> Asistente</span>
	                <span title="Tiene la responsabilidad de aprobar actas"><i class="icon-thumbs-up"></i> Aprobador</span>
	                <span title="El usuario debe firmar el acta"><i class="icon-wrench"></i> Firmador</span>
	                <span class="user-pend-l"> Usuarios pendientes</span>
				</div>
            	<div id="show-more-info" class="btn btn-link">
            		M&aacute;s informaci&oacute;n...
            	</div>
            	<div class="more-info">
            		<div>
            			<strong><i class="glyphicon glyphicon-pencil"></i> Asistente</strong>: Persona que asisti&oacute; a la reuni&oacute;n. Aparece en el listado de asistentes del Acta.
            		</div>
            		<div>
           				<strong><i class="icon-thumbs-up"></i> Aprobador</strong>: Persona encargada de la aprobaci&oacute;n del Acta. El Acta no ser&aacute; publicada hasta que comisi&oacute;n aprobatoria lo haya aceptado en su totalidad.
            		</div>
            		<div>
            			<strong><i class="icon-wrench"></i> Firmador</strong>: Persona encargada de firmar el Acta. Al final del Acta, solo aparece el listado de firmadores, no de aprobadores.
            		</div>
            		<div>
            			<strong class="user-pend-l">&nbsp;Usuarios pendientes</strong>: Usuarios que no han aceptado la solicitud de ingreso al grupo.
            		</div>
            	</div>
            </div>
			<div class="mt20 pull-right">
				<a href="/groups/{{group.slug}}" class="btn">
                	<span class="glyphicon glyphicon-arrow-left"></span> Volver al grupo
                </a>
                <a href="{%if not is_secretary%}#{%else%}/groups/{{group.slug}}/create-minutes{{id_reunion}}/{{template}}{%endif%}" class="btn btn-info">
                    Siguiente <i class="glyphicon glyphicon-arrow-right icon-white"></i>
                </a>
			</div>
		</section>
	</form>
</article>
{% endblock %}
{%block style%}
<style type="text/css">
	.more-info{font-size: 14px;line-height: 24px;display: none}
	.message-box{width: 70%;min-height: 250px}
	.btn-new-minutes{padding-left: 40px;padding-right: 40px;}
	td label{cursor: pointer;margin: 0;padding: 9px;}
	.th-delelte{width: 9%;}
	.td-first{position: relative;}
	div.info-title{text-align: center;font-size: 14px;
		height: 18px;margin: 0;overflow: hidden;padding: 0px;width: 117px;}
	.username-info{padding: 8px;font-size: 13px;}
	.remove-invitation-container{margin-top: 7px;}
	td input[type='checkbox']{margin-top: 0;}
	#table-roles td{padding: 0;}
	#table-roles td.t-a-c{text-align: center;}
	.table{margin-bottom: 0;}
	.form-horizontal label{font-weight: bold;/*margin-top: 10px;*/}
	.list-member-item{border: solid thin #eee;border-bottom: solid thin #dadada;border-radius: 3px;
        padding: 8px;margin: 2px 0;position: relative; }
    .list-member-item:hover{border: solid thin #dadada;}
    .list-member-item > div{/*border: solid thin #dadada;*/width: 80%; }
    .list-member-item > span{cursor: pointer;top: 0;right: 5px;position: absolute;}
    /*.span6{border-right: solid thin #dadada;padding: 0 20px;}*/
    .span6 label{display: inline;}
    ul#add-member-menu li{margin-bottom: 10px;}
    .icon-remove{margin: 5px;}
    ul#search-result{margin-left: 0;}
    ul#search-result li span{font-size: 13px;margin-left: 13px;color: gray;}
    .taling{text-align: center;}
    .list-members span{color: gray;}
    li a span{/*color:black;*/}
    li p{color:gray;font-size: 12px;line-height:  1;}
    /*article{padding-top: 1px;}*/
    #add-member{position: static;}
    #newmember{margin: 3px 10px;padding: 10px;width: 90%;}
    .dropdown#add-member-menu{text-decoration: none;margin: 5px 20px;}
    #add-member-menu{/*width:280px;*/}
    .dropdownmenu  * li{list-style:none;text-decoration: none;}
    .btnSup{margin-top: 8px;}
    div > section ul{margin-left:0; }
    div > section ul li{list-style: none;}
    .cancel-inv{font-style: italic;color: gray;}
</style>
{% endblock %}
{% block js %}
<script type="text/javascript" ><!--
	$(document).ready(function() {
		$(".icons-info span, .username-info, .info-title").tooltip();
		{% if user_selected%}
		$("#user-{{user_selected}} td").css({"background-color":"#F9F395"})
		{%endif%}
		{% if president%}
		$("#sel-president").val({{president}})
	    $(".president-ok").removeClass("hidden")
		{%endif%}
		{% if secretary%}
		$("#sel-secretary").val({{secretary}})
	    $(".secretary-ok").removeClass("hidden")
		{%endif%}

		$("#show-more-info").on("click", function (e){
			$(".icons-info, .more-info").toggle();
		})
	    function getRoleName (op) {
	    	switch(op){
	    		case 1 : return "Administrador de &eacute;ste grupo"; break;
	    		case 2 : return "Aprobador de actas"; break;
	    		case 3 : return "Redactor (Puede redactar Actas)"; break;
	    	}
	    }
	    function callbackSetRole(data) {
	    	if (data["saved"]){
		    	setAlertMessage("Rol agregado", data['u'] + " ahora es " + data['role'] + " del acta a crear.")
		    }
		    else{
		    	setAlertError("Ocurri&oacute; un error", data['error'])
		    }
	    }
	    function callbackRemoveRole(data) {
	    	if (data["saved"]){
		    	setAlertMessage("Rol removido", data['u'] + " ya no es " + data['role'] + " del acta a crear.")
		    }
		    else{
		    	setAlertError("Ocurri&oacute; un error", data['error'])
		    }
	    }
	    function setRole(e) {
	    	var checkbox = $(this);
	    	var role = checkbox.attr("data-role")
	    	var role_name = checkbox.attr("data-role-name")
	    	var uid = checkbox.attr("data-uid")
	    	console.log(checkbox.is(":checked"))
	    	if(checkbox.is(":checked")){
	    		sendAjax("/groups/{{group.slug}}/set-rol-for-minute",
	    			{"role":role, "uid": uid, "remove": 0},"",callbackSetRole)
	    	}
	    	else{
	    		if(confirm("Seguro que desea remover esta característica?")){
	    			sendAjax("/groups/{{group.slug}}/set-rol-for-minute",
	    				{"role":role, "uid": uid, "remove": 1},"",callbackRemoveRole)
	    		}
	    		else{
	    			checkbox.attr("checked","checked")
	    		}
	    	}
	    }
	    function callbackSetPresident (data) {
	    	if (data["saved"]){
		    	setAlertMessage("Rol agregado", data['u'] + " ahora es " + data['role'] + " del acta a crear.")
	    		$(".president-ok").removeClass("hidden");
	    		//show all options for to set a secretary
	    		$("#sel-secretary option").show();
	    		//hide the president in the secretary select
	    		$("#sel-secretary option[value=" + data['uid'] +"]").hide();
	    		//Put checked the President checkbox: approver & signer
	    		// $("#signer"+data['uid']).attr("disabled","disabled");
		    }
		    else{
		    	setAlertError("Ocurri&oacute; un error", data['error'])
		    	$("#sel-president").val(0);
		    }
	    }
	    function callbackSetSecretary (data) {
	    	if (data["saved"]){
		    	setAlertMessage("Rol agregado", data['u'] + " ahora es " + data['role'] + " del acta a crear.")
	    		$(".secretary-ok").removeClass("hidden");
	    		$("#sel-president option").show();
	    		$("#sel-president option[value=" + data['uid'] +"]").hide();
	    		// $("#signer"+data['uid']).attr("disabled","disabled");
		    }
		    else{
		    	setAlertError("Ocurri&oacute; un error", data['error']);
		    	$("#sel-secretary").val(0);
		    }
	    }
	    function setPresident (e) {
	    	$(".president-ok").addClass("hidden")
	    	var uid = $(this).val();
	    	sendAjax("/groups/{{group.slug}}/set-rol-for-minute",
	    		{"role":4, "uid": uid, "remove": 0},"",callbackSetPresident)
	    }
	    function setSecretary (e) {
	    	$(".secretary-ok").addClass("hidden")
	    	var uid = $(this).val();
	    	sendAjax("/groups/{{group.slug}}/set-rol-for-minute",
	    		{"role":5, "uid": uid, "remove": 0},"",callbackSetSecretary)
	    }
	    function setShowDNI(e){
	    	sendAjax("/groups/{{group.slug}}/set-show-dni",
	    		{},"", 
	    		function(data){
	    			if (data["saved"]){
				    	setAlertMessage("Configuraci&oacute;n realizada", "Se ha guardado correctamente la configuraci&oacute;n de visualizaci&oacute;n de DNI en las actas")
				    }
				    else{
				    	setAlertError("Ocurri&oacute; un error", data['error'])
				    }
				}
	    	);
	    }
	    $(".set-role").on("click", setRole);//roles MAIN
	    $("#sel-president").on("change", setPresident);//roles MAIN
	    $("#sel-secretary").on("change", setSecretary);//roles MAIN
	    $("#show-dni").on('change', setShowDNI);
	});
</script>
{% endblock %}