/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;/*
    line-height: 1.4;*/
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles   
   @JonathanMG7
   ========================================================================== */

/* ****************************************************************************
    Barra superior DAIECH Contenedor y elementos
**************************************************************************** */
body > header{
    background-repeat: repeat-x;
    background-color: #EEEEEE;
    background-image: url("/static/img/navbar-background.png");
    box-shadow: 0px 1px 7px rgba(0,0,0,0.5);
    height: 70px;
}
body{
    /*background-color: #E9E9E9;*/
    background-image: url("/static/img/debut_light.png");
}
header #navbar-button-container > ul li a {
    display:inline-block;
    color:gray; 
    margin: auto;
    width:100%;
    text-decoration:none;
}
#navbar-button-container{
    display: inline;
}
#navbar-button-container > ul{
    float:left;
    display: block;
}
#logo-daiech-p{
    background-image: url('/static/img/texturas_menu2.png');
    background-position: -88px -32px;
    height: 45px;
    width: 131px;
}
.navbar-d{
    height: 70px;
    margin: 0 auto;
    width: 90%;
}
#logo-button{
    margin-top:  0px;
    width: 140px;
}
.navbar-button{
    height: 60px;
    padding-top: 0;
}
header div > #top-menu-style{
    margin-left: 2px;
}
header div > #top-menu-style li{
    list-style-type: none;
    display: inline-block;
    height: 60px;
    width:100px;
    text-align: center;
    margin: -1px;
}
.ico-top{
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 32px;
}
#logo-sup{
    float: left;
    padding: 0;
}
#logo-sup > .navbar-element{
    /*box-shadow: none;*/
}
.logo-center{
    padding-top: 10px;
}
.navbar-element{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 70px;
    margin-top: 0px;
    margin: 0;
    box-shadow: -1px 0px 5px rgba(0,0,0,0.3);
    position: relative;
    top:0px;
}
.navbar-item-logo{
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 0;
    height: 53px;
}
.navbar-item{
    background-image: url("/static/img/textura-menu.png");
    /*background-position: -42px 0;*/
    /*    background-size: 100px 10px;*/
    background-repeat: repeat;
    background-color: #eeeeee;
    height: 63px;
}
.navbar-item-hover{
    background-image: url("/static/img/textura-menu-hover.png");
}
.navbar-item > span{
    font-size: 14px;
    position:relative;
    top: 34px;
}
.navbar-button-propierties{
    height: 10px;
}
.navbar-select0{
    background-color: #79B632;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5) inset;
}
.navbar-select1{
    background-color: #00AEAA;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5) inset;
}
.social-but{
    height: 31px;
    margin:0;
    padding:0;
    width: 34px;
    float:left;
}
.navbar .brand{
    padding: 10px 10px 10px;
}
#fb-but{
    background-image: url('/static/img/texturas_menu2.png');
    background-position: -88px 0;
}
#gp-but{
    background-image: url('/static/img/texturas_menu2.png');
    background-position: -122px 0;
}
#tt-but{
    background-image: url('/static/img/texturas_menu2.png');
    background-position: -156px 0;
}
#social-buttons{
}
.navbar-active-class{
    background-color: black;
}
#menu-login{
    margin-right: 20px;
    margin-top: 20px;
}
.mt20{
    margin-top: 20px;
}
#log-sup img{
    width: 14px;
}
.dinline{
    display: inline;
    position: relative;
    top: 1px;
}
#ac-load{
    background-color: #dadada;
    display: none;
    margin-right: 15px;
    padding: 5px 10px;
    text-align:center;
}
.top-text{
    /*font-weight: bold;*/
}
.menu-icons{
    background-image: url("/static/img/iconos.png");
    width: 26px;
    height: 26px;
}
.icon-groups{
    background-position: 0 0;
}
.icon-reunions{
    background-position: -35px 0;
    width: 28px;
}
.icon-blog{
    background-position: -72px 0;
}
.icon-faqs{
    background-position: -107px 0;
    width: 28px;
}
.icon-about{
    background-position: -150px 0;
    width: 24px;
}
.t-a-r{
    text-align:right;
}
/* **************************************************************************** 
Termina barra superior Daiech
**************************************************************************** */

.info-pics{
    margin: 0px;
}
/* **************************************************************************** 
Footer
**************************************************************************** */
#daiech-footer{
    background-color: #E9E9E9;
    bottom: 0;
    min-height: 210px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
#footer-bar{
    background-color: white;
    background-image: url("/static/img/debut_light.png");
    margin-top: 20px;
    width: 100%;
    height: 80px;
    padding-top: 12px;
}
.white-bar{
    color: black;
    display:block;
    margin:0 auto;
    overflow: hidden;
    text-align: center;
    width: 25%;
}
.white-bar > div{
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.footer-pic{
    /*float:left;*/
    height: 60px;
    /*position: relative;*/
    width: 131px;
}
#daiech-footer a , #daiech-footer a:visited ,#daiech-footer a:link{
    color: #333;
}
#daiech-footer a:hover{
    color: #00AEAA;

}
#cred-footer{
    margin-top: 20px;
}
#cred-footer > p{
    margin-bottom: 1px;
    font-size: 12px;
}

.img-foot{
    height: 34px;
    width: 131px;
}
#daiech-foot{
    background-image: url('/static/img/texturas_menu2.png');
    background-position: -88px -75px;
}
#parque-foot{
    background-image: url('/static/img/texturas_menu2.png');
    background-position: -88px -110px;

}

/* **************************************************************************** 
Termina Footer
**************************************************************************** */


/* ****************************************************************************
Imagenes de logueo
******************************************************************************/

.info-pics{
        display:block;
        margin:auto;
        overflow: hidden;
        width:100%;
    }
    .pic-log{
        margin-top: 30px;
        width:260px;
    }
    #login-pic{
        position: relative;
        left:109px;
        top:-25px;
        width: 1px;
    }
    #singup-pic{
        position: relative;
        top:-25px;
    }
    #left-bubble{
        background-image: url('/static/img/imagen_central.png');
        background-position: 0 -135.413px;
        color: white;
        width:166px;
        height: 88.46px;
        position: relative;
        text-align: center;
    }
    #right-bubble{
        background-image: url('/static/img/imagen_central.png');
        background-position: -166px -135.413px;
        color: white;
        width: 166px;
        height: 88.46px;
        left:90px;
        position:relative;
        text-align: center;
    }
    #img-log{
        background-image: url('/static/img/imagen_central.png');
        background-position: 0 -225.863px;
        background-repeat: no-repeat;
        /*        position: relative;
                left:100px;
                top:-25px;*/
        height: 188.133px;
        width: 150.234px;
    }
    #img-reg{
        background-image: url('/static/img/imagen_central.png');
        background-position: -166px -225.863px;
        background-repeat: no-repeat;
        height: 188.133px;
        width: 150.234px;
    }
    .pic-down {
        float: left;
        margin: auto;
        z-index: 100000;
        width:50px;
    }
    .bubble-text {
        position: relative;
        top: 25px;
    }
    #info-act{
        background-color: #dadada;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #info-act a > img{
        float: right;
    }
    #arrow-down:hover{
        background-image: url('/static/img/imagen_central.png');
        background-position: -363px -135.413px;
        height: 27.749px;
        width: 42.22px;
    }
    #arrow-down{
        background-image: url('/static/img/imagen_central.png');
        background-position: -363px -163.413px;
        height: 27.749px;
        width: 42.22px;
        margin-top: -1px;
    }
    #pic-log-left{
        float:right;
     }
     #pic-log-right{
        float:left;
     }

/* ***************************************************************************
FIN Imagenes de logueo
*****************************************************************************/


/* ***************************************************************************
FEED
********************************************************{{TITLE}}*********************/

#feed-option{
    color:white;
    top: 200px;
    right: -2px;
    width: 32px;
    position: fixed;
    z-index: 1000;
}
#feed-option:hover{
    cursor: pointer;
    /*background-color: gray;*/
}
#feed-modal{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    left: auto;
    top: 200px;
    right: -505px;
    width: 500px;
    margin: auto;
}
#feed-imput{
    margin-bottom: 15px;
}
#feed-imput .btn{
    width: 100px;
}
#fb-email{
    width: 97%;
}
/* ***************************************************************************
FIN FEED
*****************************************************************************/


#twitter-button{
    height: 30px;
    width: 177px;
    display: inline-block;
    float: left;
}
#textComent{
    /*margin-left: 12%;
    margin-right: 12%;*/
    min-height: 150px;
    width: 97%;
}

.b{
    border: solid thin #dadada;
}
.form-horizontal .controls {
margin-left: 0;
}
.margin5{
    margin: 10px;
}
#alert-message, #alert-error {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    left:0;
    right:0;
    font-size: 14px;
    position: fixed;
    width:30%;
}
.box{
    overflow:hidden;
}
article{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    min-height: 400px;
    overflow: hidden;
    padding-bottom: 20px;
    width: 100%;
}
#body-container > article{
        padding-top:20px;
        margin-top: 20px;
    }
#body_container{
    /*border:solid thin gray;*/
    margin-top:-20px;
    min-height: 400px;
    color: #555;
}
.but{
    background-color:  #999;
    height: auto;
    padding:10px;
    width: 60px;
}
a ,a:visited ,a:link,a:hover{
    text-decoration: none;
}
.sing{
    alignment-adjust: central;
}
hr{
    border-bottom: solid thin white;
    height: 0.01px;
    margin-bottom: 20px;
}


article ul a img{
    margin:10px;
}
/*article ul li a:hover{

    color: red;
}*/
article ul.onOver li{
    border:  solid thin  #eee;
    margin:5px 0;
}
article ul.onOver li:hover{
    border:  solid thin  #dadada;
    border-top:  solid thin  #dadada;
    box-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.containterMargin{
    margin:20px;
}

table tr th label{
    font-size: 16px;
    margin-top: 5px;
}
table tr td input[type=password],table tr td input[type=text]{
    /*height: 30px;*/
    padding: 10px;
    font-size: 16px;
}

/*==================================
    CSS Barra de Ingreso (Formulario
====================================*/
.helptext{
    color:gray;
    font-size:12px;
    margin-top:-100px;
}

form table th{
    /*	border:solid thin gray;*/
    vertical-align:top;
    text-align:right;
    /*	padding:20px;*/
    padding-top:10px;
}
form table td input{
    margin:5px 0;
    padding:10px;
}


.content-box{
    line-height: 14px;
    margin-left: 38px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.content-box p{
    margin: 0px;
}
.content-box .avatar{
    position: absolute;
    top:7px;
    left: 14px;
}
.content-box *{
    display: inline-block;
}
.metadata{
    color: #999;
    display: block;
    font-size: 11px;
}
.content-box:hover, .content-box >:hover{
    color: #fff;
}
.fullname{
    color: #333;
    font-weight: bold;
    margin-left: 0px;
}
.disblock{
    display: block;
}
.size32{
    width: 32px;
    height: 32px;
}
.color-fff{
    color:#fff;
}

.input-small{
    margin: 2px auto;
    width: 80%;
}

#btn-login{
    margin-right: 10px;
}
.dropdown-menu li .next-li, .dropdown-menu li p{
    margin: 3px 12px;
}
.errorlist{
    color:red;
    font-size:12px;
    list-style:none;
    margin:0px 10px;
    margin-bottom:-5px;
}

.columnaI{
    float: left;
    width: 49%;
}
.columnaD{
    float: right;
    /*padding: 0 10px;*/
    width: auto;
}
.title-activity{
    border-bottom: solid thin #dadada;
    padding:5px;
}
.close-activity{
    padding:0 5px;
}
.user-li{
    list-style:none;
    height: 36px;
    margin-bottom: 3px;
}
.user-li > a{
    color: #555;
    display: block;
    font-size: 14px;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
}
.user-li > a > img{
    padding: 0;
    margin: 3px;
    margin-left: 12px;
}
.icon-accept{
    position: relative;
    right: 5px;
    top: 8px;
}
.img30{
    height: 30px;
    width: 30px;
}
.img20{
    height: 20px;
    width: 20px;
}
.btn-right{
    position: relative;
    right:0;
    top:0;
}
.text-info-smal{
    color: gray;
    font-size: 12px;
}
#form-new-group{
    margin: 0 auto;
    padding: 20px;
    width: 30%;
}
.buttons-edit{
    margin-top: -2px;
}
.white-box-container{
    background-color: #fff;
    border-radius: 5px;
    border:solid thin #dadada;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-size: 1em;
    margin-bottom: 20px;
    padding: 15px 15px;
}
article header img{
    margin-top:7px;
    float:left;
}
article header h3{
    margin:0;
    margin-left:40px;
}
.d-in{
    display: inline;
}
.icons-page{
    float: left;
    margin-top: 7px;
}
.icon-reunion{
    background-position: -35px 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
*/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/*==================================================*/
/*                  Inicia Responsive               */                    
/*==================================================*/

/* Large desktop */
@media (min-width: 1200px) {
    .columnaD{
        width: 48%;
    }
    .navbar-fixed-top {
        margin-bottom: 26px;
    }
    .white-bar{
        width: 30%;
    }
}
@media (min-width: 980px) and (max-width: 1280px) {
    #form-new-group{
        width: 40%;
    }
    .columnaD{
        width: 48%;
    }
    .notifications span{
        display: inline;
    }
    .navbar-fixed-top {
        margin-bottom: 26px;
    }
    #social-buttons{
        display: visible;
    }
    .white-bar{
        width: 27%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #form-new-group{
        width: 65%;
    }
    article{
        width: auto;
        /*        border: solid thin blue;*/
    }
    .columnaD{
        width: 40%;
    } 
    /*    #navbar-button-container{
            display: none;
        }*/
    .navbar-fixed-top {
        margin-bottom: 26px;
    }
    .white-bar{
        width: 40%
    }
    #social-buttons{
        display: visible;
    }


}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-right: 0px;
        margin-left: 0px;
    }
    .columnaI{
        width: 100%;
    }.columnaD{
        width: 100%;
    }
    .fix_btn{
        padding:0 20px;
    }
    .margint30{
        margin-top: 30px;
    }
    .alert-block{
        width: 50%;
    }

    .navbar-fixed-top {
        margin-bottom: 26px;
    }
    .info-pics {
        width: 100%;
    }
     #left-bubble{
        left: 109px;
        top: -31px;

     }
     #right-bubble{
        top: -30px;
        left: -9px;
     }
     #social-buttons{
        display: visible;
    }
    .white-bar{
        width: 55%
    }
    #form-new-group{
        width: 80%;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-right: 0px;
        margin-left: 0px;
    }
     #left-bubble{
        left: 109px;
        top: -31px;
     }
     #right-bubble{
        top: -30px;
        left: -9px;
     }
     .pic-log{
        width: 166px;
        position: absolute;
     }
     #pic-log-left{
        
        float:left;
     }
     #pic-log-right{
        
        float:right;
     }
    .navbar-element{
        height: 47px;
    }
    .navbar-item{
        height: 37px;
    }
    .ico-top{
        top: 0px;
    }
    .navbar-item > span {
        top: 19px;
    }
    #navbar-button-container > ul {
        margin-top: 63px;
    }
    #social-buttons{
        display: none;
    }
    .white-bar{
        width: 80%;
    }
   
}
    /*==================================================*/
    /*                  Cierra Responsive               */                    
    /*==================================================*/



    /*@media only screen and (max-width:1280px){
        .columnaD{
            margin-left: 380px;
        }
    }*/



    /* ==========================================================================
       Print styles.
       Inlined to avoid required HTTP connection: h5bp.com/r
       ========================================================================== */

    @media print {
        * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
    */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
