/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;/*
    line-height: 1.4;*/
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles   
   @JonathanMG7
   ========================================================================== */
.b{
    border: solid thin #dadada;
}
.alert-block {
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    font-size: 14px;
    position: absolute;
    width:30%;
}
article{
    background-color: #EEE;
    /*border-radius: 10px;*/
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    min-height: 400px;
    overflow: hidden;
    width: 100%;
}
article > header{
    margin: 20px;
}
.row-fluid{
    width:auto;
}
#body_container{
    /*border:solid thin gray;*/
    margin-top:-20px;
    min-height: 400px;
}
.but{
    background-color:  #999;
    height: auto;
    padding:10px;
    width: 60px;
}
a ,a:visited ,a:link,a:hover{
    text-decoration: none;
}
.sing{
    alignment-adjust: central;
}
hr{
    border-bottom: solid thin white;
    height: 0.01px;
    margin-bottom: 30px;
}
footer{
    border-top: solid thin #dadada;
    text-align: center;
    padding: 20px;
}

article ul a img{
    margin:10px;
}
/*article ul li a:hover{

    color: red;
}*/
article ul.onOver li{
    border:  solid thin  #eee;
    margin:5px;
}
article ul.onOver li:hover{
    border:  solid thin  #dadada;
    border-top:  solid thin  #dadada;
    box-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.containterMargin{
    margin:20px;
}

table tr th label{
    font-size: 16px;
    margin-top: 5px;
}
table tr td input[type=password],table tr td input[type=text]{
    /*height: 30px;*/
    padding: 10px;
    font-size: 16px;
}

/*==================================
    CSS Barra de Ingreso (Formulario
====================================*/
.helptext{
    color:gray;
    font-size:12px;
    margin-top:-100px;
}

form table th{
    /*	border:solid thin gray;*/
    vertical-align:top;
    text-align:right;
    /*	padding:20px;*/
    padding-top:10px;
}
form table td input{
    margin:5px 0;
    padding:10px;
}


.content-box{
    line-height: 14px;
    margin-left: 38px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.content-box p{
    margin: 0px;
}
.content-box .avatar{
    position: absolute;
    top:7px;
    left: 14px;
}
.content-box *{
    display: inline-block;
}
.metadata{
    color: #999;
    display: block;
    font-size: 11px;
}
.content-box:hover, .content-box >:hover{
    color: #fff;
}
.fullname{
    color: #333;
    font-weight: bold;
    margin-left: 0px;
}
.disblock{
    display: block;
}
.size32{
    width: 32px;
    height: 32px;
}
.color-fff{
    color:#fff;
}

.input-small{
    margin: 2px auto;
    width: 80%;
}

#btn-login{
    margin-right: 10px;
}
.dropdown-menu li .next-li, .dropdown-menu li p{
    margin: 3px 12px;
}
.errorlist{
    color:red;
    font-size:12px;
    list-style:none;
    margin:0px 10px;
    margin-bottom:-5px;
}

.columnaI{
    float: left;
    width: 49%;
}
.columnaD{
    float: right;
    /*padding: 0 10px;*/
    width: auto;
}

.span6{
    border-right: solid thin #dadada;
    padding: 0 20px;
}
.title-activity{
    border-bottom: solid thin #dadada;
    padding:5px;
}
.close-activity{
    padding:0 5px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
*/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/*==================================================*/
/*                  Inicia Responsive               */                    
/*==================================================*/

/* Large desktop */
@media (min-width: 1200px) {
    article{
        width: 80%;
        /*        border: solid thin green;*/
    }
    .columnaD{
        width: 48%;
    }

}
@media (min-width: 980px) and (max-width: 1280px) {
    article{
        width: 80%;
        /*        border: solid thin yellow;*/
    }
    .columnaD{
        width: 48%;
    }
    .notifications span{
        display: inline;
    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    article{
        width: auto;
        /*        border: solid thin blue;*/
    }
    .columnaD{
        width: 40%;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    article{
        width: auto;
        /*        border: solid thin red;*/
    }
    .columnaI{
        width: 100%;
    }.columnaD{
        width: 100%;
    }
    .fix_btn{
        padding:0 20px;
    }
    .margint30{
        margin-top: 30px;
    }

}
/* Landscape phones and down */
@media (max-width: 480px) {
    article{
        width: auto;
        /*        border: solid thin gray;*/
    }
    .fix_btn{
        padding: 0 20px;
    }
    .btn_block{
        display:none;

    }


}
/*==================================================*/
/*                  Cierra Responsive               */                    
/*==================================================*/



/*@media only screen and (max-width:1280px){
    .columnaD{
        margin-left: 380px;
    }
}*/



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
    */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
