body{margin-bottom: 160px;}
#public_topbar{height: 90px;background-color: white;}
#public_topbar #public_logo{display: inline-block;}
#btn-group-action {margin-top: 20px}
#btn-group-action a{margin: 4px 5px;}
#btn-group-action a.btn-large{padding: 9px;margin-top: 3px;}
/*#cred-footer{height: 120px}*/
#cred-footer a{text-decoration: underline;}
.footer-text{width: 60%;margin: auto;text-align: left;}
.language{}
.language label{font-weight: normal;cursor: pointer;}
.language label:hover{text-decoration: underline;}
#ac-load{margin-top: 25px;}
#ac-load img{margin-top: 0}

.pass-container{width: 250px;margin-left: 10px;}
.login-form{margin-top: 20px;padding: 0;}
.login-form .col-md-*{color: red}
.form-inline input{border-radius: 3px;}
.input-group-addon{cursor: pointer;}
.input-container input.text-input{padding-left: 30px;}
.btn-submit{color: white; background-color: #28b7ca;box-shadow:none;border: none}
.input-container .form-control-feedback{position: absolute;left: 25px;top: 10px;color: #A2A2A2;}