html {position: relative;min-height: 100%;}
body{background-color: white;height: 100%;margin-bottom: 90px;position: initial !important;}
@font-face{font-family: HelveticaNeueLT;src: url(/static/fonts/HELVETICANEUELTSTD-TH.OTF);}
@font-face{font-family: Bebas;src: url(/static/fonts/BEBAS.TTF);}
a {color: #428bca;text-decoration: none;}/*00aeaa*/
.b{border: solid thin #dadada;}
.bt{border-top: solid thin #dadada;}
.br{border-right: solid thin #dadada;}
.bb{border-bottom: solid thin #dadada;}
.bl{border-left: solid thin #dadada;}
h1,h2,h3,h4,h5,h6, strong, .info-title{font-family: 'Oswald', sans-serif;}
time{font-size: 14px;color: gray}
#body-wrap{min-height: 100%;height: auto !important;height: 100%;}
.preload * {-webkit-transition: none !important;-moz-transition: none !important;-ms-transition: none !important;-o-transition: none !important;}
.dib{display: inline-block;}
.flag-icon{width: 16px;height: 11px;border:0;margin: 5px;}
.language{margin-right: 10px;}
.language-selected{}
header.navbar{border-bottom: solid 10px #97C02C;border-radius: 0;margin-bottom: 0;z-index: 100;}
.progress-bar-success{background-color: #79B632;}
#public_topbar{height: 90px;background-color: white;}
#public_topbar #public_logo{display: inline-block;}
#try-trial{line-height: 1;position: relative; margin: auto;width: 50%;font-size: 30px;margin-top: 30px;}
#try-trial h2{display: inline-block;font-family: Bebas;color: #B3DB35;margin-top: 0;/*transform: rotate(5deg);*/font-size: 36px;}
#try-trial p{display: inline-block;font-family: HelveticaNeueLT;color: #999;font-size: 20px}
#giftbox{width: 64px;height: 64px;background-image: url(/static/img/pricing/giftbox.png);position: absolute;top: -30px;left: -30px;transform: rotate(325deg);transition: all 1s ease;}

form table th{padding-right: 10px;}
/*body{font-family: HelveticaNeueLT !important; }*/

/* ****************************************************************************
    Barra superior DAIECH Contenedor y elementos
**************************************************************************** */
header #navbar-button-container > ul li a {
display:inline-block;
color:gray; 
margin: auto;
width:100%;
text-decoration:none;
}
#navbar-button-container{
    display: inline;
}
#navbar-button-container > ul{
    float:left;
    display: block;
}
.sprites{background-image: url('/static/img/sprites.png');}
#logo-actarium-p{
    height: 34px;
    width: 150px;
}
.navbar-d{
    height: 60px;
    width: 95%;
}
#logo-button{
    margin-top:  0px;
    width: 140px;
}
.ico-top{
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 32px;
}
#logo-sup{
    float: left;
    padding: 0;
}
.top-bar-center{padding-top: 8px;}
.logo-center{
    position: absolute;
    right: 10px;
    width: 131px;
}
.navbar-element{
    height: 55px;
    margin-top: 0px;
    margin: 0;
    position: relative;
    top: 0px;
}
#actarium-logo{width: 205px;}
.navbar-button-propierties{height: 10px;}
.navbar .brand{
    padding: 10px 10px 10px;
}
#social-buttons{margin-top: 21px;width: 140px;}
.social-button{
    height: 40px;
    margin:0;
    margin-left: 3px;
    padding:0;
    width: 40px;
    float:left;
}
#fb-but{
    background-position: -50px -54px;
}
#gp-but{
    background-position: -153px 43px;
}
#tt-but{
    background-position: -258px 43px;
}
.menu-container{padding-top: 12px;}
.menu-container .btn{height: 24px;padding: 2px 3px;padding-right: 6px}
#account-menu{margin-left: 2px;margin-top: 0;}
#groups-menu{margin-top: 0;margin-left: 0;}
#topbar-menu{position: absolute;right: 0;top: 0;background-color: inherit; /*#F7F7F7*/;height: 41px;}
#topbar-menu > div > div{height: 42px;min-width: 54px;padding-right: 3px;}
#groups-menu .group-link{color: #428bca;font-weight: normal;}
#groups-menu .group-link:hover{color: #fff}
#groups-menu li a{font-weight: bold;}
.btn-group{margin-top: 0px;}
.dinline{display: inline;position: relative;top: 1px;}
#ac-load{display: none;position: absolute;right: 0;top: 5px;margin-right: auto;margin-left: auto;width: 90px;left: 0;}
#ac-load img{width: 65px;margin-top: 10px;}
#close-login-menu{position: relative;left: 0}
#li-register-link:hover{background-color: white}
#register-link{padding: 5px 15px;cursor: pointer;color: #00aeaa}
#register-link:hover{text-decoration: underline;background-color: white;background-image:none;}

/*nueva barra*/
#topbar{background: #F7F7F7;box-shadow: 0 0 3px rgba(0,0,0,0.1);height: 42px;left: 0;position: relative;top: 0;width: 100%;z-index: 10;}
#topbar .breadcrumb{margin: 0;padding-top: 10px;height: 41px;}
#topbar .breadcrumb li{margin-bottom: 10px;}
#topbar-btn-logo{border-right: 1px solid #cbcccc;background: #F7F7F7;/*border-bottom: 1px solid #cbcccc;*/
float: left;height: 42px;line-height: 42px;padding: 0 20px;position: relative;z-index: 5;}
.topbar-logo-center{padding-top:4px;}
.topbar-btn{border-left: 1px solid #cbcccc;/*box-shadow: 1px 0 0 0 #FFFFFF inset;*/font-size: 14px;
float: right;height: 32px;min-width: 80px; padding: 10px 10px 0 8px;width: auto;}
.navbar .btn-group{margin-top: 0;}
.topbar-caret{vertical-align: middle;}
.dropdown-menu{min-width: 190px;}
#topbar-group-name{font-size: 18px;height: 41px;}
.suspension-points{position: relative;display: inline-block;padding-top: 13px;padding-right: 5px;}
/*/nueva barra*/

/* **************************************************************************** 
Termina barra superior Daiech
**************************************************************************** */

.ml10{margin-left: 10px;}
.mt20{margin-top: 20px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb50{margin-bottom: 50px;}
.t-a-r{
    text-align:right;
}
.t-a-l{
    text-align:left;
}
.t-a-c{
    text-align:center;
}
.info-pics{
    margin: 0px;
}
/* **************************************************************************** 
Footer
**************************************************************************** */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 90px;*/
}
#footer{
    background-color: white;
    text-align: center;
    border-top: solid thin #cbcccc;
    border-bottom: solid thin #cbcccc;
}
#footer-bar{
    background-color: white;
    /*background-image: url("/static/img/debut_light.png");*/
    width: 100%;
    /*height: 80px;*/
    padding-top: 12px;
}
.white-bar{
    color: black;
    display:block;
    margin:0 auto;
    overflow: hidden;
    text-align: center;
    width: 25%;
}
.white-bar > div{
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
/*#footer-bar p{font-size: 12px;}*/
.footer-pic{
    /*float:left;*/
    height: 60px;
    /*position: relative;*/
    width: 131px;
}
#footer a , #footer a:visited ,#footer a:link{
    color: #333;
}
#footer a:hover{
    color: #428bca;

}
#footer{padding: 15px 0;padding-bottom: 3px;}
#cred-footer > p{
    margin-bottom: 1px;
    font-size: 13px;
}

.img-foot{
    height: 34px;
    width: 131px;
}
#daiech-foot{
    background-image: url('/static/img/texturas_menu2.png');
    background-position: -88px -75px;
}
#parque-foot{
    background-image: url('/static/img/texturas_menu2.png');
    background-position: -88px -110px;

}
.footer-text-platform{padding-left: 0}
.footer-text-platform li{display: inline;padding-right: 5px;}
.footer-text-platform li:before{content: "| ";}
.footer-text-platform li:first-child:before{content: "";}
/* **************************************************************************** 
Termina Footer
**************************************************************************** */


/* ****************************************************************************
Imagenes de logueo
******************************************************************************/

.info-pics{
        display:block;
        margin:auto;
        overflow: hidden;
        width:100%;
    }
    .pic-log{
        margin-top: 30px;
        width:260px;
    }
    #login-pic{
        position: relative;
        left:109px;
        top:-25px;
        width: 1px;
    }
    #singup-pic{
        position: relative;
        top:-25px;
    }
    #left-bubble{
        background-image: url('/static/img/imagen_central.png');
        background-position: 0 -135.413px;
        color: white;
        width:166px;
        height: 88.46px;
        position: relative;
        text-align: center;
    }
    #right-bubble{
        background-image: url('/static/img/imagen_central.png');
        background-position: -166px -135.413px;
        color: white;
        width: 166px;
        height: 88.46px;
        left:90px;
        position:relative;
        text-align: center;
    }
    #img-log{
        background-image: url('/static/img/imagen_central.png');
        background-position: 0 -225.863px;
        background-repeat: no-repeat;
        /*        position: relative;
                left:100px;
                top:-25px;*/
        height: 188.133px;
        width: 150.234px;
    }
    #img-reg{
        background-image: url('/static/img/imagen_central.png');
        background-position: -166px -225.863px;
        background-repeat: no-repeat;
        height: 188.133px;
        width: 150.234px;
    }
    .pic-down {
        float: left;
        margin: auto;
        z-index: 100000;
        width:50px;
    }
    .bubble-text {
        position: relative;
        top: 25px;
    }
    #info-act{
        background-color: #dadada;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #info-act a > img{
        float: right;
    }
    #arrow-down:hover{
        background-image: url('/static/img/imagen_central.png');
        background-position: -363px -135.413px;
        height: 27.749px;
        width: 42.22px;
    }
    #arrow-down{
        background-image: url('/static/img/imagen_central.png');
        background-position: -363px -163.413px;
        height: 27.749px;
        width: 42.22px;
        margin-top: -1px;
    }
    #pic-log-left{
        float:right;
     }
     #pic-log-right{
        float:left;
     }

/* ***************************************************************************
FIN Imagenes de logueo
*****************************************************************************/


/* ***************************************************************************
FEED
********************************************************{{TITLE}}*********************/

#feed-option{
    color:white;
    top: 200px;
    right: -2px;
    width: 32px;
    position: fixed;
    z-index: 1000;
}
#feed-option:hover{
    cursor: pointer;
    /*background-color: gray;*/
}
#feed-modal{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    left: auto;
    top: 50px;
    right: -505px;
    width: 500px;
    margin: auto;
}
#feed-modal .modal-dialog{width: 480px;}
#feed-imput{
    margin-bottom: 15px;
}
#feed-imput .btn{
    width: 100px;
}
#fb-email{
    width: 97%;
}
/* ***************************************************************************
FIN FEED
*****************************************************************************/


#twitter-button{
    height: 30px;
    width: 177px;
    display: inline-block;
    float: left;
}
#textComent{
    /*margin-left: 12%;
    margin-right: 12%;*/
    min-height: 150px;
    width: 97%;
}

.form-horizontal .controls {
margin-left: 0;
}
.margin5{
    margin: 10px;
}
#alert-message, #alert-error {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    left:0;
    right:0;
    font-size: 14px;
    position: fixed;
    width:30%;
    z-index: 10000;
}
.box{
    overflow:hidden;
}
article{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 100%;
}
#body-container > article{
        padding-top:20px;
        margin-top: 20px;
    }
body > .container{
    padding: 0;
}
.but{
    background-color:  #999;
    height: auto;
    padding:10px;
    width: 60px;
}
a ,a:visited ,a:link,a:hover{
    text-decoration: none;
}
.sing{
    alignment-adjust: central;
}
hr{
    border-bottom: solid thin white;
    height: 0.01px;
    margin-bottom: 20px;
}


article ul a img{
    margin:10px;
}
/*article ul li a:hover{

    color: red;
}*/
article ul.onOver li{
    border:  solid thin  #eee;
    margin:5px 0;
}
article ul.onOver li:hover{
    border:  solid thin  #dadada;
    border-top:  solid thin  #dadada;
    box-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.containterMargin{
    margin:20px;
}

table tr th label{
    font-size: 16px;
    margin-top: 5px;
}
table tr td input[type=password],table tr td input[type=text]{
    /*height: 30px;*/
    padding: 10px;
    font-size: 16px;
}

/*==================================
    CSS Barra de Ingreso (Formulario
====================================*/
.helptext{
    color:gray;
    font-size:12px;
    margin-top:-100px;
}

form table th{
    /*	border:solid thin gray;*/
    vertical-align:top;
    text-align:right;
    /*	padding:20px;*/
    padding-top:10px;
}
form table td input{
    margin:5px 0;
    padding:10px;
}


.content-box{
    line-height: 14px;
    margin-left: 38px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.content-box p{
    margin: 0px;
}
.content-box .avatar{
    position: absolute;
    top:3px;
    left: 14px;
}
.content-box *{
    display: inline-block;
}
.metadata{
    color: #999;
    display: block;
    font-size: 11px;
}
.content-box:hover, .content-box >:hover{
    color: #fff;
}
.fullname{
    color: #333;
    font-weight: bold;
    margin-left: 0px;
}
.disblock{
    display: block;
}
.size22{
    width: 22px;
    height: 22px;
}
.size32{
    width: 32px;
    height: 32px;
}
.color-fff{
    color:#fff;
}

.input-small{
    margin: 2px auto;
    width: 80%;
}
.dropdown-menu li .next-li, .dropdown-menu li p{
    margin: 3px 12px;
}
.errorlist{
    color:red;
    font-size:12px;
    list-style:none;
    margin:0px 10px;
    margin-bottom:-5px;
}

.columnaI{
    float: left;
    width: 49%;
}
.columnaD{
    float: right;
    /*padding: 0 10px;*/
    width: auto;
}
.title-activity{
    border-bottom: solid thin #dadada;
    padding:5px;
}
.close-activity{
    padding:0 5px;
}
.user-li{
    list-style:none;
    height: 36px;
    margin-bottom: 3px;
}
.user-li > a{
    color: #555;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 4px;
}
.user-li > a > img{
    padding: 0;
    margin: 3px;
    margin-left: 12px;
}
.icon-accept{
    position: relative;
    right: 5px;
    top: 8px;
}
.img30{
    height: 30px;
    width: 30px;
}
.img20{
    height: 20px;
    width: 20px;
}
.btn-right{
    position: relative;
    right:0;
    top:0;
}
.text-info-smal{
    color: gray;
    font-size: 12px;
}
.text-info{color:#555;font-size: 14px;}
#form-new-group{
    margin: 0 auto;
    padding: 20px;
    width: 30%;
}
.buttons-edit{
    margin-top: -2px;
}
.white-box-container{
    box-shadow: 8px 8px 6px -6px #dadada;
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #79B632;
    font-size: 1em;
    margin-bottom: 20px;
    padding: 15px 15px;
}
article header img{
    margin-top:7px;
    float:left;
}
article header h3{
    margin:0;
    /*margin-left:40px;*/
}
.d-in{
    display: inline;
}
.icons-page{
    float: left;
    margin-top: 7px;
}
h3 a{color: #3b5998}
h3 a:hover{text-decoration:underline;}
.button-group{min-height: 25px;}
.icons-info {margin-top:20px;margin-bottom: -5px;}
.icons-info span{font-size: 12px;margin-right: 15px;padding-left: 2px;}
/*.control-group{width: 70%;}*/
.control-group input[type="checkbox"]{float: none;}
.td-first{text-align: left;/*width: 45%;*/}
.roles{margin-top: 8px;margin-right: 5px;}
.container{width:96%;}

.user-pend-b{border-bottom: solid 4px  #EBD438 !important;}
.user-pend-r{border-right: solid 4px #EBD438 !important;}
.user-pend-l{border-left: solid 4px #EBD438 !important;}
.user-pend-t{border-top: solid 4px #EBD438 !important;}
span.user-pend-l{padding-left: 2px;}

.user-active-t{border-top: solid 4px #7bc779 !important;}
.user-active-r{border-right: solid 4px #7bc779 !important;}
.user-active-l{border-left: solid 4px #7bc779 !important;}
.user-active-b{border-bottom: solid 4px #7bc779 !important;}

.minute-no-approver-t{border-top: solid 4px rgb(202, 202, 202) !important;}
.minute-no-approver-r{border-right: solid 4px rgb(202, 202, 202) !important;}
.minute-no-approver-l{border-left: solid 4px rgb(202, 202, 202) !important;}
.minute-no-approver-b{border-bottom: solid 4px rgb(202, 202, 202) !important;}

i.icon-question-sign{background-image: url("/static/img/faq.png");background-position: 0 0;height:19px;width: 17px;}
i.icon-wrench{background-image: url("/static/img/icon-admin.png"); background-position: 0 0;height:16px;width:16px;background-size: 16px 16px}
i.icon-thumbs-up{background-image: url("/static/img/icon-approver.png"); background-position: 0 0;height:16px;width:16px;background-size: 16px 16px}
i.icon-pencil{background-image: url("/static/img/icon-writter.png"); background-position: 0 0;height:16px;width:16px;background-size: 16px 16px}

.w22{width: 22px;margin: auto}
.w32{width: 32px;margin: auto}
.w42{width: 42px;margin: auto}
.w48{width: 48px;margin: auto}


.icons-page{margin-right: 5px;}
#message-box{/*margin: 10px auto;*/width: 70%}
.message-box{width: 50%}
#more-info{min-height: 25px; margin: 10px auto;width: 70%;}
.form-center-box{max-width: 400px;}


.btn-groups-admin{display: block;/*margin: 0 auto;width: 58%;*/}
/*.selected-group{background-color:#fffef1}*/
.selected-group{background-color: rgb(248, 248, 248)}

/*
Show Minutes 
*/
#minutes-container{max-width: 815px;margin: auto;}

.hoja{/*width: 70%;*/margin:auto;}
#sign{margin: 0 auto;margin-top: 8px;min-height: 100px;}
.minute{
    border: solid thin #ddd;
    background-color: #fff;
    box-shadow: 8px 8px 6px -6px gray;
    border-radius: 3px;
    padding-top: 40px;
}
.minutes, #headerContent, #minutesContent, #footerContent{display: block;}
.minutes{width: 99%;}
.minutes *, #minutes *{font-family: Arial}
#headerContent, #minutesContent, #footerContent{padding: 0 80px;}

.minute header{
    width: auto;
    margin:30px 0;
    margin-top: 40px;
    margin-left: 0;
    /*padding: 40px;*/
    padding: 0 80px;
}
.minute header img{
    margin-top: 0;
}
.minute header h3{
    margin: 0;
}
.minute > div{
    padding: 0 80px;
    /*border: solid thin gray;*/
}
.minute footer{
    border: none;
    bottom: 0;
    font-size: 14px;
    left: 0;
    margin:0;
    padding: 20px 40px;
    width: auto;
}
.pager{
    margin: 5px auto;
    padding: 0;
    position: relative;
    top: 0;
}
.minutes-form-btn{
    display:inline;
}


/*
cierra Show Minutes 
*/




.prelative{position: relative;}
.panel, .panel-heading{border-radius: 0 !important;}



.nav-list > .active > a, .nav-list > .active > a:hover{background-color:#97C02C;color: white;}
.btn-link{color:#428bca;}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a:hover,.btn-info{
    background-color:#00aeaa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00AEAA), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #00AEAA, #2f96b4); 
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #00AEAA, #2f96b4);
    /* IE 10+ */
    background-image: -ms-linear-gradient(top, #00AEAA, #2f96b4);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #00AEAA, #2f96b4);
    background-image:linear-gradient(top, #00AEAA, #2f96b4);}
/*.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{background-color:#dadada;}*/
.dropdown-menu{padding-top: 6px;}
.bs-docs-sidenav > .active {
  border-left: none !important;/* 3px solid gray*/;
}
.dropdown-menu li > a {padding: 3px 15px;}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{color: white}
.nav-list > li > a {color: #00aeaa}
.close{font-size: 16px;}


/*groups*/
.group-preview{color: #666;min-width: 150px;max-width: 150px;position: relative;text-align: center;display: inline-block;margin: 0 5px;margin-left: 0px;margin-right: 20px;padding:10px 10px 5px;border:solid thin;border-color: white;vertical-align:middle}
.group-preview:hover{border:solid thin #dadada;color: #555;}
.group-preview .group-notifications{color: #C7C6C6;width: 13px;height: 13px;position: relative;}
.group-preview .group-circle{border-radius: 50px;width: 100px;height: 100px;margin:0 auto;border: 4px solid #79B632;}
.group-preview .group-members-num{margin-top: 37px;font-size: 36px;text-align: center !important;display: block;}
.group-preview .group-name{font-weight: bold;font-size: 14px;height: 40px !important;}
.group-preview .group-permissions{margin-top: 8px;margin-bottom: -3px;color: #ccc;}
.group-preview .group-permissions > span{width: 15px;height: 15px;display: inline-block;}
.group-preview .group-permissions > span.active{color: #666;}

.group-preview .btn-new-group{border-left: solid thin #dadada;color: #888}
.group-preview .group-circle-plus{border-color: #d0d0d0;color:#d0d0d0;}
.group-preview .btn-create-group{margin-left: 4px;margin-top: 28px !important;}
/*close groups*/

.nav-list > li > a{color: #555;}
.nud{text-decoration: none !important;}


#toolbar-btn{overflow: visible;position: fixed;width: 100%;}
/*Dropdown Actarium*/
.dropdown-container{display:none;position:absolute;z-index:1001;background-color:rgb(253,253,253);border:solid thin #ccc;box-shadow: 0 5px 10px rgba(0,0,0,0.15);border-radius:3px;padding:10px;width:200px;}
.header-title{border-bottom: 1px solid #dcdcdc;height:26px;text-align:center;color:#939393;font-weight: bold;font-size:14px;}
.close-popover{position:absolute;right: 10px;top: 10px;}
.dropdown-body{margin-top: 10px;}
.dropdown-body *{font-size: 14px;}
.dropdown-body ul{margin-bottom: 0;}
.dropdown-body ul li a{display: block; padding: 5px;}
.dropdown-body ul li a:hover{background-color: #97C02C;text-decoration:underline; /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00AEAA), to(#2f96b4));color: white;*/}
.second-menu{display: none;width:100%}
.second-menu label {margin:0;padding: 0;font-weight: normal !important;}
.second-menu input {width: 100%;padding: 4px 5px 2px !important;}
.back{margin-top: 5px;padding: 5px;border-radius: 3px;}
.back:hover{background-color: #dadada}
/*section{padding-top: 10px;}*/
.btn{margin-left: 2px}
@media (max-width: 768px) {
    .dropdown-container{right: auto;left: 0;}
}
/*Close Dropdown Actarium*/
#alerts {position: fixed;top: 25px;left: 0;right: 0;z-index: 10000;width:30%;margin:0 auto;padding: 10px 30px 10px 30px;font-size: 16px;}
#alerts div.alert{position: relative;top: 0;width: 100%;}


/*==================================================*/
/*                  Inicia Responsive               */                    
/*==================================================*/

/* Large desktop */
@media (min-width: 1280px) {
    .minutes, #minutes{width: 890px;}
}
@media (min-width: 1200px) {
    .logo-center{right: 20px}
    .btn-groups-admin{width: 470px;}
    .minutes, #minutes{width: 99%;}
}
@media (min-width: 992px){
    /*#topbar-menu{min-width: 224px;}*/
    #topbar .breadcrumb {display: inline-block;}
    /*#topbar-menu > div {min-width: 111px;}*/
}
@media (min-width: 980px) and (max-width: 1280px) {
    #form-new-group{width: 40%;}
    .notifications span{display: inline;}
    #social-buttons{display: visible;}
    .white-bar{width: 27%;}
    .logo-center{right: 20px}
    .btn-groups-admin{width: 70%;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #form-new-group{width: 65%;}
    article{width: 100%;}
    .navbar-fixed-top {margin-bottom: 0;}
    .white-bar{width: 40%;}
    #social-buttons{display: visible;}
    #table-roles th div{width: auto;}
    .th-name{display: none;width: auto;}
    .td-first{width: 68%;}
    .btn-groups-admin{width: 90%;}
    #minute, .minute{width: 80%}
    .minute > div{padding: 15px}
    .hoja{width: 94%}
    .modal.fade.in{top: 10%;}
    .message-box{width: 70%}
    .input-form{width: 80%;}
    .header-group{margin-top: 0;}
    #topbar-group-name{font-size: 18px;}
    #topbar .breadcrumb {display: inline-block;overflow: hidden;}
}
@media (max-width: 992px){
    body{padding-bottom: 45px !important;}
    .info-box{width: 90% !important;}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {padding-right: 0;padding-left: 0;}
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {margin-right: 0;margin-left: 0;}
    .white-bar{width: 55%}
    #form-new-group{width: 80%;}
    #table-roles th div{width: auto;}
    .th-name{display: none;width: auto;}
    .td-first{width: 55%;}
    .button-group{display: inline;}
    .container{width:95%}
    #settings-menu{margin-bottom: 20px;}
    #actarium-logo{width: 150px}
    /*.navbar-element{width: 65px;box-shadow: none;border-left: solid thin #dadada;}*/
    .navbar-item > span{font-size:13px;}
    header div > #top-menu-style > li{width: 65px;margin: -2px;}
    header #navbar-button-container > ul li a{margin-top: -1px}
    #alert-message, #alert-error {width:70%;}
    #message-box, #more-info{width: 85%;}
    .btn-groups-admin{width: 95%;}
    .btn{margin-top: 5px;}
    #minute, .minute{width: 90%}
    .minute > div{padding: 5px}
    .hoja{width: 90%}
    .modal.fade.in{top: 10%;}
    .message-box{width: 75%}
    /*landing*/
    .input-form{width: 80%;}
    #logo-actarium-p{width: 32px;}
    #toolbar-btn{margin-right: 0}
    .topbar-btn > .dinline{display: none}
    .org-menu-container .nav-list .glyphicon-chevron-right{display: none;}
    #topbar .breadcrumb {padding-left: 85px;}
    #alerts{width: 70% !important;}
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .span6{margin: 6px auto;width: 96%;}
    body {padding-right: 0;padding-left: 0;}
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{margin-right: 0;margin-left: 0;}
    #body-container > article{margin-top: 15px;}
    .white-bar{width: 80%;}
    h3{font-size: 16px;}
    .container{width: 95%}
    #actarium-logo{width: 60px}
    #logo-actarium-p{/*margin-top: -6px;*/width: 33px;}
    .top-bar-center{padding-top: 9px}
    .logo-center{width: 38px;}
    /*.navbar-element{width: 35px;height: 54px;box-shadow: none}*/
    header div > #top-menu-style > li{width: 35px;}
    .navbar-item{height: 51px;}
    .navbar-item-logo{height: 48px;}
    .top-text{display: none;}
    .ico-top{top: 17px}
    /*header.navbar{height: 48px;}*/
    #social-buttons{display: block;}
    #account-menu{margin-right: 0}
    .btn{margin-top: 5px;}
    #message-box, #more-info{width: 90%;}
    .modal.fade.in{top: 10%;}
    .message-box{width: 85%}
    #feed-modal{width: 100%}
    .menu-container{padding-top: 12px;}
    /*landing*/
    .input-form{width: 70%;}
    #topbar-btn-logo{padding-right: 7px !important;padding-left: 3px !important;}
    #topbar-group-name{overflow: hidden;}
    #topbar .breadcrumb {padding-left: 10px;padding-right: 0;}
    .suspension-points{display: inline-block !important;}
}

@media (max-width: 380px) {
    .white-bar{width: 95%;}
    .form-content{padding: 0;}
}
   /*==================================================*/
    /*                  Modal for view in mobile       */                    
    /*==================================================*/
@media (max-height: 480px) {
    .modal.fade.in{top: 10%;height: 370px}
    .modal-body{max-height: 291px}
}
@media (max-height: 380px) {
    .modal.fade.in{top: 10%;height: 270px}
    .modal-body{max-height: 191px}
}
   /*==================================================*/
    /*                  Cierra Modal               */                    
    /*==================================================*/

/*==================================================*/
/*                  Cierra Responsive               */                    
/*==================================================*/
