{% extends "asettings/settings_menu.html" %}
{% block TITLE %}Organizaciones{% endblock %}
{% block bodysettings %}

<a class="btn pull-right" href="/settings/organizations/new"><i class="icon-plus"></i> Crear Organizaci&oacute;n</a>
<h3> Configuraci&oacute;n de Organizaciones </h3>
<p>En esta parte se administra las organizaciones y se pueden crear <strong>Grupos Pro</strong>, la principal funci&oacute;n es personalizar una organizaci&oacute;n para una acta.</p>

<div class="accordion">
	{% for data in organizations %}
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{data.org.id}}" href="#organization{{data.org.id}}">
		        <img class="org-img" src="{{data.org.logo_address}}"> {{data.org.name}} <small class="muted hidden">- {{data.org.description}}</small>
				<div class="pull-right buttons-edit hidden">
                    <button data-action="editar" class="btn_block"><i class="icon-wrench"></i></button>
                    <button data-action="eliminar" class="btn_block"><i class="icon-remove"></i></button>
                </div>
		      </a>
		    </div>
		    <div id="organization{{data.org.id}}" class="accordion-body collapse in">
		      <div class="accordion-inner">
		      		<div class="span6">
		      			<a href="/groups/new?org={{data.org.id}}" class="btn btn-small"><i class="icon-plus"></i> Crear grupo Pro</a>
		      		</div>
		      		<div class="db">
			        	<ul class="nav nav-tabs nav-stacked">
			        			<li class="title-groups">
			        				<a href="#">
			        					<strong>Grupos Pro:</strong>
			        				</a>
			        			</li>
			        		{% for g in data.groups_org_list%}
			        			<li>
			        				<a href="/groups/{{g.id_group.slug}}">{{g.id_group.name}} <span class="hidden">- {{g.id_group.description}}</span>
				        				<div class="pull-right buttons-edit hidden">
						                    <button data-original-title="Configuraci&oacute;n"  data-action="1" data-slug="{{g.id_group.slug}}" class="button-action"><i class="icon-wrench"></i></button>
						                    <button data-original-title="Eliminar grupos" data-action="2" class="button-action"><i class="icon-remove"></i></button>
						                </div>
						            </a>
						            <div class="description-group" style="display:none">
						            	Agregar administrador: <input type="text" id="search-member">
						            </div>
			        			</li>
			        		{% endfor %}
						</ul>
					</div>
		      </div>
		    </div>
		  </div>
	{% endfor%}
</div>
<input type="hidden" value="{{organizations|length}}" id="num-organizations">
{% endblock %}
{%block settings_style%}
<style type="text/css">
.accordion-heading{overflow: hidden;}.org-img{width: 30px;}
.db{display: block;clear: both; margin-top: 45px;}
.title-groups{background-color: #eee;}
.title-groups a{cursor: default;color: #555}
.db a span{color: #555;}
.description-group{border: solid thin #dadada;padding: 10px;min-height: 100px;}
</style>
{% endblock %}
{% block settings_js %}
<script type="text/javascript" ><!--
	$(document).on("ready", function() {
		$("#settings-organization").addClass("active");
		$('.button-action').tooltip()

		{%ifequal group_saved '0' %}
		setAlertMessage("Ups!", "No eres miembro, solo puedes verlo en la lista de su organizaci&oacute;n.")
		{%endifequal%}
		{%ifequal group_saved '1' %}
		setAlertMessage("Grupo creado!", "Tu grupo ha sido creado satisfactoriamente, como no eres miembro, solo puedes verlo en la lista de la organizaci&oacute;nes.")
		{%endifequal%}
		if ($("#num-organizations").val() == 1){
			$(".collapse").collapse({
		        toggle: false
		    });
	    }else{
		    $(".collapse").collapse({
		        toggle: true
		    });
		}
		$('.title-groups a').on('click', function (e) {
		  e.preventDefault();
		});
		$('.collapse').on('show', function () {
		  $(this).parent().find("small.muted").removeClass("hidden");
		});
		$('.collapse').on('hidden', function () {
		  $(this).parent().find("small.muted").addClass("hidden");
		});
		$('.accordion-group').hover(function () {
		  $(this).find("div.buttons-edit").removeClass("hidden");
		},function(){
			$(this).find("div.buttons-edit").addClass("hidden");
		});
		$('.db a').hover(function () {
		  $(this).children("span").removeClass("hidden");
		},function(){
			$(this).children("span").addClass("hidden");
		});
		$("button.button-action").on("click",function(e){
			e.preventDefault();
			var action = parseInt($(this).attr("data-action"));
			if(action==1){
				var description = $(this).parent().parent().next("div.description-group")
				description.slideToggle()
				description.find("#search-member").focus();
			}
			if(action==2){
				alert("Opción temporalmente no disponible")
			}
		})
	});
</script>
{% endblock %}