{% extends "website/layout.html" %}


{%block body%}
<article class="">
    <header class="">
    	<h2 >Configuraciones  </h2>
    	<hr>
    </header>
	<div class="row-fluid">
  		<section id="settings-menu" class="span3" >
	    	<div class="bs-docs-sidebar">
		        <ul class="nav nav-list bs-docs-sidenav ">
					<li id="settings-personal-data"      ><a href="/account"><i class="icon-chevron-right"></i>Datos personales</a></li>
					<li id="settings-password"      ><a href="/account/changePassword"><i class="icon-chevron-right"></i>Contrase&ntilde;a</a></li>
					<li id="settings-dni"      ><a href="/account/dni"><i class="icon-chevron-right"></i>DNI</a></li>
					<li id="settings-billing"      ><a href="/settings/billing"><i class="icon-chevron-right"></i>Facturaci&oacute;n</a></li>
					<li id="settings-organization" ><a href="/settings/organizations"><i class="icon-chevron-right"></i>Organizaciones</a></li>
					<li id="settings-templates" ><a href="/settings/templates"><i class="icon-chevron-right"></i>Plantillas</a></li>
			        {% if user.is_staff %}
                    <li id="settings-actions"    style="margin-top:50px"  ><a href="/actions"><i class="icon-chevron-right"></i>Acciones</a></li>
                    <li id="settings-views"      ><a href="/actions/views"><i class="icon-chevron-right"></i>Visitas a Paginas</a></li>
                    <li id="settings-viewsstats"      ><a href="/actions/viewsstats"><i class="icon-chevron-right"></i>Estadistica de visitas</a></li>
                    <li id="settings-reply-request" ><a href="/settings/replyRequest"><i class="icon-chevron-right"></i>Paquetes</a></li>
                    <li id="settings-feedback" ><a href="/settings/feedback"><i class="icon-chevron-right"></i>Feedback</a></li>
                    {% endif %} 
		        </ul>
      		</div>
    	</section>
	    <section id="settings-container" class="span9 b">
		   		{% block bodysettings %}{% endblock %}
	    </section>
	</div>
   
</article>
{%endblock%}

{% block style_libs %}
<link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_PREFIX }}css/todc-docs.css">
{%block settings_style_libs %}{% endblock %}
{% endblock %}

{%block style%}
<style>
	section{padding: 0}
	#settings-menu ul{
		margin: 0;
	}
	#settings-container{
		background-color: #fff;
		padding: 20px 15px;
		border-radius: 5px;
	}
	#settings-header{
		color: #7a7a7a;
		margin-top: 0px;
		/*padding-top: 20px;*/
		/*background-color: #E9E9E9;*/
		/*background-image: url("/static/img/fondo_peq.jpg");*/
	}
</style>
{%block settings_style%}{% endblock %}
{%endblock%}

{% block js %}
{% block settings_js %}{% endblock  %}
{% endblock %}

{% block js_libs %}
	{%block settings_js_libs%}{%endblock%}
{% endblock%}