{% extends "asettings/settings_menu.html" %}

{% block bodysettings %}

<h3> Solicitudes pendientes</h3>
<p>A continuaci&oacute;n se muestra las solicitudes de paquetes que han realizado algunos usuarios de actarium</p>

<br />
<table class="table table-striped">
	<tr>
		<th>Nombre del Paquete</th>
		<th>Usuario</th>
		<th>Meses</th>
		<th>Aceptar</th>
		<th>Rechazar</th>
	</tr>
{% for billing in billing_list2 %}
            <tr>
                        <td >{{billing.id_package.name}}</td>
                        <td >{{billing.id_user.username}}</td>
                        <td >{{billing.time}}</td>
                        <td><a class="answer btn btn-success" data-id-billing="{{billing.pk}}" data-answer="1" >Aceptar</a></td>
                        <td><a class="answer btn btn-warning" data-id-billing="{{billing.pk}}" data-answer="2">Rechazar</a></td>
            </tr>

{% endfor %}
</table>

<h3> Solicitudes ya contestadas</h3>
<p>Listado de todos los paquetes solicitados a los cuales ya se ha dado respuesta</p>

<table class="table table-striped">
	<tr>
		<th>Nombre del Paquete</th>
		<th>Usuario</th>
		<th>Grupos</th>
		<th>Precio</th>
		<th>Meses</th>
		<th>Inicio</th>
		<th>Caducidad</th>
		<th>Estado</th>
		
	</tr>

{% for billing in billing_list %}
            <tr>
                        <td >{{billing.id_package.name}}</td>
                        <td >{{billing.id_user.username}}</td>
                        <td >{% ifequal billing.state '1' %}{{billing.groups_pro_available}}{% else %}0{% endifequal %}/{{billing.id_package.number_groups_pro}}</td>
                        <td >${{billing.id_package.price}}/mes </td>
                        <td >{{billing.time}}</td>
                        <td> {{billing.date_start|date:"d M Y"}}</td>
                        <td> {{billing.date_end|date:"d M Y"}}</td>
                        <!-- <td> <a href="#" data-id-package="billing.pk}}" class="btn btn-info">Renovar</a></td> -->
                        <td>{% ifequal billing.state '0' %}
                        		{{"Esperando Respuesta"}}
                        	{% else %}
                        		{% ifequal billing.state '1' %}
                        			{{"Activo"}}
                        		{% else %}
                        			{% ifequal billing.state '2' %}
                        				{{"Rechazado"}}
                        			{% endifequal %}
                        		{% endifequal %}
                        	{% endifequal %}
                        </td>
            </tr>

{% endfor %}
</table>


{% endblock %}

{% block settings_style %}
<style>
	#select-time{
		width: 60px;
	}
</style>
{% endblock %}
{% block settings_js %}
<script type="text/javascript" ><!--
	$(document).on("ready", function() {
		$("#settings-reply-request").addClass("active");

		$(".answer").click(function(e){
		e.preventDefault();
		id_billing=$(this).attr("data-id-billing")
		//time=$(this).attr("data-time")
		answer=$(this).attr("data-answer")

    	sendAjax("/settings/setReplyRequest",
    			{id_billing:id_billing,answer:answer},
    			"#load_packages",
    			function(data){
        			//console.log(data)
	    			if (data=="True"){
	    				alert('Respuesta enviada.');
		    		    window.location="/settings/replyRequest";
	    			}
    		}
    	)
	
	});
	});


</script>
{% endblock %}