{% extends "website/layout.html" %}


{%block body%}
<article class="">
    <header class="">
    	<h2 >Configuraciones  </h2>
    	<hr>
    </header>
	<div class="row-fluid">
  		<section id="settings-menu" class="span3" >
	    	<div class="bs-docs-sidebar">
		        <ul class="nav nav-list bs-docs-sidenav ">
					<li id="settings-account"      ><a href="/account"><i class="icon-chevron-right"></i>Cuenta</a></li>
					<li id="settings-billing"      ><a href="/settings/billing"><i class="icon-chevron-right"></i>Facturaci&oacute;n</a></li>
					<li id="settings-organization" ><a href="/settings/organizations"><i class="icon-chevron-right"></i>Organizaciones</a></li>
			        {% if user.is_staff %}
                    <li id="settings-actions"      ><a href="/actions"><i class="icon-chevron-right"></i>Acciones</a></li>
                    {% endif %} 
		        </ul>
      		</div>
    	</section>
	    <section id="settings-container" class="span9 b">
		   		{% block bodysettings %}{% endblock %}
	    </section>
	</div>
   
</article>
{%endblock%}

{% block style_libs %}
<link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_PREFIX }}css/docs.css" />
{%block settings_style_libs %}{% endblock %}
{% endblock %}

{%block style%}
<style>
	section{padding: 0}
	#settings-menu ul{
		margin: 0;
	}
	#settings-container{
		background-color: #fff;
		padding: 20px 15px;
		border-radius: 5px;
	}
	#settings-header{
		color: #7a7a7a;
		margin-top: 0px;
		/*padding-top: 20px;*/
		/*background-color: #E9E9E9;*/
		/*background-image: url("/static/img/fondo_peq.jpg");*/
	}
</style>
{%block settings_style%}{% endblock %}
{%endblock%}

{% block js %}
{% block settings_js %}{% endblock  %}
{% endblock %}