{% extends "groups/menu.html" %}
{% load i18n %}

{% block toolbar_content %}
<ul class="list-unstyled">
    <li>
        <a href="{%if rel_user.is_convener%}{% url 'new_reunion_group' group.slug %} {%else%}#{%endif%}" class="title-on-disabled {%if not rel_user.is_convener%}disabled{%endif%}" {%if not rel_user.is_convener%}title="No tienes permiso para convocar reuniones"{%endif%}>
            <span class="glyphicon glyphicon-plus"></span> {% trans " Convocar Reuni&oacute;n" %}
        </a>
    </li>
</ul>
{% endblock %}

{% block menu_content %}
<div class="white-box-container">
    <header>
        <h4>{% trans "Agenda de Reuniones" %}</h4>
    </header>
    <hr>
    <ul class="list-unstyled">
        {%if reunions%}
        <li><strong>{% trans "Pr&oacute;ximas" %}:</strong></li>
            {%for r in reunions%}
                {% if r.date_reunion|date:"Y-d-m" >= now_|date:"Y-d-m" %}
                    <li class="list-item">
                        <div class="ml10 list-item-next">
                            {{r.id_convener}}: <a href="/calendar/{{r.date_reunion|date:"Y-m-d"}}?r={{r.id}}">{{r.title}}</a> para el <a href="/calendar/{{r.date_reunion|date:"Y-m-d"}}">{{r.date_reunion}}</a>
                        </div>
                    </li>
                {%endif%}
            {%endfor%}
            <li class="mt20"><strong>{% trans "Anteriores" %}:</strong> </li>
            {%for r in reunions%}
                {% if r.date_reunion|date:"Y-d-m" < now_|date:"Y-d-m" %}
                    <li class="list-item">
                        <div class="ml10 list-item-next">
                            {{r.id_convener}}: <a href="/calendar/{{r.date_reunion|date:"Y-m-d"}}?r={{r.id}}">{{r.title}}</a> para el <a href="/calendar/{{r.date_reunion|date:"Y-m-d"}}">{{r.date_reunion}}</a>
                        </div>
                    </li>
                {%endif%}
            {%endfor%}
        {%else%}
        <li>{% trans "No hay reuniones para este grupo" %}</li>
        {%endif%}
    </ul>
</div>
{% endblock %}

{% block menu_content_js %}
<script type="text/javascript">
	$("#group-menu-calendar").addClass("active");
</script>
{% endblock %}

{% block menu_content_style %}
<style type="text/css">
</style>
{% endblock %}

{%block menu_style_libs %}

{% endblock %}