{% extends "groups/menu.html" %}
{% block toolbar_content %}
	<li><a href="#">un boton</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">otro boton <i class="caret"></i></a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	        <li>
	        	<a href="#">unos</a>
	        </li>
	        <li>
	        	<a href="#">dos</a>
	        </li>
	    </ul>
	</li>
{% endblock %}

{% block menu_content %}
aqui van notificaciones
{% endblock %}

{% block menu_content_js %}
<script type="text/javascript">
	$("#group-menu-home").addClass("active");
</script>
{% endblock %}

{% block menu_content_style %}
<style type="text/css">
</style>
{% endblock %}

{%block menu_style_libs %}

{% endblock %}