<section class="row-fluid">
    <article id="minute" class="minute hoja white-box-container">
        <style type="text/css">
            body{font-family:Helvetica;color: #555;}
            .minute{
                border: solid thin #ddd;
                background-color: #fff;
                box-shadow: 8px 8px 6px -6px gray;
                border-radius: 3px;
                padding-top: 40px;
                width: 915px;
                margin: 0 auto;
            }
            .minute header{
                width: auto;
                margin:30px 0;
                margin-top: 40px;
                margin-left: 0;
                padding: 0 80px;
            }
            .minute header img{
                margin-top: 0;
            }
            .minute header h3{
                margin: 0;
            }
            #footerContent{
                margin: 20px 0;
                margin-top: 45px;
            }
            .list-of-members{margin:0;}
            .box{overflow: hidden;}
            .box > div{float: left;width: 50%}
            #minute ul{list-style-type: none;}
            #headerContent{margin: 0}
            #headerContent table th, #minutesContent table th{text-align: left;vertical-align: center;}
            #headerContent > div > img{height:50px;width:100px;margin:0;margin-top:0;}
            .div-header{height:50px;max-width:100px;display:inline-block;margin:0;}
            #minutesContent{line-height: 1.8;margin: 0}
            #firmas td{padding-top: 60px;width: 100%;}
            #firmas table{width: 100%}
            #table-list-members{margin-bottom: 20px;width: 100%;}
            .tinymce-textareas{padding: 5px;}
            @page {
              margin: 2.5cm;
              margin-top: 3cm;
              margin-bottom: 2.5cm;
              font-size: 26px;
              colordisplay:#555;
              @frame header {
                -pdf-frame-content: headerContent;
                top: 1cm;
                margin-left: 2.1cm;
                margin-right: 1cm;
                height: 2.5cm;
              }
              @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 1cm;
                margin-left: 2.5cm;
                margin-right: 1cm;
                margin-top: 1.5cm;
                height: 2cm;
              }
            }
        </style>
        <div id="headerContent">
            <table border="1" style="width:100%; margin-bottom:40px; text-align: center">
                <tr>
                    <td style="padding:5px"><img style="height:38px" src="{{URL_BASE}}/media/orgs_img/parquesoft/parquesoft-logo.png" title="Logo" alt="" /></td>
                    <td style="padding:5px"><strong>ACTA {{group.name|upper}}</strong></td>
                    <td style="padding:5px"><strong>ACTA No. <span id="id_code_title" title="El &uacute;ltimo c&oacute;digo de acta asignado es: {{last.code}}">{{ newMinutesForm.code }}</span></strong> <span style="display:block; float:right">{{ newMinutesForm.code.errors }}</span>
                    </td>
                </tr>
            </table>
        </div>
    	<div id="minutesContent">
            <div class="hidden" style="display:none">{{newMinutesForm.type_reunion}}</div>
            <div class="hidden">
                <input type="text" placeholder="Lugar" name="location" id="id_location" value="&nbsp;" />
            </div>
            <div class="hidden">
                <input id="id_date_end" type="text" class="date-pick" name="date_end" value="2000-01-01 03:00 am" />
            </div>
    		
    		<table border="1" style="width:100%; margin-bottom:10px">
    			<tr>
    				<td style="padding:5px"><strong>FECHA / HORA</strong></td>
    				<td style="padding:5px">
                        {% if is_form%}
                        <input class="date-pick" id="id_date_start" name="date_start" placeholder="{{newMinutesForm.date_start.label}}" type="text" style="width: 150px; z-index: 1034;" value="{{newMinutesForm.date_start.value|date:'Y-m-d g:i A'}}">
                        {%else%}
                        {{ newMinutesForm.date_start|date:"l d \d\e F \d\e Y \a \l\a\s g:i a"}}
                        {% endif%}
                        <span style="display:block; float:right">{{ newMinutesForm.date_start.errors }}</span>
                    </td>
    			</tr>
    			<tr>
    				<td style="padding:5px"><strong>ASISTENTES</strong></td>
    				<td style="padding:5px">
                        <ul class="unstyled">
                        {% for member in members_selected%}
                               <li>
                               {{member.id_user.first_name}} {{member.id_user.last_name}}
                               {%comment%}
                               {% if not forloop.last %},{%endif%}
                               {%endcomment%}
                               </li>
                        {% endfor%}
                        </ul>
                   </td>
    			</tr>
    		</table>
    		
    		<table border="1" style="width:100%; margin-bottom:10px">
    			<tr>
    				<td style="padding:5px"><strong>ORDEN DEL D&Iacute;A</strong></td>
    			</tr>
    			<tr>
    				<td class="tinymce-textareas">
                        {{ newMinutesForm.agenda|safe }}
                        <span style="display:block; float:right">{{ newMinutesForm.agenda.errors }}</span> 
                    </td>
    			</tr>
    			<tr>
    				<td style="padding:5px"><strong>DESARROLLO ORDEN DEL D&Iacute;A</strong></td>
    			</tr>
    			<tr>
    				<td class="tinymce-textareas">
                        {{ newMinutesForm.agreement|safe }}
                        <span style="display:block; float:right">{{ newMinutesForm.agreement.errors }}</span>
                    </td>
    			</tr>
    			
    		</table>
    		<br /><br />
            <div id="firmas">
                <table>
                    <tr>
                    {% if president.user %}
                        <td style="padding-left:10px;padding-top:60px;">
                            _______________________________ <br />
                            {{president.user.id_user.first_name|upper}} {{president.user.id_user.last_name|upper}}<br />
                            Presidente
                            {% if show_dni %}
                                </br>{{ president.dni_type }} {{ president.dni }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if secretary.user %}
                        <td style="padding-left:10px;padding-top:60px;">
                            _______________________________ <br />
                            {{secretary.user.id_user.first_name|upper}} {{secretary.user.id_user.last_name|upper}}<br />
                            Secretario
                            {% if show_dni %}
                                </br>{{ secretary.dni_type }} {{ secretary.dni }}
                            {% endif %}
                        </td>
                    {% endif %}
                    </tr>
                    {% for members in members_signers%}
                        <tr>
                            {% for m in members %}
                            <td style="padding-left:10px;padding-top:20px;">
                                    _______________________________ <br />
                                    {{m.signer.id_user.first_name|upper}} {{m.signer.id_user.last_name|upper  }}
                                    {% if show_dni %}
                                    </br>{{ m.dni_type }} {{ m.dni }}
                                    {% endif %}
                            </td>
                            {% endfor %}
                       </tr>
                    {% endfor%}
                </table>
            </div>
            <br /><br /><br /><br />
    	</div>
        <div id="footerContent">
        </div>
    </article>
</section>

