{% load gravatartag %}
<section class="row-fluid">
    <article id="minute" class="minute hoja white-box-container">
        <style type="text/css">
            body{font-family:Helvetica;color: #555;}
            .minute{
                border: solid thin #ddd;
                background-color: #fff;
                box-shadow: 8px 8px 6px -6px gray;
                border-radius: 3px;
                padding-top: 40px;
                width: 915px;
                margin: 0 auto;
            }
            .minute header{
                width: auto;
                margin:30px 0;
                margin-top: 40px;
                margin-left: 0;
                padding: 0 80px;
            }
            .minute header img{
                margin-top: 0;
            }
            .minute header h3{
                margin: 0;
            }
            #footerContent{
                margin: 0;
                padding: 0;
                width: 100%;
            }
            ul{list-style-type: none;}
            #headerContent{margin: 0;height: 40px;}
            #headerContent > div > img{height:50px;width:100px;margin:0;margin-top:0;}
            .div-header{height:50px;max-width:100px;display:inline-block;margin:0;}
            #minutesContent{line-height: 1.8;margin: 0}
            #firmas td{padding-top: 60px;width: 100%;}
            #firmas table{width: 100%}
            #table-list-members{margin-bottom: 20px;width: 100%;}
            #footerContent img { zoom: 100%; }
            @page {
              margin: 2.5cm;
              margin-top: 3cm;
              margin-bottom: 2.5cm;
              font-size: 26px;
              colordisplay:#555;
              @frame header {
                -pdf-frame-content: headerContent;
                top: 1cm;
                margin-left: 2.1cm;
                margin-right: 1cm;
                height: 2.5cm;
              }
              @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 0.5cm;
                margin-left: 0.5cm;
                margin-right: 0.5cm;
                margin-top: 1.5cm;
                height: 3cm;
              }
            }
        </style>
        <div id="headerContent">
        </div>
        <div id="minutesContent">
          <div style="text-align:center; padding:0 0 15px 0">
            <div class="hidden">
              <input id="id_date_end" type="hidden" class="date-pick" name="date_end" value="2000-01-01 03:00 am" />
            </div>
            <strong>
              Acta No. 
              <span id="id_code_title" title="El &uacute;ltimo c&oacute;digo de acta asignado es: {{last.code}}">
                {{ newMinutesForm.code }}
              </span>
              <br /> 
              <span style="display:inline-block; float:right">{{ newMinutesForm.code.errors }}</span>
        		  ASAMBLEA GENERAL 
              <span style="display:inline-block;">{{ newMinutesForm.type_reunion }}</span>
              <br /> 
              PARQUESOFT PEREIRA
            </strong>
            <br /><br />
        	</div>
      		<p style="text-align : justify;">
      			En {{ newMinutesForm.location }}<span style="display:inline-block; float:right"><span style="width:160px">{{ newMinutesForm.location.errors }}</span></span>, siendo las {{ newMinutesForm.date_start}}<span style="display:inline-block; float:right">{{ newMinutesForm.date_start.errors }}</span>, se
      			reunieron los miembros de la asamblea general de la Fundaci&oacute;n Parque Tecnol&oacute;gico
      			de Software de Pereira por derecho propio, atendiendo a la convocatoria efectuada de
      			conformidad con los estatutos o la ley.
      		</p>
      		<p style="text-align : justify;">
      			Que el d&iacute;a <span id="date_mirror"></span>, se reunieron m&aacute;s de la tercera parte de
      			miembros activos de la Asamblea General de la fundaci&oacute;n Parque Tecnol&oacute;gico de
      			Software de Pereira, dando cumplimiento al qu&oacute;rum necesario para iniciar, deliberar y
      			decidir, exigido en los estatutos.
      		</p>
      		<br />
      		El siguiente fue el orden del d&iacute;a:<br /><br />
      		<p>
      			{{ newMinutesForm.agenda|safe }}
            <span style="display:inline-block; float:right">{{ newMinutesForm.agenda.errors }}</span>	
      		</p>
          <br />
      		<p>
      			{{ newMinutesForm.agreement|safe }}
            <span style="display:inline-block; float:right">{{ newMinutesForm.agreement.errors }}</span>
      		</p>
      		<br /><br />
          {%if reunion%}
            <input type="hidden" name="reunion_id" value="{{reunion.id}}" >
          {%endif%}
          <div id="assistance_hidden" style="display:none">
            <ul class="unstyled">
              {% for member in members_selected%}
                <li>
                  <div class="">
                    {{member.id_user.first_name|upper}} {{member.id_user.last_name|upper}}
                  </div>
                </li>
              {% endfor%}
            </ul> 
          </div>
      		<br />
          <div id="firmas">
              <table>
                  <tr>
                  {% if president %}
                      <td style="padding-left:10px;padding-top:20px;">
                          _______________________________ <br />
                          {{president.id_user.first_name|upper}} {{president.id_user.last_name|upper}}<br />
                          Presidente
                      </td>
                  {% endif %}
                  {% if secretary %}
                      <td style="padding-left:10px;padding-top:20px;">
                          _______________________________ <br />
                          {{secretary.id_user.first_name|upper}} {{secretary.id_user.last_name|upper}}<br />
                          Secretario
                      </td>
                  {% endif %}
                  </tr>
                  {% for members in members_signers%}
                    <tr>
                        {% for m in members %}
                        <td style="padding-left:10px;padding-top:40px;">
                          _______________________________ <br />
                          {{m.id_user.first_name|upper}} {{m.id_user.last_name|upper}}
                        </td>
                        {% endfor %}
                   </tr>
                  {% endfor%}
              </table>
          </div>
          <br /><br />
      	</div>
        <div id="footerContent">
          <img src="{{URL_BASE}}/media/orgs_img/daiech-1/footer.jpg" width="915px">
        </div>
    </article>
</section>