$("#id_agenda").val("<ol><li>Verificaci&oacute;n de qu&oacute;rum</li>"+
				"<li>Designaci&oacute;n de presidente y secretario de la reuni&oacute;n.</li>"+
				"<li>Lectura y aprobaci&oacute;n del orden del d&iacute;a.</li>"+
				"<li>Proposiciones y varios.</li>"+
				"<li>Nombramiento de la comisi&oacute;n aprobatoria del acta.</li>"+
                "</ol>");

$("#id_agreement").val("<ol><li>Se verific&oacute; la presencia del qu&oacute;rum estatutario para poder deliberar y decidir (53% del total de afiliados).</li>"+
				$("#assistance_hidden").html()+
				"<li>Designaci&oacute;n de presidente y secretario de la reuni&oacute;n.<br><br></li>"+
				"<li>Lectura y aprobaci&oacute;n del orden del d&iacute;a.<br><br></li>"+
				"<li>Presentaci&oacute;n y aprobaci&oacute;n de estados financieros 2011.<br><br></li>"+
				"<li>Nombramiento del Revisor fiscal y suplente y fijaci&oacute;n de honorarios.<br><br></li>"+
				"<li>Presentaci&oacute;n informe de gesti&oacute;n 2010-2011.<br><br></li>"+
				"<li>Proposiciones y varios.<br><br></li>"+
				"<li>Nombramiento de la comisi&oacute;n aprobatoria del acta.<br><br></li>"+
                "</ol>");

$("#id_date_start").blur(function(){
	$("#date_mirror").empty();
	$("#date_mirror").append(""+$("#id_date_start").val());
})

$("#id_location").css('width','130px');
$("#id_date_start").css('width','130px');
$("#id_code").css('width','100px');
$("#id_code_title").tooltip();
