{% extends "asettings/settings_menu.html" %}
{% load i18n %}
{% block TITLE %}{% trans 'Tareas pendientes' %}{% endblock %}
{% block bodysettings %}
{% load gravatartag i18n orgs_ttag humanize %}

<h3>{% trans 'Tareas pendientes' %}</h3>
<div class="white-box-container">
	<br />
	<table class="table">
    <tr>
        <th ></th>
        <th> Tarea</th>
        <th> Acta </th>
        <th> Grupo </th>
        <th> Detalle </th>
    </tr>
    
    {% for usertask in usertasks %}
        <tr class='clickable-row ' href="{% url 'show_minute' usertask.get_minutes.id_group.slug usertask.get_minutes.code %}#show-tasks">
                <td class="task_status {% if usertask.task.get_status_code == 'VEN' %} task_due {% endif %}" title="{% if usertask.task.get_status_code == 'VEN' %} Esta tarea vencio en {% else %} Esta tarea vence en {% endif %} {{usertask.task.due}} ">

                </td>
                <td>
                   {{ usertask.task }}
                </td>
                <td>
                    {{ usertask.get_minutes.code}}
                </td>
                <td>
                    {{ usertask.get_minutes.id_group.name}}
                </td>
                <td>
                    {{ usertask.task.description }}
                </td>
            
        </tr>
    {% empty %}
        <tr >
            <td colspan="5" >            
            No tienes tareas pendientes
            </td>
        </tr>
        
    {% endfor %}
    
    </table>
</div>

{% endblock %}

{% block settings_style %}
<style>

.task_status{
    width: 5px;
    background-color: #f0f0f0;
}

.task_due{
    background-color: #ffe2e2;
}


.clickable-row:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}




</style>
{% endblock %}
{% block settings_js %}
<script >
$(document).ready( function() {
        $("#settings-tasks").addClass("active");
});
jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
            window.document.location = $(this).attr("href");
      });
});
</script>
{% endblock %}