{% load static %} {% get_static_prefix as STATIC_PREFIX %}
{% load i18n %}
{% spaceless %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{%endblock%} - Actarium</title>
    <meta name="description" content="La solucic&oacute;n para el resgistro de actas">
    <link href="{{ STATIC_PREFIX }}favicon.ico" rel="icon" type="image/x-icon" >
    <link href="{{ STATIC_PREFIX }}libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}css/todc-bootstrap.css" rel="stylesheet" >
    <link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_PREFIX }}css/todc-docs.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'> -->
    {% block style_libs %}{% endblock%}
    <style>body {padding-top: 20px;}</style>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/styles.css">
    {%block style%}{%endblock%}
    <script src="{{ STATIC_PREFIX }}js/vendor/prefixfree.min.js"></script>
    {%block js_libs%}{%endblock%}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <header class="navbar navbar-fixed-top">
        {% include "minutes/top_bar.html" %}
    </header>
    <div class="container">
        <div id="body-container">
            {% block content %}
            {% endblock %}
        </div>
    </div> <!-- /container -->
    <!-- <div id="footer">
        {% include "website/footer.html" %}
    </div> -->{% if not DEBUG %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>{% endif %}
    <script>window.jQuery || document.write('<script src="{{STATIC_PREFIX}}libs/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="{{ STATIC_PREFIX }}js/main.js"></script>
    <script src="{{ STATIC_PREFIX }}js/vendor/bootstrap/bootstrap.min.js"></script>
    {% block js %}{% endblock%}
    {% if not DEBUG and not user.is_staff %}
    <script>
          var _gaq=[['_setAccount','UA-26046263-2'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    {% endif %}
  </body>
</html>
{% endspaceless %}
