{% load i18n %}
<ul class="list-unstyled">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" id="dropdownFile" data-toggle="dropdown">{% trans 'Archivo' %}<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFile">
		    <li role="presentation" class="{%if not rel_user.is_secretary%}disabled{%endif%}">
		    	<a role="menuitem" tabindex="-1" href="{%if not rel_user.is_secretary%}#{%else%}{% url 'create_minutes' group.slug template %}{%endif%}" class="title-on-disabled" {%if not rel_user.is_secretary%}title="{% trans 'Necesitas ser redactor para habilitar esta opción' %}"{%endif%}  data-placement="right" ><span class="glyphicon glyphicon-plus"></span> {% trans "Nueva acta" %}</a></li>
		    <li role="presentation" class="divider"></li>
		    <li role="presentation" class="{%if not minutes.is_minute_full_signed%}disabled{%endif%}">
				<a role="menuitem" tabindex="-1" href="#" id="btn-generate-pdf"  title="{%if not minutes.is_minute_full_signed%}{% trans 'Únicamente las actas aprobadas pueden descargase en PDF' %}{%endif%}">
			    	<form id="pdf-form" method="post" action="{% url 'generate_pdf' group.slug  %}">
						{% csrf_token %}
						<div class="hidden"><textarea id="minutes-html-data" name="minutes-html-data"></textarea></div>
							<span class="glyphicon glyphicon-file"></span> {% trans 'Descargar PDF' %}
					</form>
				</a>
		    </li>
		    <!--<li role="presentation">
		        <a role="menuitem" tabindex="-1" href="{%if not rel_user.is_secretary%}#{%else%}/groups/{{group.slug}}/uploadMinutes{%endif%}" class="title-on-disabled {%if not rel_user.is_secretary%}disabled{%endif%}" {%if not rel_user.is_secretary%}title='{% trans "Necesitas ser redactor para habilitar esta opción" %}'{%endif%}>
		            <i class="glyphico glyphicon glyphicon-cloud-upload"></i> {% trans "Subir acta" %}
		        </a>
		    </li> -->
			{% if minutes.is_minute_full_signed %}
			<li role="presentation" class="print hidden">
				<a role="menuitem" tabindex="-1" href="#" id="print-minutes"><span class="glyphicon glyphicon-print"></span> {% trans 'Imprimir' %}</a>
			</li>
			{% else %}
			<li role="presentation" class="disabled" title="{% trans 'Únicamente las actas aprobadas pueden imprimirse' %}"  data-placement="right">
				<a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-print"></span> {% trans 'Imprimir' %}</a>
			</li>
			{%endif%}
		    <li role="presentation" class="divider"></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'show_folder' group.slug %}" {%if not rel_user.is_secretary%}title="{% trans 'Necesitas ser redactor para habilitar esta opción' %}"{%endif%}  data-placement="right" ><span class="glyphicon glyphicon-folder-open"></span> {% trans "Volver al folder" %}</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" id="dropdownEdit" data-toggle="dropdown">{% trans 'Editar' %}<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownEdit">
		    {% if is_secretary and not minutes.is_minute_full_signed%}
		    <li role="presentation" data-placement="right" title="{% trans 'Ésta acta aún no ha sido aprobada, puedes editarla en cualquier momento' %}.">
				<a role="menuitem" tabindex="-1" href="#" class="" id="minutes-edit" ><span class="glyphicon glyphicon-file"></span> {% trans 'Contenido del Acta' %}</a>
		    </li>
		    {% else %}
		    <li role="presentation" class="{%if minutes.is_minute_full_signed%}disabled{%endif%}" title="{%if minutes.is_minute_full_signed%}{% trans 'Esta acta ya no se puede editar' %}{%endif%}" data-placement="right">
		    	<a role="menuitem" tabindex="-1" href="#" ><span class="glyphicon glyphicon-pencil"></span> {% trans 'Contenido del Acta' %}</a>
		    </li>
			{%endif%}
		    <li role="presentation" data-placement="right" title="{% trans 'Editar la lista de personas que deben aprobar esta acta' %}." class="">
				<a role="menuitem" tabindex="-1" href="#" class="" id="btnEditCommission" ><span class="glyphicon glyphicon-ok"></span> {% trans 'Comisión aprobatoria' %}</a>
		    </li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" id="dropdownPanel" data-toggle="dropdown">{% trans 'Herramientas' %}<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" id="dropdownPanelList" role="menu" aria-labelledby="dropdownPanel">
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="#" id="commissionPanel" data-placement="right" >
					<span>{% trans "Comisión aprobatoria, Anotaciones" %}</span>
					<i class="glyphicon"></i>
				</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="#" id="historyPanel" data-placement="right" >
					<span>{% trans "Historial de cambios" %}</span>
					<i class="glyphicon"></i>
				</a>
			</li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="tasksPanel" data-placement="right" >
			{% trans "Tareas de acta" %}<i class="glyphicon"></i></a></li>
		</ul>
	</li>
</ul>
<ul class="pull-right btn-pull-right">
    <li class=" important">
		<a class="{%if not prev %}disabled{%endif%}" href="{%if prev %}{% url 'show_minute' group.slug prev.code %}{%else%}#{%endif%}"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </li>
    <li class=" important">
		<a class="{%if not next %}disabled{%endif%}" href="{%if next %}{% url 'show_minute' group.slug next.code %}{%else%}#{%endif%}"><i class="glyphicon glyphicon-arrow-right"></i></a>
    </li>
</ul>

{% comment %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</li>
{% endcomment %}