{% extends "groups/adminGroup.html" %}
{% block TITLE %}Administraci&oacute;n de {{group.name}}{% endblock %}
{% block bodysettings %}
{% load gravatartag %}
<h3>Administraci&oacute;n de usuarios</h3>
<p>Agrega usuarios y asigna roles</p>
<div class="mt20">
	<form class="form-horizontal" enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		<section class="">
			<table id="table-roles" class="table table-bordered table-hover">
				<tr>
					<th class="td-first" title="Lista de todos los miembros del grupo '{{group.name}}'">Usuarios del grupo</th>
					<th title="Personas encargadas de redactar actas">
						<div>
							<i class="icon-pencil"></i>
							<span class="th-name">Secretario</span>
						</div>
					</th>
					<th title="Personas encargadas de aprobar actas">
						<div>
							<i class="icon-thumbs-up"></i> 
							<span class="th-name">Aprobador</span>
						</div>
					</th>
					<th title="Personas encargadas de administrar el grupo">
						<div>
							<i class="icon-wrench"></i> 
							<span class="th-name">Administrador</span>
						</div>
					</th>
					<th  title="Elimina la persona de este grupo" class="th-delelte">
						<div>
							<span class="th-name">Eliminar</span>
						</div>
					</th>
				</tr>
				{%for m in members%}
				<tr>
					<td class="td-first">
						<div class="username-info">
	                        <img style="width:20px" src="{{m.member.id_user.email|showgravatar:'20'}}" alt="{{m.member.id_user}}">
	                        {{m.member.id_user.first_name}} {{m.member.id_user.last_name}}
	                        {%if m.member.id_user == user%}
	                        (yo)
	                        {%else%}
	                        ({{m.member.id_user}})
	                        {%endif%}
	                    </div>
					</td>
					<td class="t-a-c">
						<label for="secretary{{m.member.id_user.id}}">
							<input id="secretary{{m.member.id_user.id}}" type="checkbox" data-role="3" data-role-name="Secretario" data-uid="{{m.member.id_user.id}}" {%if m.roles.is_secretary%}checked{%endif%}> 
						</label>
					</td>
					<td class="t-a-c">
						<label for="aprover{{m.member.id_user.id}}">
							<input id="aprover{{m.member.id_user.id}}" type="checkbox" data-role="2" data-role-name="Aprobador" data-uid="{{m.member.id_user.id}}" {%if m.roles.is_approver%}checked{%endif%}>
						</label>
					</td>
					<td class="t-a-c">
						<label for="admin{{m.member.id_user.id}}">
							<input id="admin{{m.member.id_user.id}}" type="checkbox" data-role="1" data-role-name="Administrador" data-uid="{{m.member.id_user.id}}" {%if m.roles.is_admin%}checked{%endif%} {%if m.roles.is_superadmin or m.member.id_user == user%}disabled{%endif%}>
						</label>
					</td>
					<td class="t-a-c">
						<div class="remove-invitation-container">
							<a href="#" data-invitation="{{m.member.id}}" title="Eliminar invitaci&oacute;n"><i class="icon-remove"></i></a>
						</div>
					</td>
				</tr>
                {%endfor%}
                {%for member in members_pend%}
                <tr><!--Usuarios pendientes-->
                	<td class="td-first">
						<div class="username-info">
	                        <img style="width:20px" src="{{member.id_user.email|showgravatar:'20'}}" alt="{{member.id_user.username}}">
	                        {{member.id_user.first_name}} (pendiente)
	                    </div>
					</td>
					<td class="t-a-c">
						<label for="secretary-{{member.id_user.id}}">
							<input id="secretary-{{member.id_user.id}}" type="checkbox" data-role="3" data-role-name="Secretario" data-uid="{{member.id_user.id}}" >
						</label>
					</td>
					<td class="t-a-c">
						<label for="aprover-{{member.id_user.id}}">
							<input id="aprover-{{member.id_user.id}}" type="checkbox" data-role="2" data-role-name="Aprobador" data-uid="{{member.id_user.id}}" >
						</label>
					</td>
					<td class="t-a-c">
						<label for="admin-{{member.id_user.id}}">
							<input id="admin-{{member.id_user.id}}" type="checkbox" data-role="1" data-role-name="Administrador" data-uid="{{member.id_user.id}}" >
						</label>
					</td>
					<td class="t-a-c">
						<div class="remove-invitation-container">
							<a href="#" class="remove-invitation" data-invitation="{{member.id}}" title="Eliminar invitaci&oacute;n"><i class="icon-remove"></i></a>
						</div>
					</td>
                </tr>
                {%endfor%}
			</table>
			<div class="mt20">
				<div class="dropdown">
	                <div class="btn btn-info dropdown-toggle" data-toggle="dropdown"  id="add-member">
	                    <i class="icon-plus icon-white"></i> Agregar miembro
	                    <span class="caret"></span>
	                </div>
	                <a href="{%if is_admin and not is_member%}#{%else%}/groups/{{group.slug}}{%endif%}" class="btn {%if is_admin and not is_member%}disabled{%endif%}">
	                	<i class="icon-arrow-left"></i> Volver al grupo
	                </a>
		            <div class="icons-info pull-right">
		                <span>Info:</span>
		                <span title="El usuario pude agregar usuarios y roles"><i class="icon-wrench"></i> Administrador</span>
		                <span title="Tiene la responsabilidad de aprobar actas"><i class="icon-thumbs-up"></i> Aprobador</span>
		                <span title="Tiene la responsabilidad de redactar actas"><i class="icon-pencil"></i> Secretario</span>
		            </div>
	                <ul id="add-member-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	                    <li class="taling">
	                        Miembros <div id="close-add-member" class="close pull-right icon-remove"></div>
	                    </li>
	                    <li>
	                        <input type="hidden" id="group_name" value="{{group.name}}">
	                        <input type="hidden" id="group_id" value="{{group.id}}">
	                        <input type="text" placeholder="Nombre de usuario o correo" id="newmember">
	                        <span id="load-member"></span>
	                    </li>
	                    <li>
	                        <p>Escribe el nombre de usuario o correo electr&oacute;nico del nuevo miembro del grupo.</p>
	                    </li>
	                    <li>
	                        <ul id="search-result">
	                        </ul>
	                    </li>
	                </ul>
	            </div><!-- dropdown -->
			</div>
		</section>
	</form>
</div>
{% endblock %}
{%block settings_style%}
<style type="text/css">
	td label{
		cursor: pointer;
		margin: 0;
		padding: 9px;
	}
	.th-delelte{width: 9%;}
	th div{
		text-align: center;
		font-size: 14px;
		height: 17px;
		margin: 0;
		overflow: hidden;
		padding: 0px;
		width: 115px;
	}
	.username-info{
		padding: 8px;
	}
	.remove-invitation-container{margin-top: 7px;}
	td input[type='checkbox']{margin-top: 0;}
	#table-roles td{
		padding: 0;
	}
	#table-roles td.t-a-c{
		text-align: center;
	}
	.table{
		margin-bottom: 0;
	}
	#t-a-cs{
		text-align: center;
	}
	.form-horizontal label{
		font-weight: bold;
		/*margin-top: 10px;*/
	}.list-member-item{
        border: solid thin #eee;
        border-bottom: solid thin #dadada;
        border-radius: 3px;
        padding: 8px;
        margin: 2px 0;
        position: relative;
    }
    .list-member-item:hover{
        border: solid thin #dadada;
    }
    .list-member-item > div{
        /*border: solid thin #dadada;*/
        width: 80%;
    }
    .list-member-item > span{
        cursor: pointer;
        top: 0;
        right: 5px;
        position: absolute;
    }
    .span6{
        border-right: solid thin #dadada;
        padding: 0 20px;
    }
    ul#add-member-menu li{
        margin-bottom: 10px;
    }
    .icon-remove{
        margin: 5px;
    }
    ul#search-result{
        margin-left: 0;
    }
    ul#search-result li span{
        font-size: 13px;
        margin-left: 13px;
        color: gray;
    }
    .taling{
        text-align: center;
    }
    .list-members span{
        color: gray;
    }
    li a span{
        /*color:black;*/
    }
    li p{
        color:gray;
        font-size: 12px;
        line-height:  1;
    }
    article{
        min-height: 500px;
        overflow: visible;
        padding-top: 1px;
    }
    #add-member{
        position: static;
    }
    #newmember{
        margin: 3px 10px;
        padding: 10px;
        width: 90%;
    }
    .dropdown#add-member-menu{
        text-decoration: none;
        margin: 5px 20px;

    }
    #add-member-menu{
        /*width:280px;*/
    }
    .dropdownmenu  * li{
        list-style:none;
        text-decoration: none;
    }
    .btnSup{
        margin-top: 8px;
    }
    div > section ul{
        margin-left:0;
    }
    div > section ul li{
        list-style: none;
    }
    .cancel-inv{
        font-style: italic;
        color: gray;
    }
</style>
{% endblock %}
{% block settings_js %}
<script type="text/javascript" ><!--
	$(document).on("ready", function() {
		$("#admin-roles").addClass("active")
		$("th").tooltip()
	    showIconCloseOnHover()
	    var MAX_LENGTH = 60
	    function getRoleName (op) {
	    	switch(op){
	    		case 1 : return "Administrador de &eacute;ste grupo"; break;
	    		case 2 : return "Aprobador de actas"; break;
	    		case 3 : return "Secretario (Puede redactar Actas)"; break;
	    	}
	    }

	    function callbackSetRole(data) {
	    	if (data["saved"]){
		    	setAlertMessage("Permiso agregado", data['u'] + " ahora es " + getRoleName(data['role']))
		    }
		    else{
		    	setAlertError("Ocurri&oacute; un error", data['error'])
		    }
	    }
	    function callbackRemoveRole(data) {
	    	if (data["saved"]){
		    	setAlertMessage("Rol removido", data['u'] + " ya no es " + getRoleName(data['role']))
		    }
		    else{
		    	setAlertError("Ocurri&oacute; un error", data['error'])
		    }
	    }
	    function setRole(e) {
	    	var checkbox = $(this);
	    	var role = checkbox.attr("data-role")
	    	var role_name = checkbox.attr("data-role-name")
	    	var uid = checkbox.attr("data-uid")
	    	if(checkbox.is(":checked")){
	    		sendAjax("/groups/{{group.slug}}/setRole",
	    			{"role":role, "uid": uid, "remove": 0},"",callbackSetRole)
	    	}
	    	else{
	    		if(confirm("Seguro que desea eliminarle este rol?")){
	    			sendAjax("/groups/{{group.slug}}/setRole",
	    				{"role":role, "uid": uid, "remove": 1},"",callbackRemoveRole)
	    		}
	    		else{
	    			checkbox.attr("checked","checked")
	    		}
	    	}
	    }
	    function deleteInvitation(e){
	    	e.preventDefault()
	        if(confirm("Realmente desea eliminar la invitación a este Usuario"))
	        {
	            elem = $(this)
	            sendAjax(
	                "/groups/deleteInvitation",
	                {"id_inv":$(this).attr("data-invitation")},
	                "#load-member-actions",
	                function(data){
	                    if(data['deleted']){
	                        $(elem).parent().animate({"height":0},"slow",function(e){
	                            $(this).parent().fadeOut()
	                            setAlertMessage("Invitaci&oacute;n cancelada",data['message'])
	                        });
	                    }
	                    else{
	                        setAlertError("Error","No se pudo elimnar el Usuario. Recarga la p&aacute;gina e intenta de nuevo")
	                    }
	                }
	                )
	        }
	    }
	    function showIconAddMemberOnHover(){
	        // mostrar flecha sobre usuario
	        $(".user-li").hover(
	            function(){
	                $(this).find("i").removeClass("hidden")
	            },
	            function(){
	                $(this).find("i").addClass("hidden")
	        })
	    }
	    function appendMemberToList(data){//Muestra la lista de posibles miembros a agregar
	        if(data["username"]){//es usuario de la base de datos
	            user_to_invite = data['mail']+" ("+data['username']+")";
	            if(user_to_invite.length > MAX_LENGTH)
	                p="..."
	            $("#search-result").html(
	                "<li class='user-li'>"+
	                "<a href='#invite-user' data-email='"+data['mail']+"' data-username='"+data['username']+"' >"+
	                "<img class='img30' src='"+data['gravatar']+"' alt='"+data['username']+"' />"+
	                user_to_invite.substring(0,MAX_LENGTH)+p+
	                '<i class="icon-accept pull-right icon-ok icon-white hidden"></i>'+
	                "</a>"+
	                "</li>"
	                )
	        }
	        else{//No es usuario de la base de datos
	            if(data['mail'].length > MAX_LENGTH)
	                p="..."
	            $("#search-result").html(
	                "<li class='user-li'>"+
	                "<a href='#' data-email='"+data['mail']+"' data-username='"+data['username']+"'>"+
	                "<img class='img20' src='/static/img/user_default.png' alt='"+data['mail']+"' />"+
	                data['mail'].substring(0,MAX_LENGTH)+p+
	                '<i class="icon-accept pull-right icon-ok icon-white hidden"></i>'+
	                "</a>"+
	                "</li>"
	                )
	        }
	        showIconAddMemberOnHover()//muestra icono "onHover" de la lista de miembros buscados
	    }
	    function invitationResult(data){//Resultados de la invitacion (agrega si TRUE, error si False)
	        if(data['invited']){    //USUARIO INVITADO
	            setAlertMessage("Invitado",data['message'])
	            $("#table-roles").append(
	            	'<tr><td>'+
						'<div class="username-info">'+
	                        '<img style="width:20px" src="'+data['gravatar']+'" alt="">'+(data['email']).substring(0,30)+' (pendiente)'+
	                    '</div>'+
					'</td>'+
					'<td class="t-a-c"><label><input type="checkbox"></label></td>'+
					'<td class="t-a-c"><label><input type="checkbox"></label</td>'+
					'<td class="t-a-c"><label><input type="checkbox"></label</td>'+
					'<td class="t-a-c">'+
						'<a href="#" class="remove-invitation'+data['iid']+'" data-invitation="'+data['iid']+'" title="Eliminar invitaci&oacute;n"><i class="icon-remove"></i></a>'+
					'</td></tr>'
	            )
	            showIconCloseOnHover()
	            $(".remove-invitation"+data['iid']).on('click', deleteInvitation)
	            $("#newmember").val("")
	        }else{//EL USUARIO YA ESTA INVITADO
	            if(data["message"]){
	                setAlertError("Informaci&oacute;n","("+data['email']+") "+data['message'])
	            }
	            else{
	                //si no hay mensaje, error desconocido
	                if(data["error"]){
	                	setAlertError("Ups! Algo sali&oacute; mal :(",data['error'])
	                }
	                else{
	                	setAlertError("Ups! Algo sali&oacute; mal :(","Por favor recarga la p&aacute;gina e intenta de nuevo")
	                }
	            }
	        }
	    }
	    function sendInvitationOnClick(){//escucha el evento click para agregar al usuario al grupo
	        $(".user-li > a").on("click",function(e){
	            e.preventDefault();
	            var mail = $(this).attr("data-email");
	            var uname = $(this).attr("data-username");
	            var group_id = $("#group_id").val();
	            var group_name = $("#group_name").val();
	            sendAjax("/groups/setInvitation",{"pk":group_id, "mail": mail},
	                     "",invitationResult);
	            $(this).parent().fadeOut()
	            $("#newmember").focus()
	        })
	    }
	    function listMembers(data){//lista los usuarios disponibles a invitar
	        if(data){
	            p="";
	            if(data["mail_is_valid"]){//el email valido, o el usuario es existente
	                appendMemberToList(data)//Muestra la lista de posibles miembros a agregar
	                sendInvitationOnClick()//escucha el evento click para agregar al usuario al grupo
	            }
	            else{//el correo es invalido o no hay resultados de usuarios existentes
	                $("#search-result").html("<li style='list-style:none'>"+
	                                            "<a href='#'>"+("No hay resultados").substring(0,MAX_LENGTH)+
	                                            "</a>"+
	                                        "</li>")
	            }
	        }else{//error en el server
	            setAlertError("Error en el servidor","Lo sentimos, algo sali&oacute; mal en el servidor, no es tu culpa<br><br>Gracias por darte cuenta, trataremos de repararlo.")
	        }
	    }
	    function searchMember(e){//INVITACIONES MAIN 
	        // if(e.keyCode==13){
	            var user=$("#newmember").val()
	            sendAjax("/groups/getMembers",{search:user},"#load-member",listMembers)
	        // }
	    }
	    function showIconCloseOnHover(){
	        $(".list-member-item").hover(function(){  
	            $(this).find("i.icon-remove").show(10)  
	        },function(){                      
	            $(this).find("i.icon-remove").hide(30)
	        })
	    }
	    $("td input[type='checkbox']").on("click", setRole);//INVITACIONES MAIN 
	    $("#newmember").on("keyup",searchMember);//INVITACIONES MAIN 
	    $(".remove-invitation").on('click', deleteInvitation);//Elimina invitaciones pendientes
	    $("#add-member").on('click focus', function(e) {//dar FOCO al input para buscar miembros
	        $(this).next("#add-member-menu").addClass("disblock");
	        $("#newmember").focus()//give the focus to the input to search members
	    });
	    $("#close-add-member").on("click",function(e){//boton cerrar dropdown
	        $(this).parent().parent().removeClass("disblock");//Close the dropdown menu to add members
	    });
	});
</script>
{% endblock %}