{% extends "base.html" %}
{% block TITLE %}Grupos{% endblock %}

{%block body%}
<article>
    <header >
        <div class="row-fluid">
            <div class="col-md-1">
                <div class="menu-icons icons-page"></div>
                <h3 class="">Grupos</h3>
            </div>
            <div class="offset2 btnSup">
                <a href="/groups/new" class="btn">
                    <span class="glyphicon glyphicon-plus"></span> Crear Grupo
                </a>
            </div>
        </div>
    </header>
    <hr>
    {% if invitations %}
    <section id="invitations" class="white-box-container">
        <h4>Invitaciones pendientes a Grupos</h4>
        <hr>
        <ul class="list-unstyled">
            {% for inv in invitations %}
            <li class="bb" id="group-{{inv.id_group.slug}}" >
                <span class="notification-text">
                    <strong>{{inv.id_user.first_name|lower|capfirst}}</strong> te invit&oacute; al grupo <a href="/groups/{{inv.id_group.slug}}">{{inv.id_group.name|lower|capfirst}}</a> · 
                    <time datetime="{{reunion.date_joined|date:'c'}}">El {{inv.date_joined}}</time>
                </span>
                <div class="buttons">
                    <button type="button" data-invitation="s{{inv.id}}" class="accept-inv btn btn-small btn-info">
                        Aceptar 
                        <span class="load"></span>
                    </button>
                    <button type="button" data-invitation="n{{inv.id}}" class="accept-inv btn btn-small">
                        Cancelar
                        <span class="load"></span>
                    </button>
                    <div class="pull-right load"></div>
                </div>

            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    <div id="content-container" class="row-fluid">
        <section id="notifications" class="col-md-6 white-box-container">
                <h4 class=" ml50" title="Pertenezco al grupo. Puedo ver actas, crear reuniones o tener permisos sobre el grupo." >Soy miembro</h4>
                <hr>
                <ul id="group-list" class="nav onOver">
                    {% for gr_rel in groups %}
                    <li class="{%if gr_rel.id_group.is_pro%}selected-group{%endif%}">
                            <a href="/groups/{{gr_rel.id_group.slug}}" class="">
                                <img src="{{ STATIC_PREFIX }}{{gr_rel.id_group.img_group}}" alt="{{gr_rel.id_group.name}}"/>
                                {{gr_rel.id_group.name}}
                                <span class="pull-right roles">
                                    {%if not gr_rel.id_group.is_pro%}
                                    <span class="free-group"><i class="icon-flag"></i></span>
                                    {%else%}<span class="label label-info">Pro</span>
                                    {%endif%}
                                    {% if gr_rel.is_admin%}<i title="Soy administrador" class="icon-wrench"></i>{%endif%}
                                    {% if gr_rel.is_approver%}<i title="Soy aprobador"  class="icon-thumbs-up"></i>{%endif%}
                                    {% if gr_rel.is_secretary%}<i title="Soy secretario"  class="glyphicon glyphicon-pencil"></i> {%endif%}
                                </span>
                            </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="icons-info">
                    <span>Info:</span>
                    <span title="El usuario pude agregar usuarios y roles"><i class="icon-wrench"></i> Administrador</span>
                    <span title="Tiene permisos de redactar actas"><i class="glyphicon glyphicon-pencil"></i> Redactor</span>
                    <span title="Grupo Free"><i class="icon-flag"></i> Grupo Free</span>
                </div>
        </section>
        <section class="white-box-container col-md-6">
                <h4 title="Grupos que administro pero no pertenzco. Puedo administrar el grupo, pero no puedo ver las actas ni crear reuniones.">&Uacute;nicamente administro</h4>
                <hr>
                <ul id="group-list" class="nav onOver">
                    {% for gr_rel in admin_groups %}
                        <li class="">
                            <a href="/groups/{{gr_rel.id_group.slug}}">
                                <img src="{{ STATIC_PREFIX }}{{gr_rel.id_group.img_group}}" alt="{{gr_rel.id_group.name}}"/>
                                {{gr_rel.id_group.name}}
                                <div class="pull-right roles">
                                    {% if gr_rel.is_admin%}<i title="Soy administrador" class="icon-wrench"></i>{%endif%}
                                    {% if gr_rel.is_approver%}<i title="Soy aprobador"  class="icon-thumbs-up"></i>{%endif%}
                                    {% if gr_rel.is_secretary%}<i title="Soy secretario"  class="glyphicon glyphicon-pencil"></i> {%endif%}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
        </section>
    </div>
</article>
{%endblock%}

{%block style%}
<style>
    #invitations li{height: auto;padding: 6px;}
    .free-group{font-size: 14px;color: #555}
    .buttons{display: inline;}
    .btnSup{
        margin-top: 10px;
    }
    div > section > ul li a{
        display: block;
    }
    section > ul li{
        overflow: hidden;
    }
    .buttons-edit{
        margin-top: 5px;
    }
    .colorText{
        color:#555;
        overflow: hidden;
        width: 50px;
    }
</style>
{% endblock %}

{% block js %}
<script>
    $(document).on("ready",function() {
        $("h4, i").tooltip();
        $("#groups").addClass("menu-active");
        $("#groups .navbar-item").addClass("navbar-item-hover");
        $("#groups .navbar-button-propierties").css({"height":"15px"}, 100);
        
        if (getUrlVars()){
            var group = getUrlVars()['group']
            // $("#group-" + group).css({"background-color":"rgba(255,252,185, 0.7)"})
            $("#group-" + group).addClass("selected-group")
        }

        $("#menu-organizations").addClass("active")
        $(".button button").click(function(e){
            e.preventDefault()
            if($(this).attr("data-action")!="editar")
                if(confirm("Seguro que quieres elimiar el grupo?")){
                    $(this).parent().parent().parent().parent().fadeOut(1600)
                    setAlertMessage("Grupo eliminado","" )
                }
            }
        );

        function acceptInvitation(element, accept){
            sendAjax(
                "/groups/acceptInvitation",
                {"i_id":accept},
                "",
                function(data){
                    if (data["accepted"]){
                        $("#group-list").prepend(
                            '<li class="">\
                                <a href="'+data["group"]["slug"]+'">\
                                    <img src="{{ STATIC_PREFIX }}'+data["group"]["img_group"]+'" alt=""/>'+
                                    data["group"]["name"]+
                                '</a>\
                            </li>'
                            );
                        $(element).parent().parent().slideUp(900,function(){
                            $(this).empty().html(
                            "Ahora perteneces al grupo "+
                                "<a href='"+data["group"]["slug"]+"'>"+data["group"]["name"]+"</a>"
                            ).fadeIn();
                        });
                        setAlertMessage("Invitaci&oacute;n a un nuevo grupo",
                        "Ahora puedes acceder al grupo"+data["group"]["name"]+".")
                    }
                    else{
                        var actual2 = parseInt($("#inv-count").text())
                        actual2--
                        $("#inv-count").text(""+actual2)
                        if(data["canceled"]){
                            $(element).parent().parent().slideUp(900,function(){
                                $(this).empty()
                            })
                            setAlertError("Error", data['message'])
                        }else{
                            $(element).parent().parent().slideUp(900,function(){
                                $(this).empty().html(
                                "Cancelaste la invitaci&oacute;n para unirte al grupo "+data["group"]["name"]+"."+
                                    "<br>"+
                                    "Si lo hiciste por error comunicate con el administrador del grupo para "+
                                    "obtener una nueva invitaci&oacute;n."+
                                    "<hr>"
                            ).fadeIn()
                            })
                            setAlertMessage("Invitaci&oacute;n a un nuevo grupo",
                                "Haz rechazado la invitaci&oacute;n")
                        }
                    }
                }); // send Ajax
        }
        $(".accept-inv").on("click",function(e){
            e.preventDefault();
            $(this).attr("disabled", "disabled");
            var accept = $(this).attr("data-invitation")
            if(accept.substring(0,1)=="n"){
                if(confirm("¿Seguro que no quieres ser parte de este grupo?")){
                    acceptInvitation($(this), accept)
                }
                else{
                    $(this).attr("disabled", false);
                }
            }else{
                acceptInvitation($(this), accept)
            }
        })
    });

</script>
{% endblock %}
