{% extends "website/layout.html" %}
{% block TITLE %}Actarium - Mis Grupos{% endblock %}

{%block body%}
<article>
    <div class="row-fluid">
        <h2>Tus Grupos</h2>
        <!-- <div class="btnSup">
            <a href="/groups/new" class="btn btn-large"><i class="icon-book"></i>Crear Grupo</a>
        </div> -->
        <hr>
        <section class="row-fluid">
            <ul class="nav onOver span12">
                {% for group in groups %}

                <li class="img-rounded">

                    <a class="" href="/groups/{{group.slug}}">
                        <div class="">
                            <img src="{{ STATIC_PREFIX }}{{group.img_group}}" alt="{{group.name}}" />
                            <span class="groupInfo">{{group.name|slice:"30"|lower|capfirst}}</span>
                            <span class="colorText"> - {{group.description|slice:"80"|safe|lower|capfirst}}</span>


                            <div class="pull-right button">
                                <button data-action="editar" class="btn_block"><i class="icon-pencil"></i></button>
                                <button data-action="eliminar" class="btn_block"><i class="icon-remove"></i></button>
                            </div>
                        </div>
                    </a>   


                </li>

                {% endfor %}
            </ul>
            
        </section>

    </div>
</article>
{%endblock%}

{%block style%}
<style>
    .btnSup{
        margin-top: 10px;
    }
    section > ul li a{
        display: block;
    }
    section > ul li{
        overflow: hidden;
    }
    .button{
        margin-top:10px;
        margin-right:10px;

    }
    .colorText{
        color:#555;
        overflow: hidden;
        width: 50px;
    }
    
</style>
{% endblock %}

{% block js %}
<script>
    
    $("#groups").addClass("menu-active")
    $("#groups .navbar-item").addClass("navbar-item-hover");
    $("#groups .navbar-button-propierties").css({"height":"15px"}, 100);
          
    $("#menu-organizations").addClass("active")
    $(".button button").click(function(e){
        e.preventDefault()
        if($(this).attr("data-action")!="editar")
            if(confirm("Seguro que quieres elimiar el grupo?")){
                $(this).parent().parent().parent().parent().fadeOut(1600)
                setAlertMessage("Grupo eliminado","" )
            }
        
    }
)

</script>
{% endblock %}
