{% extends "website/layout.html" %}
{% block TITLE %}Actarium - Actas{% endblock %}

{%block body%}
<article>
    <div class="containterMargin">
        <h2>Crear nuevo grupo</h2>
        <p>Pon un nombre y una descripci&oacute;n a tu grupo y empieza a disfrutar de los
            beneficios de <strong>ACTARIUM</strong></p>
        <form class="form-horizontal" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <table>{{newGroupForm.as_table}} 

                <tr><td></td><td><button type="submit" class="btn btn-success">Guardar</button>
                        <a href="/groups" class="btn btn-link">Mis Grupos</a></td></tr>
            </table>


        </form>
    </div>
</article>
{%endblock%}
{%block style%}
<style>
    #id_name{
        width:90%;
    }
    
    .form-horizontal table{
        margin: auto;
        width: auto;
    }

    table td .btn{
        margin-top:10px;
    }
</style>
{%endblock%}

{% block js %}
<script>$("#menu-organizations").addClass("active")

$('#id_name').popover({title:"Nombre Organizaci&oacute;n", content:"Este nombre se utilizar&aacute; como cabecera a la hora de mostrar e imprimir sus actas."}).click();
$(".form-horizontal td ul").addClass("btn-group").attr({"data-toggle":"buttons-radio"})
$(".form-horizontal td ul li").addClass("btn")
</script>


{% endblock %}