{% extends "website/layout.html" %}
{% block TITLE %}Crear Acta{% endblock %}
{% load gravatartag %}
{%block body%}
<article>
    <div class="containterMargin">
        <h2>
            Crear nueva acta para el grupo <a href="/groups/{{group.slug}}">{{group.name}}</a>
        </h2>
        <strong>
            {%if reunion%}
                de la reuni&oacute;n de <a href="/groups/calendar/{{reunion.date_convened|date:"Y-m-d"}}">{{reunion.date_convened|date}}</a> del grupo <a href="/groups/{{group.slug}}">{{reunion.id_group.name}}</a>
            {%endif%}
        </strong>
        <hr>
        <p>LLena el siguiente formulario para agregar una nueva acta en <strong>ACTARIUM</strong></p>
        {% if minutes_saved.error %}
            <div class="alert alert-error">
                {%if minutes_saved.error == "e0"%}
                    Error, el formulario no es valido
                {%endif%}
                {%if minutes_saved.error == "e1"%}
                    Error, al menos un (1) miembro debe ser seleccionado
                {%endif%}
                {%if minutes_saved.error == "e2"%}
                    Error, este grupo tiene un acta con el mismo c&oacute;digo
                {%endif%}
                {%if minutes_saved.error == "e3"%}
                    Ha ocurrido un error, intenta de nuevo mas tarde.
                {%endif%}
            </div>
        {% endif %}
        <form class="form-horizontal" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <th><label>&Uacute;ltimo c&oacute;digo:</label></th>
                    <td>
                        {% if last != "---" %}
                        <a href="/groups/{{group.slug}}/minutes/{{last.code}}" target="_blank">
                            {{last.code}} del {{last.date_created}}
                        </a>
                        {% else%}
                         Esta es tu primer Acta, recomendamos: 001, A001, etc.
                        {% endif %}
                    </td>
                </tr>
                {{ newMinutesForm }}
                <tr>
                    <td>
                        Confirmar Asistencia:
                    </td>
                    <td class="member-list">
                         {%if reunion%}
                            Miembros que confirmaron asistencia a la reuni&oacute;n: del 
                            <a href="/groups/calendar/{{reunion.date_convened|date:"Y-m-d"}}" target="_blanck">{{reunion.date_reunion|date}}</a>
                            <input type="hidden" name="reunion_id" value="{{reunion.id}}" >
                         {%endif%}
                            <ul class="unstyled">
                            {% for member in members_selected%}
                                <li>
                                    <div class="">
                                        <label for="user{{member.id_user}}">
                                            <img style="width:20px"  src="{{member.id_user.email|showgravatar:'20'}}">
                                            {{member.id_user.username}}
                                            <input type="checkbox" id="user{{member.id_user}}" name="members[]" checked value="{{member.id_user.id}}" />
                                        </label>
                                    </div>
                                </li>
                            {% endfor%}
                            {% for member in members_no_selected %}
                                <li>
                                    <div class="">
                                        <label for="user{{member.id_user}}">
                                            <img style="width:20px"  src="{{member.id_user.email|showgravatar:'20'}}">
                                            {{member.id_user.username}}
                                            <input type="checkbox" id="user{{member.id_user}}" name="members[]" value="{{member.id_user.id}}" />
                                        </label>
                                    </div>
                                </li>
                            {% endfor%}
                            </ul>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-info">Guardar</button>
                        <a href="/groups/{{group.slug}}" class="btn btn-link">Volver a grupo</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</article>
{%endblock%}
{%block style%}

<style>
    .form-horizontal table{
        margin: auto;
        width: auto;
    }

    table td .btn{
        margin-top:10px;
    }
    .member-list{
        /*border: solid thin;*/
        padding: 10px 0;
    }
    .member-list ul li{
        padding: 5px;
    }
    .member-list ul li:hover{
        background-color: #dadada;
    }
    label{
        cursor: pointer;
    }
</style>
<link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.8.23/themes/smoothness/jquery-ui.css" />
<style >
    /*datetimepicker*/
    .ui-timepicker-div .ui-widget-header { margin-bottom: 8px;}
    .ui-timepicker-div dl { text-align: left; }
    .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
    .ui-timepicker-div dl dd { margin: 0 10px 0 65px; padding: 0; }
    .ui-timepicker-div td { font-size: 90%; }
    .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

    .ui-timepicker-rtl{ direction: rtl; }
    .ui-timepicker-rtl dl { text-align: right; }
    .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

    div.ui-datepicker{
     font-size:12px;
     z-index: 9999 !important;
    }
    select{
        width: 100%;
    }
    #social-buttons{width: 104px;}
</style>

{%endblock%}

{% block js %}
<script src="http://code.jquery.com/ui/1.8.24/jquery-ui.min.js"></script>
<script>$("#menu-organizations").addClass("active")</script>
<script src="{{STATIC_PREFIX}}js/vendor/jquery-ui-sliderAccess.js"></script>
<script src="{{STATIC_PREFIX}}js/vendor/jquery-ui-timepicker-addon.js"></script>
<script src="{{STATIC_PREFIX}}js/vendor/tiny_mce/tiny_mce.js"></script>
<script src="{{STATIC_PREFIX}}js/textareas.js"></script>

<script type="text/javascript" >
   $('.date-pick').datetimepicker({
        dateFormat: 'yy-mm-dd',
        controlType: 'select',
        ampm: true
    }).css({"z-index":"1034"});
</script>
{% endblock %}