{% extends "website/layout.html" %}
{% block TITLE %}Actarium - Actas{% endblock %}



{%block body%}
<article>
    <div class="containterMargin">
    <h2>Crear nueva acta </h2>
    {{ date_reunion }}  -  {{ agenda }}
    <p>LLena el siguiente formulario para agregar una nueva acta en <strong>ACTARIUM</strong></p>
    <form class="form-horizontal" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <table>{{ newReunionForm }} 

            <tr><td></td><td><button type="submit" class="btn btn-success">Guardar</button>
                    <a href="/groups" class="btn btn-link">Mis actas</a></td></tr>
        </table>


    </form>
    </div>
</article>
{%endblock%}
{%block style%}

<style>
    .form-horizontal table{
        margin: auto;
        width: auto;
    }

    table td .btn{
        margin-top:10px;
    }
</style>
<link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.8.23/themes/smoothness/jquery-ui.css" />
<style >
	/*datetimepicker*/
	.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	.ui-timepicker-div dl { text-align: left; }
	.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
	.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
	.ui-timepicker-div td { font-size: 90%; }
	.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
	
	.ui-timepicker-rtl{ direction: rtl; }
	.ui-timepicker-rtl dl { text-align: right; }
	.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
</style>

{%endblock%}

{% block js %}
<script src="http://code.jquery.com/ui/1.8.24/jquery-ui.min.js"></script>
<script>$("#menu-organizations").addClass("active")</script>
<script src="{{STATIC_PREFIX}}js/vendor/jquery-ui-sliderAccess.js"></script>
<script src="{{STATIC_PREFIX}}js/vendor/jquery-ui-timepicker-addon.js"></script>
<script src="{{STATIC_PREFIX}}js/vendor/tiny_mce/tiny_mce.js"></script>
<script src="{{STATIC_PREFIX}}js/textareas.js"></script>

<script type="text/javascript" >
//$('.date-pick').datepicker({
	//	dateFormat: 'yy-mm-dd'
//	});
$('.date-pick').datetimepicker({
	dateFormat: 'yy-mm-dd',
	controlType: 'select',
	ampm: true
});

</script>
{% endblock %}