{% extends "website/layout.html" %}
{% block TITLE %}Grupo {{group.name}} {% endblock %}
{% load gravatartag %}
{%block body%}
<article>
    <header >
        <div class="row-fluid">
            <div class="span8">
                <img src="{{ STATIC_PREFIX }}{{group.img_group}}"/>
                <h3>{{group.name}}<strong> - {{group.description}}</strong></h3>
                <!-- <a href="#" class="btn btn-link">Editar grupo</a> -->
            </div>
            <div class="span4 btnSup">
                <a href="/groups/{{group.slug}}/newMinutes" class="btn btn-small">
                    <i class="icon-plus"></i> Crear acta</a>
                <a href="/groups/newReunion/{{ group.slug}}" class="btn btn-small">
                    <i class="icon-calendar"></i> Convocar Reunion</a>
                {%if is_admin%}
                <a href="/groups/{{ group.slug}}/admin" class="btn btn-small">
                    <i class="icon-wrench"></i> Configuraci&oacute;n</a>
                {%endif%}
            </div>
        </div>
    </header>
    <hr/>
    <div class="row-fluid">
        <section class="span6">
            <h4>Actas</h4> 
            <ul>
                {%for minute in minutes%}
                <li>
                    <a href="/groups/{{group.slug}}/minutes/{{minute.code}}">
                        Acta #{{minute.code}}
                        <span>{{minute.date_created|date}}</span>
                    </a>
                </li>
                {%endfor%}
                {%if not minutes%}
                <li>Este grupo no tiene actas</li>
                {%endif%}
            </ul>
        </section>
        <section class="span5 fix_btn">
            <h4>Miembros <span id="load-member-actions"></span></h4> 
            <ul class="nav list-members">
                {%for member in members%}
                <li class="list-member-item">
                    <div class="">
                        <img style="width:20px" src="{{member.id_user.email|showgravatar:'20'}}" alt="{{member.id_user}}">
                        {{member.id_user.first_name}} {{member.id_user.last_name}}
                        {%if member.id_user == user%}
                        (yo)
                        {%else%}
                        ({{member.id_user}})
                        {%endif%}
                    </div>
                </li>
                {%endfor%}
                {%for member in members_pend%}
                <li class="list-member-item" ><!--Usuarios pendientes-->
                    <div class="">
                        <img style="width:20px" src="{{member.email_invited|showgravatar:'20'}}" alt="{{member.id_user.username}}">
                        <span>{{member.email_invited}}</span> (pendiente)
                    </div>
                    <span class="remove-invitation" data-invitation="{{member.id}}" title="Eliminar invitaci&oacute;n"><i style="display:none" class="icon-remove"></i></span>
                </li>
                {%endfor%} 
            </ul>

        </section>
    </div>
</article>
{%endblock%}
{% block js %}
<script>
</script>
{% endblock %}
{%block style%}
<style>
    
</style>
{%endblock%}