{% extends "website/layout.html" %}
{% block TITLE %}Actarium - {{TITLE}}{% endblock %}

{%block body%}
<article>
    <header >
        <div class="row-fluid">
            <div class="span8">
                <img src="{{ STATIC_PREFIX }}{{group.img_group}}"/>
                <h3>{{group.name}}</h3>
                <a href="#" class="btn btn-link">Editar grupo</a>
            </div>
            <div class="span4 btnSup">
                <a href="/groups/newMinutes/{{ group.slug}}" class="btn btn-info btn-small">Crear acta</a>
                <a href="/groups/newReunion/{{ group.slug}}" class="btn btn-info btn-small">Convocar Reunion</a>
            </div>
        </div>
    </header>
    <hr/>
    <div class="row-fluid">
        <section class="span6">
            <h4>Actas</h4> 
            <ul>
                {%for minute in minutes%}
                <li>
                    <a href="#">
                        Acta #{{minute.code}}
                        <span>{{minute.date_created|date}}</span>
                    </a>
                </li>
                {%endfor%}
                {%if not minutes%}
                <li>Este grupo no tiene actas</li>
                {%endif%}
            </ul>
        </section>
        <section class="span5 fix_btn">
            <h4>Miembros</h4>
            <ul class="nav list-members">
                {%for member in members%}
                    <li>
                        <i class="icon-user"></i>
                        {{member.id_user.first_name}} {{member.id_user.last_name}}
                        {%if member.id_user == user%}
                        (yo)
                        {%endif%}
                    </li>
                {%endfor%}
                {%for member in members_pend%}
                    <li><!--Usuarios pendientes-->
                        <i class="icon-user"></i>
                        <span>{{member.email_invited}}</span> (pendiente)
                    </li>
                {%endfor%} 
            </ul>

            <div class="dropdown">
                <div class="btn btn-info dropdown-toggle" data-toggle="dropdown"  id="add-member">
                    Agregar miembro
                    <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li class="taling">
                        Miembros <div id="close-add-member" class="close pull-right icon-remove"></div>
                    </li>
                    <li>
                        <input type="hidden" id="group_name" value="{{group.name}}">
                        <input type="hidden" id="group_id" value="{{group.id}}">
                        <input type="text" placeholder="Nombre de usuario o correo" id="newmember">
                        <span id="load-member"></span>
                    </li>
                    <li>
                        <p>Escribe el nombre de usuario o correo electr&oacute;nico del nuevo miembro del grupo.</p>
                    </li>
                    <li>
                        <ul id="search-result">
                        </ul>
                    </li>
                </ul>
            </div><!-- dropdown -->
        </section>
    </div>
</article>
{%endblock%}
{% block js %}
<script>
    $("#add-member").on('click focus', function(e) {
        $(this).next(".dropdown-menu").addClass("disblock")
        $("#newmember").focus()
    });

    $("#close-add-member").on("click",function(e){
        $(this).parent().parent().removeClass("disblock")
    });
    $("#newmember").on("keyup",function(e){
        if(e.keyCode==13){
            p="";
            var user=$("#newmember").val()
            sendAjax(
                "/groups/getMembers",
                {search:user},
                "#load-member",
                function(data){
                    console.log(data)
                    if(data){
                        if(data["mail_is_valid"]){
                            if(data["username"]){
                                user_to_invite = data['mail']+" ("+data['username']+")";
                                if(user_to_invite.length > 27)
                                    p="..."
                                $("#search-result").html(
                                    "<li class='user-li'>"+
                                        "<a href='#invite-user' data-email='"+data['mail']+"' data-username='"+data['username']+"' >"+
                                            "<img class='img30' src='"+data['gravatar']+"' alt='"+data['username']+"' />"+
                                            user_to_invite.substring(0,27)+p+
                                            '<i class="icon-accept pull-right icon-ok icon-white hidden"></i>'+
                                        "</a>"+
                                    "</li>"
                                    )
                            }
                            else{
                                if(data['mail'].length > 27)
                                    p="..."
                                $("#search-result").html(
                                    "<li class='user-li'>"+
                                        "<a href='#' data-email='"+data['mail']+"' data-username='"+data['username']+"'>"+
                                            "<img class='img30' src='/static/img/user_default.png' alt='"+data['mail']+"' />"+
                                            data['mail'].substring(0,27)+p+
                                            '<i class="icon-accept pull-right icon-ok icon-white hidden"></i>'+
                                        "</a>"+
                                    "</li>"
                                )
                            }

                        }
                        else{
                            //no result
                            $("#search-result").html(
                                "<li style='list-style:none'>"+
                                    "<a href='#'>"+
                                        ("No hay resultados").substring(0,27)+
                                    "</a>"+
                                "</li>"
                            )
                        }
                    }else{
                        //error en el server
                    }
                    $(".user-li > a").on("click",function(e){
                        e.preventDefault();
                        var mail = $(this).attr("data-email")
                        var uname = $(this).attr("data-username")
                        var group_id = $("#group_id").val()
                        var group_name = $("#group_name").val()
                        sendAjax(
                            "/groups/setInvitation",
                            {"pk":group_id, "search": mail},
                            "#load-member",
                            function(data){
                                if(data['invited']){//USUARIO INVITADO
                                    setAlert("Invitado",data['message']+" al grupo "+group_name)
                                    $(".list-members").append(
                                        "<li style='list-style:none'>"+
                                            "<i class='icon-user'></i> "+
                                            "<span>"+(mail).substring(0,35)+"</span> (pendiente)"+
                                        "</li>"
                                    )
                                }else{//EL USUARIO YA ESTA INVITADO
                                    setAlert("Informaci&oacute;n","("+mail+") "+data['message'])
                                }
                            }
                        )
                    })
                    $(".user-li").hover(function(){
                            $(this).find("i").removeClass("hidden")
                        },
                        function(){
                            $(this).find("i").addClass("hidden")
                    })
                }
            )//sendAjax
        }
    });
</script>
{% endblock %}
{%block style%}
<style>
    ul.dropdown-menu li{
        margin-bottom: 10px;
    }
    .icon-remove{
        margin: 5px;
    }
    ul#search-result{
        margin-left: 0;
    }
    ul#search-result li span{
        font-size: 13px;
        margin-left: 13px;
        color: gray;
    }
    .taling{
        text-align: center;
    }
    .list-members span{
        color: gray;
    }
    li a span{
        color:black;
    }
    li p{
        color:gray;
        font-size: 12px;
        line-height:  1;
    }
    article{
        min-height: 500px;
        overflow: hidden;
    }
    article header img{
        margin-top:4px;
        float:left;
    }
    article header h3{
        margin:0;
        margin-left:35px;
    }
    #add-member{
        position: static;
    }
    #newmember{
        margin: 3px 10px;
    }
    .dropdown.dropdown-menu{
        text-decoration: none;
        margin: 5px 20px;

    }
    .dropdown-menu{
        width:280px;
    }
    .dropdownmenu  * li{
        list-style:none;
        text-decoration: none;
    }
    .btnSup{
        margin-top: 8px;
    }
</style>
{%endblock%}