{% extends "website/layout.html" %}
{% block TITLE %}Acta {{minutes.code}} Grupo {{minutes.id_group.name}} {% endblock %}
{% load gravatartag %}
{%block body%}
<article>
    <header >
        <div class="row-fluid">
        	<div class="span12">
	        	<div class="menu-icons icons-page icon-groups"></div>
	        	<h3>
		        	<a href="/groups/{{group.slug}}">{{group.name}}
		        	</a>
		        	- Acta: {{minutes.code}}
		        </h3>
		    </div>
		    <div>
		    	<span>Fecha de creaci&oacute;n: {{minutes.date_created}}</span>
		    	
        		<a href="/groups/{{group.slug}}/roles-for-this-minutes" class="btn"><i class="icon-plus"></i> Crear acta</a>
	    			<form method="post" class="minutes-form-btn">
	    				{% csrf_token %}
	    				<input type='hidden' id="minutes-html-data" name="minutes-html-data" value="">
	    				<button type='submit' class="btn" ><i class="icon-file"></i> Generar PDF</button>
	    			</form>
		    </div>
	    </div>
    </header>
	<hr>
    <section class="row-fluid">
    	<ul class="pager hoja">
			<li class="previous {%if not prev %}disabled{%endif%}">
				<a href="{%if prev %}/groups/{{group.slug}}/minutes/{{prev.code}}{%else%}#{%endif%}">&larr; Anterior</a>
			</li>
			<li><a href="/groups/{{group.slug}}">Ver listado</a></li>
			<li class="next {%if not next %}disabled{%endif%}">
				<a href="{%if next %}/groups/{{group.slug}}/minutes/{{next.code}}{%else%}#{%endif%}">Siguiente &rarr;</a>
			</li>
		</ul>
		{{minute_template}}
    	<ul class="pager hoja">
			<li class="previous {%if not prev %}disabled{%endif%}">
				<a href="{%if prev %}/groups/{{group.slug}}/minutes/{{prev.code}}{%else%}#{%endif%}">&larr; Anterior</a>
			</li>
			<li><a href="/groups/{{group.slug}}">Ver listado</a></li>
			<li class="next {%if not next %}disabled{%endif%}">
				<a href="{%if next %}/groups/{{group.slug}}/minutes/{{next.code}}{%else%}#{%endif%}">Siguiente &rarr;</a>
			</li>
		</ul>
    </section>
    
	{% include "groups/siteToApprove.html" %}
	
</article>
{%endblock%}
{% block js %}
<script src="{{STATIC_PREFIX}}js/vendor/tiny_mce/tiny_mce.js"></script>
<!-- <script src="{{STATIC_PREFIX}}js/textareas.js"></script> -->
<script>
	$(document).on("ready",function(){
		$(".btn-approve").on("click",setApprove)
		$(".btn-no-approve").on("click",newAnnotation)
		$("#button-save").on("click",saveAnnotation)
		$('#minutes-html-data').val($('#data-for-pdf').html());
	});
	function callBackSign(data){
		console.log(data)
		$("#div-sign").fadeOut(300,function(){$(this).empty()})
		var u = $("#missing-"+data["user-id"]).html()
		$("#missing-"+data["user-id"]).fadeOut(300,function(){$(this).empty()})
		if(data['approved']==1){
			var l = $("#approved-list")
			if (l.html() == 0){
				l.empty()
			}
			l.append("<li>"+u+"</li>")
			setAlertMessage("Aprobado!", "Haz aprobado esta acta.")
		}
		if(data['approved']==2){
			var l = $("#no-approved-list")
			if(l.html()==0){
				l.empty()
			}
			l.append("<li>"+u+"</li>")
			setAlertMessage("No Aprobado!", "No haz aprobado esta acta.")
		}
	}
	function setApprove(e){
		e.preventDefault();
		$(this).attr({"disabled":"disabled"})
		var minutes_id = $(this).attr("data-minutes");
		var approved = parseInt($(this).attr("data-approve"));
		sendAjax(
			"/groups/setApprove",
			{"m_id":minutes_id, "approve": approved},
			"#btn-sign span",
			callBackSign
			)
	}
	function goToByScroll(element, callback){// Scroll
	    $('html,body').animate({
	        scrollTop: $(element).offset().top - 100},
	        'slow', callback);
	}
	function newAnnotation(e){
		e.preventDefault(e);
		tinyMCE.init({
	        theme : "simple",
	        mode : "textareas",
	        height : "80",
	        width : "70%",
	        content_css : "{{STATIC_PREFIX}}js/vendor/tiny_mce/themes/simple/skins/default/editorstyles.css",
		});
		$("#new-annotation").removeClass("hidden");
		goToByScroll("#new-annotation", function(){
			$("#new-annotation textarea").focus();
			tinyMCE.get('textarea-new-annotation').focus()}
		);
	}
	function saveAnnotation(e){
		var t = tinymce.get('textarea-new-annotation').getContent();
		var username = "{{user.first_name}} {{user.last_name}}";
		var gravatar = "{{ user.email|showgravatar:'32'}}";
		/*
		USAR TEMPLATES: MUSTACHE
		*/
		var params = {"annotation": t, "minutes_id": {{minutes.id}}}
		sendAjax("/groups/{{group.slug}}/add-new-annotation",params,"", function(data){
			if(data){
				// console.log(data)
				var m = '<div class="annotation">\
								<div class="user-gravatar pull-left">\
									<img class="size32 avatar" src="' + gravatar + '" alt="' + username + '" />\
								</div>\
								<div class="name-user-annotation">\
									<strong>' + username + '</strong>\
									· <time>Ahora mismo</time>\
								</div>\
								<div class="content-annotation">'+
									t +
								'</div>\
						</div>';
				$("#annotations").prepend("<li>" + m + "</li>");
				tinymce.get('textarea-new-annotation').setContent("");
			}
			else{
				setAlertError("Error", "Algo ocurri&oacute;");
			}
		});
	}
</script>
{% endblock %}

{% block style%}
<style>
	.content-annotation{margin-left: 40px}
	.comment-annotation p{font-size: 14px;}
	.name-user-annotation{margin-left: 40px}
	.name-user-annotation time{font-size: 14px;color: gray}
	.annotation{padding: 10px;}
	ul#annotations > li > div{margin-top: 25px;}
	#button-save{margin-top: 5px;}
	article header img{margin-top: 10px;}
	#annotations-approve{margin-top: 20px;}
</style>
{% endblock %}