{% load gravatartag %}
	
	{% if space_to_approve or is_secretary %}
    <section id="sign" class="hoja white-box-container">
    	<header>
    		<!-- <div><img src="{{STATIC_PREFIX}}/img/icon-writter.png"></div> -->
    		<div><img src="{{STATIC_PREFIX}}/img/groups/default.jpg"></div>
    		<h3>Comisi&oacute;n aprobatoria</h3>
    		<p>
    			<small>Listado de miembros asignados como comisi&oacute;n aprobatoria.</small>
    		</p>
    	</header>
		<hr>
		{% if my_attending%}
    		<div id="div-sign" class="alert alert-info">
	    		<strong>Tu voto: </strong>Apruebas &eacute;sta Acta?
		    	<a href="#approve" class="btn btn-info btn-approve" data-minutes="{{minutes.id}}" data-approve="1">
					<i class="icon-ok icon-white"></i> Si, apruebo <span></span>
				</a>
				<a href="#new-annotation" id="btn-no-approve" class="btn" data-minutes="{{minutes.id}}" data-approve="0">
					<i class="icon-comment"></i> No, Necesita correcci&oacute;n <span></span>
				</a>
			</div>
		{%endif%}
		<div class="box row-fluid mt20">
			<div class="span6">
				<strong>Lista de aprobación:</strong>
    			<ol id="approved-list" class="mt20">
					{% if approved_list == 0 %}0{%else%}
		    			{%for member in approved_list%}
		    				<li id="approved-{{member.id_user.id}}">
		    					<img style="width:20px" src="{{member.id_user.email|showgravatar:'20'}}">
		    					{{member.id_user.first_name}} {{member.id_user.last_name}}
		    				</li>
		    			{%endfor%}
		    		{% endif %}
	    		</ol>
			</div>
			<div class="span6">
				<strong>Lista de miembros que no aprobaron:</strong>
				<ol id="no-approved-list" class="mt20">
    				{% if no_approved_list == 0 %}0{%else%}
	    				{%for member in no_approved_list%}
		    				<li  id="no-approved-{{member.id_user.id}}">
		    					<img style="width:20px" src="{{member.id_user.email|showgravatar:'20'}}">
		    					{{member.id_user.first_name}} {{member.id_user.last_name}}
		    				</li>
		    			{%endfor%}
	    			{% endif %}
	    		</ol>
			</div>
		</div>
		<div class="mt20">
			<strong class="mt20">Miembros faltantes por aprobar:</strong>
			{% if missing_approved_list == 0 %}0{%else%}
			<ol id="missing-list" class="mt20">
    			{%for member in missing_approved_list%}
    				<li id="missing-{{member.id_user.id}}">
    					<img style="width:20px" src="{{member.id_user.email|showgravatar:'20'}}">
    					{{member.id_user.first_name}} {{member.id_user.last_name}}
    				</li>
    			{%endfor%}
    		</ol>
    		{% endif %}
		</div>
	</section>
	<section class="hoja white-box-container" id="annotations-approve">
		<header>
    		<div><img src="{{STATIC_PREFIX}}/img/icon-writter.png" width="25px"></div>
    		<h3>Anotaciones</h3>
    		<p>
    			<small>Anotaciones y correcciones de la comisi&oacute;n aprobatoria.</small>
    		</p>
    	</header>
		<hr>
		<div id="new-annotation" class="hidden">
			<strong>Crear nueva anotaci&oacute;n:</strong>
			<textarea id="textarea-new-annotation" placeholder="Si crees que algo debe mejorarse en esta acta, por favor env&iacute;ale una anotaci&oacute;n al redactor." autofocus></textarea>
			<button class="btn btn-info" id="button-save">Publicar</button>
		</div>
		<div class="mt20">
			<ul id="annotations" class="mt20 unstyled">
				{%for annon in annotations%}
				<li>
					<div class="annotation">
						<div class="user-gravatar pull-left">
							<img class="size32 avatar" src="{{ annon.id_user.email|showgravatar:'32'}}" alt="{{annon.id_user.first_name}}" />
						</div>
						<div class="name-user-annotation">
							<strong>{{annon.id_user.first_name}} {{annon.id_user.last_name}}</strong>
						</div>
						<div class="content-annotation">{{annon.annotation_text|safe}}
						</div>
						
					</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</section>
	{%endif%}