#minutes{font-size: 16px;line-height: 1.5;text-align: justify; }
#minutes .strong{font-weight:bold;}

#headerContent{font-size: 13px;}
#minutesContent{}
#footerContent{}
table tr td input[type=password], table tr td input[type=text]{width: auto;padding: 2px;}
.table-no-mb.table-bordered{margin-bottom: 0;border-bottom: none;}
.table-no-mb.table-bordered>tbody>tr>th, .table-no-mb.table-bordered>tbody>tr>td{border-bottom: none;}

#minutesContent .border{border-top: 4px solid blue;border-bottom-color: #ddd;border-bottom-width: 1px;border-bottom-style: solid; }
#minutesContent .caja-con-titulo{display: block;margin-top: 40px;}
#minutesContent .caja-con-titulo .caja-titulo{font-weight: bold;padding: 5px;border-right: solid thin #ddd;border-top: solid thin #ddd;border-left: solid thin #ddd;margin: 0;}
#minutesContent .caja-con-titulo .caja-contenido{border: solid thin #ddd;padding: 5px 7px;}
#minutesContent .table-header p{margin: 0;}
#footerContent p{line-height: 1;}
#minutesContent .mb {margin-bottom: -30px;}
#minutesContent .table-invisible {display: none;visibility: hidden;}
/*
.col-30{width: 30% !important;}
.col-33{width: 33.3% !important;}
.col-40{width: 40% !important;}
.col-50{width: 50% !important;}*/
.error-right{padding-top: 10px;}
.listado-firmas{padding: 10px;}
/*.members-list li{border-bottom: solid thin #aaa;margin-bottom: 15px;}*/
#id_location{width: 100%;}
.president{margin-top: 30px;}

.b{border:solid thin #ddd;}
.br{border-right:solid thin #ddd;}

.input-box input{margin-bottom: 4px;}

input[type="date"], input.date{padding: 0;padding-left: 4px; width: 140px;height: 22px;}
input[type="number"], input.number{width: 60px;display: inline-block;padding: 3px;padding-left: 4px; }
