{% load gravatartag i18n %}
<div id="topbar">
    <a href="/" id="topbar-btn-logo">
        <div class="topbar-logo-center"><div id="logo-actarium-p" class="sprites"></div></div>
    </a>
    <div id="topbar-group-name" class="">
        {% if group %}
        <div class="text-group-name">
            <ol class="breadcrumb">
              <li><a href="{{ group.organization.get_absolute_url }}">{{ group.organization.name }}</a></li>
              <li><a href="{{group.get_absolute_url}}" >{{group.name|title}}</a></li>
              <li class="active">{{ breadcrumb }}</li>
            </ol>
        </div>
        {% endif %}
    </div>
    {% if not user.is_authenticated %}
    <div id="btn-group-action" class="pull-right">
    </div>
    <div id="social-buttons" class="pull-right">
        <a href="https://www.facebook.com/actarium" target="_blank">
            <div class="sprites social-button" id="fb-but"></div>
        </a>
        <a href="https://www.twitter.com/actarium" target="_blank">
            <div class="sprites social-button" id="gp-but"></div>
        </a>
        <a href="https://plus.google.com/u/2/103573222326693941191/posts" target="_blank">
            <div class="sprites social-button" id="tt-but"></div>
        </a>   
    </div>
    {% else %}
    {% include "topbar_menus.html" %}
    {%endif%}
    <div id="ac-load"></div>
</div>