{% load gravatartag %}
{% load i18n %}
<div id="topbar">
    <a href="/" id="topbar-btn-logo">
        <div class="topbar-logo-center"><div id="logo-actarium-p" class="sprites"></div></div>
    </a>
    <div id="topbar-group-name" class="pull-left">
    {% if group %}
    <ol class="breadcrumb">
      <li><a href="{{ group.organization.get_absolute_url }}">{{ group.organization.name }}</a></li>
      <li> <a href="{{group.get_absolute_url}}" >{{group.name|title}}</a></li>
      <li class="active">{{breadcrumb}}</li>
    </ol>
    {% endif %}
    </div>
    {% if not user.is_authenticated %}
    <div id="btn-group-action" class="pull-right">
    </div>
    <div id="social-buttons" class="pull-right">
        <a href="https://www.facebook.com/actarium" target="_blank">
            <div class="sprites social-button" id="fb-but"></div>
        </a>
        <a href="https://www.twitter.com/actarium" target="_blank">
            <div class="sprites social-button" id="gp-but"></div>
        </a>
        <a href="https://plus.google.com/u/2/103573222326693941191/posts" target="_blank">
            <div class="sprites social-button" id="tt-but"></div>
        </a>   
    </div>
    {% else %}
    <div id="topbar-menu" class="dib pull-right">
        <div id="account-menu" class="btn-group pull-right">
            <div id="log-sup" class="topbar-btn dropdown-toggle" data-toggle="dropdown" title="Configuraci&oacute;n de cuenta">
                <span><img class="size22 avatar img-circle b" src="{{ user.email|showgravatar:'32'}}" alt="{{user.first_name}}" /></span>
                <span class="dinline">
                    {% if user.is_authenticated %}{{user.username}}{% else %}{% trans "Iniciar Sesi&oacute;n" %}{% endif %}
                </span>
                <span class="caret topbar-caret"></span>
            </div>
            <ul class="dropdown-menu">
                <li class="current-user">
                    <a href="/account">
                        <div class="content-box">
                            <img class="size32 avatar img-circle b" src="{{ user.email|showgravatar:'32'}}" alt="{{user.first_name}}" />
                            <span class="fullname">{{user.first_name}} {{user.last_name}}</span>
                            <small class="metadata">{% trans "Editar configuraci&oacute;n" %}</small>
                        </div>
                    </a>
                </li>
                <li><a href="/{{URL_PRIVACY}}">{% trans "Privacidad" %}</a></li>
                <li><a id="menu-feed" href="/#feedback">{% trans "Comentarios" %}</a></li>
                <li class="divider"></li>
                <li><a href="/account/logout/">{% trans "Cerrar sesi&oacute;n" %}</a></li>
            </ul>
        </div>
        <div id="groups-menu" class="btn-group pull-right">
            <div id="" class="topbar-btn dropdown-toggle" data-toggle="dropdown" title="">
                <span><img class="" src="/static/img/groups/default.jpg" alt='{% trans "Grupos" %}'  /> </span>
                <span class="dinline"> {% trans "Grupos" %}</span> <span class="caret topbar-caret"></span>
            </div>
            <ul class="dropdown-menu">
                {% for org in MY_ORGS %}
                    <li role="presentation" class="dropdown-header">{{ org.name }}</li>
                    {% for g in org.get_groups %}
                    <li title="">
                        <a class="group-link" href="{{ g.get_absolute_url }}">
                            {{g.name|title}}
                        {% if g.is_pro%}<span class="label label-info">Pro</span>{% endif %}
                        </a>
                    </li>
                    {% endfor %}
                    <!-- <li><a href="{{ org.get_absolute_url }}">{% trans 'Ver organización' %}</a></li> -->
                <li class="divider"></li>
                {% endfor %}
                <li class="divider"></li>
                <li><a href="{% url 'home' %}">{% trans "Ver todas mis organizaciones" %}</a></li>
            </ul>
        </div>
    </div>
    {%endif%}
    <div id="ac-load" class="pull-right mt10"></div>
</div>