{% load gravatartag i18n orgs_ttag humanize %}
<div id="topbar-menu" class="dib">
    <span class="suspension-points" style="display:none">...</span>
    <div id="account-menu" class="btn-group pull-right">
        <div id="log-sup" class="topbar-btn dropdown-toggle" data-toggle="dropdown" title="{% trans 'Configuración de cuenta' %}">
            <span><img class="size22 avatar img-circle b" src="{{ user.email|showgravatar:'32'}}" alt="{{user.first_name}}" /></span>
            <span class="dinline">
                {% if user.is_authenticated %}{{ user.username }}{% else %}{% trans "Iniciar Sesión" %}{% endif %}
            </span>
            <span class="caret topbar-caret"></span>
        </div>
        <ul class="dropdown-menu">
            <li class="current-user">
                <a href="{% url 'personal_data' %}">
                    <div class="content-box">
                        <img class="size32 avatar img-circle b" src="{{ user.email|showgravatar:'32'}}" alt="{{user.first_name}}" />
                        <span class="fullname">{{ user.first_name }} {{ user.last_name }}</span>
                        <small class="metadata">{% trans "Editar configuración" %}</small>
                    </div>
                </a>
            </li>
            <li><a href="/{{URL_PRIVACY}}">{% trans "Privacidad" %}</a></li>
            <li><a id="menu-feed" href="/#feedback">{% trans "Comentarios" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'log_out' %}">{% trans "Cerrar sesión" %}</a></li>
        </ul>
    </div>
    <div id="groups-menu" class="btn-group pull-right">
        <div id="" class="topbar-btn dropdown-toggle" data-toggle="dropdown" title="">
            <span><img class="" src="/static/img/groups/default.jpg" alt='{% trans "Grupos" %}'  /> </span>
            <span class="dinline"> {% trans "Grupos" %}</span> <span class="caret topbar-caret"></span>
        </div>
        <ul class="dropdown-menu">
            {% for org in MY_ORGS %}
                <li role="presentation" class="dropdown-header">{{ org.name }}</li>
                {% for g in org.get_groups|only_groups_of:user %}
                <li title="">
                    <a class="group-link" href="{{ g.get_absolute_url }}">{{ g.name|title }}</a>
                </li>
                {% empty %}
                <li class="disabled"><a href="#">{% trans '0 grupos' %}</a></li>
                {% endfor %}
                <!-- <li><a href="{{ org.get_absolute_url }}">{% trans 'Ver organización' %}</a></li> -->
            <li class="divider"></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{% url 'home' %}">{% trans "Ver todas mis organizaciones" %}</a></li>
            <li><a href="{% url 'create_org' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Crear organización" %}</a></li>
        </ul>
    </div>
    <div id="" class="btn-group pull-right notifications">
        <div id="" class="topbar-btn dropdown-toggle" data-toggle="dropdown" >
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="badge" >{{ SUMMARY_QUANTITY }}</span>
        </div>
        <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header"><strong>Resumen</strong></li>
            {% for item in SUMMARY_LIST %}
            <li >
                <div class ="notification-block notification-summary">
                    <a href="{% url 'list_pending_tasks'%}" >
                        <div class="notification-summary-glyphicon pull-left">
                            <span class="{{ item.glyphicon }}"></span>
                        </div>
                        <div class="notification-block-message pull-left">
                            <strong>{{ item.title }}</strong>
                        </div>
                        <div class="pull-left">
                            <span class="badge" >{{ item.quantity }}</span>
                        </div>
                    </a>
                </div>
            </li>
            {% endfor %}
            <li  class="dropdown-header notification-footer"></li>
        </ul>
    </div> 
    <div id="" class="btn-group pull-right notifications">
        <div id="" class="topbar-btn dropdown-toggle" data-toggle="dropdown" >
            <span class="glyphicon glyphicon-bell"></span>
            <span id="notificationNotViewed" class="badge " >{{ NOTIFICATIONS_NOT_VIEWED}}</span>
        </div>
        <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header"><strong>Notificaciones</strong></li>
            {% for notification in NOTIFICATIONS %}
            <li>
                <div class ="notification-block {% if not notification.viewed %} notification-active {% endif %}">
                    <a href="{{ notification.personalnotification.url }}" class="update-view" data-notification-id="{{ notification.id}}" data-url="{% url 'update_notification' %}">
                            
                        <div class="notification-block-img pull-left">
                            <img src="{{ notification.personalnotification.image}}" title="IMG" />
                        </div>
                        <div class="notification-block-message pull-left">
                            <p>
                            {% autoescape off %}
                            {{ notification.personalnotification.message}}
                            {% endautoescape %}
                            </p>
                            <span class="notification-datetime pull-right">{{ notification.created|naturaltime}}</span>
                            <span class="glyphicon {{ notification.personalnotification.glyphicon }} pull-left"></span>
                        </div>
                        
                    </a>
                </div>
            </li>
            {% endfor %}
            <li  class="dropdown-header notification-footer"><p><a href="{% url 'list_notifications'%}" class="btn btn-small">Ver todas</a></p></li>
        </ul>
    </div>
</div>

<style>
.notification-summary-glyphicon{
    width: 30px;
}

.notification-summary a {
    height: 33px;
}

</style>
