{% extends "base.html" %}
{% load gravatartag i18n %}
{% block TITLE %}{% trans 'Crear organización' %}{% endblock %}

{%block body%}
<article>
    <header >
        <div class="row">
            <div class="col-md-8">
                <div class="menu-icons icons-page icon-groups"></div>
                <h3>{% trans 'Crear organización' %}</h3>
            </div>
        </div>
    </header>
    <hr/>
    <div class="row-fluid">
 <!--        <div class="white-box-container info-box" id="try-trial">
            <div id="giftbox"></div>
            {% trans 'Pruébalo' %} <h2>{% trans '¡GRATIS!' %}</h2> {% trans 'por 30 días' %}
            <p>{% blocktrans with members=TRIAL_MEMBERS months=TRIAL_MONTH mon=TRIAL_MONTH|pluralize mem=TRIAL_MEMBERS|pluralize %}Crea una organización trial, puedes invitar a {{ members }} miembro{{ mem }} y probar los beneficios de Actarium gratis por {{ months }} mes{{ mon }}.{% endblocktrans %}*</p>
        </div> -->
        <div class="white-box-container info-box message-box">
            <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="">
                {% csrf_token %}
                <table class="">
                {{ package_form.as_table }}
                {{ form.as_table }}
                </table>
                <br><br>
                <input type="hidden" value="{{ref}}" name="ref" >
                <a href="{% url 'home' %}" class="btn btn-large"><span class="glyphicon glyphicon-arrow-left"></span> {% trans 'Volver' %}</a>
                <input type="submit" class="btn btn-large btn-info db" value="{% trans 'Crear' %}" >
            </form>
        </div>
    	<div class="white-box-container info-box" id="">
            <!-- <p>* {% trans 'No te preocupes, puedes ampliar tus cupos cuando quieras, tu información seguirá ahí :)' %}</p> -->
            <p class="lead">{% trans 'Necesita más miembros?' %} <a href="#" id="callFeed">{% trans 'Escríbanos aqui' %}</a></p>
        </div>
    </div>
</article>
{%endblock%}
{%block style%}
<style>
    @font-face{font-family: HelveticaNeueLT;src: url({{ STATIC_URL }}fonts/HELVETICANEUELTSTD-TH.OTF);}
    @font-face{font-family: Bebas;src: url({{ STATIC_URL }}fonts/BEBAS.TTF);}
	.white-box-container{text-align: center; margin: 0 auto;margin-bottom: 20px !important;width: 50%}
    #try-trial{font-family: HelveticaNeueLT;}
</style>
{%endblock%}

{% block js %}
<script>
    $(document).ready(function(){

    });
</script>
{% endblock %}