{% load i18n orgs_ttag %}
{% for g in org.get_groups|only_groups_of:user %}
<a href="{{ g.get_absolute_url }}">
    <div class="group-preview">
        <!-- <span class="pull-right group-notifications glyphicon glyphicon-bell"></span> -->
        <div class="group-circle">
        <span class="group-members-num" title="{{ g.get_num_members }} {% trans 'miembros' %}">{{ g.get_num_members }}</span>
        </div>
        <div class="group-permissions">
            <span title="{% trans 'Administrador de grupo' %}" class="glyphicon glyphicon-wrench"></span>
            <span title="{% trans 'Puedes redactar actas' %}" class="glyphicon glyphicon-pencil"></span>
            <span title="{% trans 'Apareces en las actas' %}" class="glyphicon glyphicon-user"></span>
        </div>
        <div class="group-name" title="{{ g.name }}"><p>{{ g.name }}</p></div>
    </div>
</a>
{% empty %}
<p>{% trans 'No tienes ningún grupo en tu organización' %} <strong>{{ org.name }}</strong></p>
<p>{% trans 'Organiza a tu equipo de trabajo en grupos como "Comité financiero", "Consejo Administrativo", etc.' %}</p>
{% endfor %}
{% if user_is_admin %}
<a href="{% url 'new_group' %}?org={{ org.id }}">
    <div class="group-preview btn-new-group">
        <div class="group-circle group-circle-plus">
            <span class="group-members-num btn-create-group" ><i class="glyphicon glyphicon-plus"></i></span>
        </div>
        <div class="group-permissions">
            <span class="glyphicon"></span>
        </div>
        <div class="group-name" title="{{ g.name }}">{% trans 'Crear grupo' %}</div>
    </div>
</a>
{% endif %}
