{% extends "organizations/menu.html" %}
{% load i18n gravatartag orgs_ttag %}
{% block TITLE %}{% trans 'Home' %}{% endblock %}

{% block content_menu %}
	{% include "organizations/team_templates.html" %}
	{% include "groups/add_member_dropdown/add_member_tpls.html" %}
	<div id="genericModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	</div>
    <div class="org-team">
    	<div class="row-fluid menu-title">
	    	<div class="col-md-8">
	    		<h3>{% blocktrans with n=org.name %}Miembros de {{ n }}{% endblocktrans %}</h3>
			</div>
            <div class="col-md-4 org-num-members">
                <div class="box">
                    <span class="pull-left">{% trans 'Miembros' %}</span>
                    <span class="pull-right"><span id="num-current-members">{{ current_members }}</span> {% trans 'de' %} {{ max_members }}</span>
                </div>
	    		<div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" id="org-num-members">
                    <span class="sr-only"></span>
                  </div>
                </div>
            </div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<form>
					<div class="col-xs-6 filter-members-container input-group">
					  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
					  <input type="text" id="filter_members" class="form-control " placeholder="{% trans 'Filtrar usuarios' %}" autofocus />
					</div>
				</form>
			</div>
			{% if is_org_admin %}
			<div class="col-md-4">
				<a href="#" class="btn btn-large actarium-dropdown" title=""><span class="glyphicon glyphicon-user glyphicon-plus"></span> {% trans 'Agregar miembro' %} <span class="caret"></span></a>
				{% include "groups/add_member_dropdown/add_member_dropdown.html" %}
			</div>
			{% endif %}
		</div>
		<hr>
		<div class="org-user-list">
			<ol id="orgListMembers" class="list-unstyleds"></ol>
		</div>
    </div>
{% endblock %}

{% block style_menu %}
<style>
	.org-team .org-team-box{width: 180px;}
	.org-team .menu-title{margin-top: 20px}
	.org-team .menu-title > div{padding-left: 0}
	.org-team .menu-title h3{margin-top: 0}
	.org-team .filter-members-container{padding: 0;}
	.org-team .org-num-members{max-width: 200px}
	.org-team .org-user-list > ul > li{position: relative;border-bottom: solid thin #eee;}
	.org-team .org-user-list .org-user-box{padding: 7px 5px;vertical-align: middle;display: inline-block;width: 100%; border-bottom: solid thin #dadada;}
	.org-team .org-user-list .org-user-box input[type='checkbox']{margin-top: 0px;}
	.org-team .org-user-list .org-user-box .org-user-info{margin-left: 6px}
	.org-team .org-user-list .org-user-box .org-user-info strong{font-size: 15px}
	.org-team .org-user-list .org-user-box .org-user-info p{color: #999;}
	.org-team .org-user-list .org-user-box .org-user-image{margin-top: 5px;}
	.org-team .org-user-list .org-user-box .org-user-options {margin-top: 10px;}
	.org-team .org-user-list .org-user-box .org-user-options:before {margin-top: 0px}
	.org-team .org-user-list .org-user-box .org-user-options > span{margin-right: 2px}
	/*.org-team .org-user-list .org-user-box .org-user-options ul.org-user-btn-list li{display: inline-block;}*/
	.dropdown-menu{z-index: 900}
	.is-member{color: red}
</style>
{% endblock %}

{% block js_menu %}
    <script src="{{ STATIC_PREFIX }}/js/vendor/jquery.fastLiveFilter.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/vendor/swig.min.js"></script>
<script src="{{STATIC_PREFIX}}js/vendor/jquery.nicescroll.min.js"></script>
    <script>
        $(document).ready(function(){
			max_members = {{ max_members }};
            $(".org-menu-container #org-team").addClass("active")
                .find("a > span").addClass("glyphicon glyphicon-chevron-right");

            $("a.disabled").tooltip();
            $("#org-num-members").css({"width": {{ total }} + "%"});

            members = [{% for u in org.organizationsuser_organization.get_members %}{"id": "{{ u.id }}", "email": "{{ u.email }}", "username": "{{ u.username }}", "image": "{{ u.email|showgravatar:28 }}", "full_name": "{{ u.get_full_name }}", "is_org_admin": {% has_role "u" "org" "is_admin" as u_is_admin %}{{ u_is_admin|lower }}},{% endfor %}]
            ctx = {members: members, watcher_is_org_admin: {{ is_org_admin|lower }}, watcher_id: {{ user.id }}};
			$("#orgListMembers").append(swig.render($("#orgListMembersTpl").html() , {locals: ctx}));

            $('#filter_members').fastLiveFilter('#orgListMembers');

            $(document).on("click", ".open-modal-groups", function (e) {
            	e.preventDefault();
            	var uname = $(this).closest(".org-user-options").attr("data-username");
            	sendNewAjax("{% url 'get_user_org_groups' org.slug %}",{"uname":uname}, function (data) {
	            	ctx = {"title": "{% trans 'Grupos de ' %}" + "@" + uname, "groups": data}
	            	$("#genericModal").html(swig.render($("#modalGroupsTemplate").html(), {locals: ctx})).modal();
            	});
            })
			{% if is_org_admin %}
            $(document).on("click", ".org-user-admin", change_admin);
            $(document).on("click", ".org-user-delete", delete_user);
            function change_admin (e) {
            	var checkbox = $(this);
            	var uname = checkbox.closest(".org-user-options").attr("data-username");
            	if(checkbox.is(":checked")){
            		var set = 1;
            	}
            	else{
            		var set = 0;
            	}
            	sendNewAjax("{% url 'config_admin_to_org' org.slug %}", {"uname":uname, "set_admin":set}, function (data){
            		if (data.error){
            			setAlertError("{% trans 'Error' %}", data.error);
            		}
            		else{
            			setAlertMessage("{% trans 'Rol cambiado' %}", data.msj);
            		}
            	},{"method": "post"});
            }
            function delete_user (e) {
            	var li = $(this).closest(".org-user-options");
            	var uname = li.attr("data-username");
            	user = {name: uname}
            	$("#genericModal").html(swig.render($("#deleteUserTpl").html(), {locals: user})).modal();
            	$("#deleteUser-" + uname).on("click", function (e){
            		sendNewAjax("{% url 'delete_member_org' org.slug %}", {"uname":uname}, function (data){
	            		$('#genericModal').modal('hide');
	            		if (data.error){
	            			setAlertError("{% trans 'Error' %}", data.error);
	            		}
	            		else{
	            			var total = parseInt($("#org-num-members").closest(".progress").css("width").slice(0,-2));
	            			var progress = parseInt($("#org-num-members").css("width").slice(0,-2));
	            			var p = Math.ceil((progress*100)/total);
	            			var new_w = (data.num_members*p/(data.num_members + 1));

	            			$("#num-current-members").text(data.num_members);
	            			$("#org-num-members").css("width", Math.ceil(new_w) + "%");
	            			setAlertMessage("{% trans 'Usuario eliminado de la organización' %}", data.msj);
	            			li.fadeOut();
	            		}
	            	},{"method": "post"});
            	});
            }
            {% endif %}
        });
		{% include "organizations/add_member/scripts.js" %}
    </script>
{% endblock %}