{% extends "base.html" %}
{% load gravatartag i18n %}
{% block TITLE %}{% trans 'Editar organización' %}{% endblock %}

{%block body%}
<article>
    <header >
        <div class="row">
            <div class="col-md-8">
                <div class="menu-icons icons-page icon-groups"></div>
                <h3>{% trans 'Editar organización' %}</h3>
            </div>
        </div>
    </header>
    <hr/>
    <div class="row-fluid">
    	<!-- <p>....</p> -->
        <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="">
        	{% csrf_token %}
        	<div class="white-box-container">
        		
        	{{ form.as_p }}<br><br>
			<input type="hidden" value="{{ref}}" name="ref" >
			<a href="{% url 'show_org' org.slug %}" class="btn btn-large"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
			<input type="submit" class="btn btn-large btn-info db" value="Crear" >
        	</div>
    	</form>
    </div>
</article>
{%endblock%}
{%block style%}
<style>
	.white-box-container{width: 40%;margin: 0 auto;}
</style>
{%endblock%}

{% block js %}
<script>
    $(document).ready(function(){

    });
</script>
{% endblock %}