{% extends "asettings/settings_menu.html" %}
{% load i18n %}
{% block TITLE %}{% trans 'Facturación' %}{% endblock %}
{% block bodysettings %}
{% url 'send_template' as send_template %}
<h3>{% trans 'Plantillas personalizadas' %}</h3>
<p>Su organización puede tener plantillas personalizadas para usar en Actarium y estandarizar sus procesos de creación de documentos, en este caso, Actas.
</p>
<p class="alert alert-warning" role="alert">:( {% trans 'Por el momento las plantillas personalizadas únicamente puden ser construidas por el equipo de desarrollo de Actarium, pero estamos construyendo una genial herramienta que te permitirá crearlas a tus necesidades y en cualquier momento.<br><br>Por ahora nos encargaremos de diseñar su plantilla en base a sus necesidades.' %}<br>
{% trans '¿Quiere tener tu propia plantilla?' %}
<a href="{{ send_template }}" class="btn btn-primary">{% trans 'Solicite su plantilla personalizada' %}</a>
</p>
<hr>
<h3>{% trans 'Sus plantillas personalizadas' %}</h3>
<div class="white-box-container">
	<p>{% trans 'Agregue sus plantillas personalizadas a los grupos que desee:' %}</p>
	<div>
		{% trans 'Asignar la plantilla' %} 
		<select name='id_template' id='id_template' class="btn">
		{% for template in templates %}
			<option id="option_template_{{template.id_template.pk}}" value="{{template.id_template.pk}}">{{ template.id_template.name}}</option>
		{% endfor %}
		</select>
		{% trans 'al grupo' %}
		<select name='id_group' id='id_group' class="btn">
		{% for g in groups %}
			<option id="option_group_{{g.id_group.pk}}" value="{{g.id_group.pk}}" data-group-slug="{{ g.id_group.slug }}">{{ g.id_group.name}}</option>
		{% endfor %}
		</select>.
		<button id="btn_assign_template" class="btn btn-success"> <span class="glyphicon glyphicon-ok"></span> {% trans 'Asignar' %}</button>
	</div>
	<hr>
	<p>{% trans 'Lista de plantillas personalizadas asignadas a grupos' %}</p>
	<br />
	<table class="table table-striped" id="private_templates">
		<tr>
			<th>{% trans 'Plantilla personalizada' %}</th>
			<th>{% trans 'Grupo' %}</th>
			<th>{% trans 'Eliminar' %}</th>
		</tr>
		{% for l in private_templates_assigned %}
			<tr id="id_template_{{l.id_template.pk}}_id_group_{{ l.id_group.pk}}">
				<td>{{ l.id_template.name }}</td>
				<td><a href="/groups/{{ l.id_group.slug }}">{{ l.id_group.name }}</a></td>
				<td><button class="btn button-action btn_unassign_template no" data-id-template="{{ l.id_template.pk }}" data-id-group="{{ l.id_group.pk}}"><span class="glyphicon glyphicon-trash"></span></a></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}

{% block settings_style %}
<style>
	#select-time{width: 60px;}
	#btn_assign_template{margin-left: 10px;}
</style>
{% endblock %}
{% block settings_js %}
<script type="text/javascript" ><!--
	$(document).ready(function() {
		$("#settings-templates").addClass("active");
		$("#btn_assign_template").on("click", function(e){
			e.preventDefault();
			id_template=$("#id_template").val();
			id_group=$("#id_group").val();
	    	sendAjax("{% url 'assign_templates' %}",
	    			{id_template:id_template,id_group:id_group},
	    			"#load_packages",
	    			function(data){
		    			if (data=="True"){
			    			name_template = $("#option_template_"+id_template).html();
			    			name_group = $("#option_group_"+id_group).html();
			    			slug_group = $("#option_group_"+id_group).attr("data-group-slug");
			    			$("#private_templates").append("<tr id='id_template_"+id_template+"_id_group_"+id_group+"'><td>"+name_template+
					    			"</td><td><a href='/groups/"+slug_group+"'>"+name_group+"</a></td>"+
					    			"<td><button class='btn button-action btn_unassign_template no' data-id-template='"+id_template+"' data-id-group='"+id_group+"'><li class='glyphicon glyphicon-trash'></li></button></td></tr>");
					    	setButtons();
					    	setAlertMessage("{% trans 'Plantilla asignada' %}!", "{% trans 'La plantilla' %} "+name_template+" {% trans 'ha sido asignada correctamente al grupo' %} "+name_group);
			    		    
		    			}
		    			else{
		    				setAlertError("{% trans 'Ha ocurrido un error!' %}", data);
		    			}
	    			}
	    	);
		});
		function setButtons(){
			$(".btn_unassign_template.no").click(function(e){
				e.preventDefault();
				if (confirm("{% trans 'Estas seguro que deseas retirar la plantilla, si lo haces no podras crear actas con esta plantilla hasta que vuelvas a asignarla' %}")){
					id_template=$(this).attr("data-id-template");
					id_group=$(this).attr("data-id-group");
			    	sendAjax("{% url 'unassign_templates' %}",
			    			{id_template:id_template,id_group:id_group},
			    			"#load_packages",
			    			function(data){
				    			if (data=="True"){
					    			name_template = $("#option_template_"+id_template).html();
					    			name_group = $("#option_group_"+id_group).html();
					    			slug_group = $("#option_group_"+id_group).attr("data-group-slug");
					    			$("#id_template_"+id_template+"_id_group_"+id_group).css('display','none').remove();
							    	setAlertMessage("{% trans 'Plantilla retirada' %}", "{% trans 'Se ha retirado correctamente la plantilla' %} "+name_template+" {% trans 'del grupo' %} "+name_group);
				    			}
				    			else{
				    				setAlertError("{% trans 'Ha ocurrido un error!' %}", data);
				    			}
			    			}
			    	)
				}
			});
			$(".btn_unassign_template.no").removeClass("no");
		}
		setButtons();
		
	});

</script>
{% endblock %}