{% extends "base.html" %}


{%block body%}
<article class="">
	<div class="row-fluid">
  		<section id="settings-menu" class="col-md-3" >
	    	<div class="bs-docs-sidebar">
		        <ul class="nav nav-list bs-docs-sidenav">
					<li id="settings-personal-data" >
						<a href="/account"><i class="glyphicon glyphicon-chevron-right"></i>Datos personales</a>
					</li>
					<li id="settings-password"><a href="/account/changePassword"><i class="glyphicon glyphicon-chevron-right"></i>Contrase&ntilde;a</a></li>
					<li id="settings-dni"><a href="/account/dni"><i class="glyphicon glyphicon-chevron-right"></i>DNI</a></li>
					<li id="settings-templates" ><a href="/settings/templates"><i class="glyphicon glyphicon-chevron-right"></i>Plantillas</a></li>
					<li ><a href="{% url 'list_notifications' %}"><i class="glyphicon glyphicon-chevron-right"></i>Notificaciones</a></li>
			        {% if user.is_staff %}
                    <li id="settings-actions" style="margin-top:50px"><a href="/actions"><i class="glyphicon glyphicon-chevron-right"></i>Acciones</a></li>
                    <li id="settings-views"><a href="/actions/views"><i class="glyphicon glyphicon-chevron-right"></i>Visitas a Paginas</a></li>
                    <li id="settings-viewsstats"><a href="/actions/viewsstats"><i class="glyphicon glyphicon-chevron-right"></i>Estadistica de visitas</a></li>
                    <li id="settings-feedback"><a href="/settings/feedback"><i class="glyphicon glyphicon-chevron-right"></i>Feedback</a></li>
                    <li id="settings-admin-orders"><a href="{% url 'services:admin_orders' %}"><i class="glyphicon glyphicon-chevron-right"></i>Ordenes</a></li>
                    {% endif %} 
		        </ul>
      		</div>
    	</section>
	    <section id="settings-container" class="col-md-9 b">
		   		{% block bodysettings %}{% endblock %}
	    </section>
	</div>
   
</article>
{%endblock%}

{% block style_libs %}
{%block settings_style_libs %}{% endblock %}
{% endblock %}

{%block style%}
<style>
	section{padding: 0}
	#settings-menu ul{
		margin: 0;
	}
	#settings-container{
		background-color: #fff;
		padding: 20px 15px;
		border-radius: 5px;
	}
	#settings-header{
		color: #7a7a7a;
		margin-top: 0px;
	}
	.glyphicon-chevron-right{float: right;}
</style>
{%block settings_style%}{% endblock %}
{%endblock%}

{% block js %}
{% block settings_js %}{% endblock  %}
{% endblock %}

{% block js_libs %}
	{%block settings_js_libs%}{%endblock%}
{% endblock%}