{% load i18n %}
<section class="row-fluid">
    <article id="minutes" class="minutes hoja">
        <div id="headerContent">
            <table class="table table-bordered table-header">
                <tr>
                    <td><div class="logo text-center"><img  src="{{ URL_BASE }}{{ template.logo.url_200x70 }}" title="Logo" alt="" /></div></td>
                    <td class="text-center text-middel"><p class="strong">{% trans 'ACTA' %} {{ group.name|upper }}<br></p></td>
                    <td class="text-center text-middel"><p class="strong">{% trans 'ACTA No.' %} <span id="id_code_title" >{{ newMinutesForm.code }}</span><br></p> <span class="error-container">{{ newMinutesForm.code.errors }}</span>
                    </td>
                </tr>
            </table>
        </div>
    	<div id="minutesContent">
            
            <div class="hidden" style="display:none">{{ newMinutesForm.type_reunion }}</div>
            <div class="hidden">
                <input type="text" placeholder="Lugar" name="location" id="id_location" value="&nbsp;" />
            </div>
            
            <table class="table table-bordered ">
                <tr>
                    <td class="text-middel col-40"><p class="strong">{% trans 'FECHA / HORA' %}</p></td>
                    <td>
                        {% if is_form %}
                        <div>
                            <span class="error-container">{{ newMinutesForm.date_start.errors }}</span>
                            {% if is_edit %}
                                {% trans 'Inicio' %}: <input class="date-pick" id="id_date_start" name="date_start" placeholder="{{newMinutesForm.date_start.label}}" type="text" value="{{newMinutesForm.date_start.value|date:'Y-m-d g:i A'}}">
                            {% else %}
                                {% trans 'Inicio' %}: {{ newMinutesForm.date_start|safe }}
                            {% endif %}
                        </div>
                        <div>
                            <span class="error-container">{{ newMinutesForm.date_end.errors }}</span>
                            {% if is_edit %}
                                {% trans 'Final' %}: <input id="id_date_end" type="text" class="date-pick" name="date_end" value="{{newMinutesForm.date_end.value|date:'Y-m-d g:i A'}}" placeholder="{{newMinutesForm.date_end.label}}" />
                            {% else %}
                                {% trans 'Final' %}: {{ newMinutesForm.date_end|safe }}
                            {% endif %}
                        </div>
                        {%else%}
                        <p>{% trans 'Inicio' %}: {{ newMinutesForm.date_start|date:"l d \d\e F \d\e Y \a \l\a\s g:i a"}}</p>
                        <p>{% trans 'Final' %}: {{ newMinutesForm.date_end|date:"l d \d\e F \d\e Y \a \l\a\s g:i a"}}</p>
                        {% endif%}
                    </td>
                </tr>
                <tr>
                    <td class="text-middel" ><p class="strong">{% trans 'ASISTENTES' %}</p></td>
                    <td >
                        <ul class="list-unstyled members-list">
                        {% for member in members_selected%}
                           <li class="member-{{ member.id_user.id }}">
                           {{ member.id_user.first_name }} {{ member.id_user.last_name }}
                           </li>
                        {% empty %}
                            <li class="empty-list">
                                <i>{% trans 'Selecciona los asistentes en el panel: "Roles de acta", a la derecha de la ventana' %}</i>
                            </li>
                        {% endfor%}
                        </ul>
                   </td>
                </tr>
            </table>
            <table class="table table-bordered ">
                <tr>
                    <td ><span class="strong">{% trans 'ORDEN DEL DÍA' %}</span>
                        <span class="error-container">{{ newMinutesForm.agenda.errors }}</span> 
                    </td>
                </tr>
                <tr>
                    <td class="tinymce-textareas">
                        {{ newMinutesForm.agenda|safe }}
                    </td>
                </tr>
                <tr>
                    <td ><span class="strong">{% trans 'DESARROLLO ORDEN DEL DÍA' %}</span>
                        <span class="error-container">{{ newMinutesForm.agreement.errors }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="tinymce-textareas">
                        {{ newMinutesForm.agreement|safe }}
                    </td>
                </tr>
            </table>
            <br><br>
            <div id="firmas">
                <table class="table-no-border">
                    <tr>
                        {% if president.user %}
                        <td class="no-bordered">
                            _______________________________ <br>
                            {{president.user.id_user.first_name|upper}} {{president.user.id_user.last_name|upper}}<br>
                            {% trans 'Presidente' %}
                            {% if show_dni %}
                                <br>{{ president.dni_type }} {{ president.dni }}
                            {% endif %}
                        </td>
                        {% endif %}
                        {% if secretary.user %}
                        <td class="no-bordered">
                            _______________________________ <br>
                            {{secretary.user.id_user.first_name|upper}} {{secretary.user.id_user.last_name|upper}}<br>
                            {% trans 'Secretario' %}
                            {% if show_dni %}
                                <br>{{ secretary.dni_type }} {{ secretary.dni }}
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                        {% for members in members_signers%}
                    <tr>
                        {% for m in members %}
                        <td class="no-bordered">
                                _______________________________ <br>
                                {{m.signer.id_user.first_name|upper}} {{m.signer.id_user.last_name|upper  }}
                                {% if show_dni %}
                                <br>{{ m.dni_type }} {{ m.dni }}
                                {% endif %}
                        </td>
                        {% endfor %}
                   </tr>
                        {% endfor%}
                </table>
            </div>
            <br><br><br><br>
            <!-- <table class="table-invisible"><tr><td></td></tr></table> -->
    	</div>
        <div id="footerContent">
        </div>
    </article>
</section>

